{include file="header.tpl.html" achtergrondkleur=$item.ACHTERGRONDKLEUR letterkleur=$item.LETTERKLEUR}
<body>
    <div class="ideeenbusform">
        <h1>Bedankt voor het delen van jouw idee of suggestie!</h1>
    </div>
</body>
</html>

