{include file="header.tpl.html" achtergrondkleur=$item.ACHTERGRONDKLEUR letterkleur=$item.LETTERKLEUR}
<body>
    <div class="ideeenbusform">
        <h1>Ideeënbus</h1>
        {if $item === FALSE}
        <div class="subtitle">De ideeënbus kan niet getoond worden.</div>
        {else if $item.ACTIEF == 'N'}
        <div class="subtitle">Deze ideeënbus is momenteel niet actief.</div>
        {else}
        <form action="/ideeenbus/{$id}/" method="post">
            <p class="subtitle">Deel jouw idee, opmerking of suggestie. Makkelijk en anoniem.</p>
            <textarea name="idee" placeholder="Jouw idee, opmerking of suggestie..." required></textarea>
            <input type="text" name="naam" placeholder="Naam (optioneel)">
            <input type="text" name="team" placeholder="Team/afdeling (optioneel)">
            <button type="submit">Verzenden</button>
            <div class="footer">
                <h2>{$item.CLIENTNAME}</h2>
                <div class="maxia">&copy; Maxia {$smarty.now|date_format:"%Y"}</div>
            </div>
        </form>
        {/if}
    </div>
</body>
</html>
