<style>
    .slimScrollDiv>div {
        height:50vmax;
        background-image: url('{$serverroot}/branding/maxia/img/ideeenbus.webp');
        background-size: 70vh;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-position: right -60px;
    }
    .header-actions {
        width:50%;
    }
    .element-detail-box {
        margin-right:45%;
    }
    .qrcode-locatie {
        margin-top: -5px;
        font-size: 1.5em;
    }
    .ibox-footer {
        font-size: 1.0em;
    }
</style>

<div class="element-detail-box" id="datalistview">

    <a href="{$callerquery}insert/" type="button" class="btn btn-primary m-b-md">{icon name="add"} Voeg een poster toe</a>

    {section name=i loop=$items}

<div class="ibox border-bottom dr" id="row@{$items[i].PLR__RECORDID}">
    <div class="ibox-title">

        <div class="qrcode-locatie">
            {icon name="qr_code_2" size="2x"}
             Poster <b>{$items[i].PLEK}</b>
        </div>
        <div class="ibox-tools">
            <span class="dropdown">
                <a class="edit_mnu jump" data-toggle="dropdown" href="/app/ideeenbus/const/ib_qrcodes/edit/{$items[i].PLR__RECORDID}/">
                    {icon name="more_vert"}
                </a>
            </span>

            <a class="collapse-link">
                {icon name="keyboard_arrow_down"}
            </a>
        </div>
    </div>
    <div class="ibox-content" style="display: none;">

        <div class="row">
            <div class="col-md-7">
                <div class="qrcode-titel">{$items[i].BESCHRIJVING|default:''}</div>
                <img width="190px"src="{$items[i].qrcode}" alt="QR Code">
            </div>
            <div class="col-md-5">
                <a href="{$items[i].url}" target="_blank" class="btn btn-block btn-success">Open het formulier</a>
                <a href="{$items[i].qrcode}" download="QR_Code_{$items[i].LOCATIE}.svg" class="btn btn-block btn-success">Download QR Code</a>
                <a href="{$serverroot}/services/json/app/ideeenbus/const/ib_qrcodes/edit/{$items[i].PLR__RECORDID}/?event=ideeenbusposter" class="btn btn-block btn-success">Download Poster</a>
            </div>
        </div>

    </div>
    <div class="ibox-footer">
        <span class="pull-right">
            Aantal ideeen: <b>{$items[i].IDEEENBUS_COUNT}</b> &nbsp; &nbsp;
            Aantal views: <b>{$items[i].AANTAL_VIEWS|default:0}</b><br/>
        </span>
        Laatst gebruikt: <b>{$items[i].LAATSTE_IDEE|default:'nog niet gebruikt'}</b>
    </div>
</div>

{/section}
</div>
