.fc-event:hover .btn-event-group {
    display:block;
}

.btn-event-group {
    display: none;
    position: absolute;
    z-index:1000;
    top: 3px;
    right: 6px;
}
.btn-event-group .btn-event {
    color: #fff;
    background-color: transparent;
    width:25px;
    height:25px;
    padding: 3px 8px 3px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn-event-group .btn-event:hover, .btn-event-group .btn-event:active {
    color: #fff !important;
    background-color: rgba(0,0,0,0.2) !important;
}
.btn-event-group button i {
    font-size:1.8em;
    line-height:1em;
    font-family: var(--symbol-font-family);
}

.btn-event-delete {
    right:40px;
}

.reserveringen-functies-dropdown {
    position: absolute !important;
    z-index: 20000000;
    top:30px;
}
.reserveringen-functies-dropdown a {
    background-color: transparent;
    border-color: transparent;
}
.reserveringen-functies-dropdown i {
    font-family: var(--symbol-font-family);
}

.polaris-name {
    display: inline-block;
    position: absolute;
    left:10px;
    top:0px;
    /* margin-top:-10px; */
    padding: 10px 20px 10px 20px;
    border-radius: 0 0px 5px 5px;

    vertical-align: text-bottom;
    background-color: #ED5564;
    line-height: 1.2em;
    font-weight: bold;
    color:#fff;
    font-size:1.8em !important;
}
#const_reserveringen_overzicht_api .fc-toolbar-chunk:first-child {
    margin-left: 120px;
}

.fc-datagrid-cell-main {
    font-weight: bold;
}

.fc .fc-datagrid-cell-cushion {
    white-space: wrap !important;
}

.resource-name, .resource-desc, .resource-locatie {
    width:100%;
    overflow-x: hidden;
    height:auto;
}
.resource-name {
    font-size: 1em;
}
.resource-name:hover, .resource-desc:hover {
    overflow-x: auto;
    width: 100%;
}

.resource-desc {
    font-size: 0.9em;
    color: #999;
}
.resource-locatie {
    font-weight: bold;
    font-size: 0.8em;
    color: #666;
}

.foto-popup {
    cursor: pointer;
}
.popover:has(.plattegrond-ruimte-foto) {
    min-width: 50vw !important;
}
.plattegrond-ruimte-foto {
    max-width:45vw;
}

.popover:has(.rsv-ruimte-foto) {
    min-width: 30vw !important;
}
.rsv-ruimte-foto {
    position: absolute;
    border-radius: 8px;
    max-height:150px;
    right:10px;
    top:40px;
}