<div class="container"><p><b>Kruis de uitrusting aan die nodig is bij de reservering.</b></p></div>
<div id="uitrusting_block" class="container uitrusting_block">

    <div class="row p-h-xs">
        <div class="col-md-12">
            <label>
                <input type="hidden" class="AANVRAAG_ID" name="fb_reserveringen_intern_uitrusting!AANVRAAG_ID[]" value="__parentvalue__" />
                <input type="hidden" class="CLIENT_HASH" name="fb_reserveringen_intern_uitrusting!CLIENT_HASH[]" value="__parentvalue__" />
                <input type="hidden" class="_hdnState" name="fb_reserveringen_intern_uitrusting!_hdnState[]" value="__nothing__" />
                <input type="hidden" class="_hdnRecordID" name="fb_reserveringen_intern_uitrusting!_hdnRecordID[]" value="{$uitrusting[i].PLR__RECORDID}" />
                <input type="hidden" class="UITRUSTING_ID" name="fb_reserveringen_intern_uitrusting!UITRUSTING_ID[{$smarty.section.i.index}]" value="0" />
                <input class="icheck" type="checkbox" name="fb_reserveringen_intern_uitrusting!UITRUSTING_ID[{$smarty.section.i.index}]" value="{$uitrusting[i].UITRUSTING_ID}" {if $uitrusting[i].CHECKED}checked="checked"{/if} />
                <i></i> <span class="UITRUSTING_NAAM"></span>
            </label>
            <span class="VERWIJDERD_VAN_RUIMTEUITRUSTING"></span>
        </div>
    </div>

</div>
