label.label {width:100px !important;}

.pagecontents {position:relative;height:300px;padding:10px;}

#page_sql {position:relative;}

#sqlquery {height:100%;border:none;font-family:courier;width:97%;background-color:#FFF6D4;font-size:1.1em; overflow: auto; /* white-space: nowrap;  ZORGT VOOR RARE TEKENS (=GEEN RETURNS) IN SQL*/}

#sqlresult{border:1px solid #ddd;background-color:#f3f3f3; padding:1em;margin:10px 0 10px 0; overflow:auto;}

#sqlresult th {padding-right:4px;}
