/*
 * Made by WebDesignCrowd
 * http://webdesigncrowd.com
 *
 */

html, body {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  color: #333;
  background-color: #ccc;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

ul { margin: 0; padding: 0; }
ul li { list-style: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: 300;
}
  h1:hover {
    border-color: #72a329;
  }
h2 {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 40px;
}
h3 {
  margin: 30px 0 15px 0;
  letter-spacing: .5px;
}

hr {
  border-color: #eee;
  margin: 0;
}

a {
  font-family: "Londrina Outline", Helvetica, Arial, sans-serif;
  font-weight: normal;

  -webkit-transition: color .3s;
  transition: color .3s;
}
a:hover, a:focus {
  color: #777;
  text-decoration: none;
}
p {
  color: #aaa;
  font-size: 14px;
}

/* button styles */
.btn {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  padding: 8px 20px;
  margin: 10px 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 2px solid rgba(255,255,255,.5);
  color: rgba(255,255,255,.8);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: .3s;
  transition: .3s;
}
  .btn:hover {
    border-color: rgba(255,255,255,.8);
    color: #fff;
  }

  .btn:hover i { color: #fff; }
  .btn:active {
    top: 2px;
    box-shadow: none;
  }
  .btn.active {
    background-color: rgba(0,0,0,.1);
    border-color: #fff;
    color: #fff;
  }


/* Container */
.container {
  width: 80%;
  padding: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row.last {
  margin-bottom: 0;
}

/* Colors */

  /* Body Background Color */
  body.blue .tab-content,
  body.blue .section,
  body.blue .parallax { /*background-color: #7db9e8;*/ }
  body.blue #home {
    /*background: rgb(148,211,224); /* Old browsers */
    height:100%;
    background-image: radial-gradient(circle farthest-corner at right bottom, #ac9cd5 0%, #8e7ec2 28%, #6561af 57%, #1a2565 100%);
  }
    background: -moz-linear-gradient(top,  rgba(148,211,224,1) 0%, rgba(125,185,232,1) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(148,211,224,1)), color-stop(80%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(148,211,224,1) 0%,rgba(125,185,232,1) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(148,211,224,1) 0%,rgba(125,185,232,1) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(148,211,224,1) 0%,rgba(125,185,232,1) 80%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(148,211,224,1) 0%,rgba(125,185,232,1) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d3e0', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

  /* anchor colors */
  body.blue p a { color: #0970a0; }
    body.blue p a:hover { color: #7db9e8; }

  /* Modal Link Color */
  body.blue .modal a { color: #3c5fc1; }

  /* Thumbnail hover color */
  body.blue .thumbnail:hover { border-color: #428bca; }

  /* Team border color */
  body.blue #team .wrapper:hover a.portrait-wrapper {
    border-color: #69ace0;
    background-color: #69ace0;
  }

  /* P highlight colors */
  body.blue span.highlight { color: #69ace0; }



  /* btn colors */
  body.blue .btn.color {
    border-color: rgba(127, 201, 255, .8);
    color: #999;
  }
    body.blue .btn.color:hover {
      background-color: rgb(80, 171, 237);
      border-color: rgb(80, 171, 237);
      color: #fff;
    }

/* Basic Form Styles */
form {
  position: relative;
  width: 100%;
}


form .btn {
  float: left;
  width:100%;
}

.form-group {
  width: 100%;
  margin: 0 0 20px 0;
}
  .form-group label {
    float: left;
    margin: 0;
    text-align: center;
  }
    .form-group label i {
      position: relative;
      margin: 0 auto;
      left: -20px;
      right: 0;
      color: transparent;
      font-size: 28px;
      line-height: 50px;

      -webkit-transition: .3s;
      transition: .3s;
    }

  .form-group.textarea { border: 0; }
    .form-group.textarea label { height: 200px; }

  .form-group input,
  .form-group textarea {
    width: 80%;
    margin: 0 auto;
  }


input,
textarea,
input.form-control,
textarea.form-control {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  outline: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #ddd;
  padding: 0 0 0 15px;
  background-color: rgba(255,255,255,0.5);
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.6);
  font-weight:normal;
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.6);
  font-weight:normal;
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.6);
  font-weight:normal;
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);
  font-weight:normal;
}

textarea.form-control,
textarea.form-control:focus {
  height: 200px;
  resize: none;
  padding-top: 18px;
}
input.form-control:focus {
  border-color:#ffbc00;
}

label {
  font-weight: normal;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Empty space for empty columns */
.section .row .empty[class^='col-md-'] {
  margin-bottom: 0;
}

/* Full Height Column */
.section .row .full[class^='col-md-'] {
  height: 100%;
}

/*  SECTION
 *    stylings for sections
 *
 *
 */

.section {
  overflow: hidden;
  background-color: #fff;
}
  .section.dark {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    position: relative;
  }
  .section.gray { background-color: #f9f9f9; }

  body .section.clear { background-color: transparent; }
  .section.footer-padding {
    padding-bottom: 80px;
  }
  .section.bottom {
    margin-bottom: 300px;
  }

  .section p {
    line-height: 25px;
  }
    .section p.description {
      text-align: left;
      color: #999;
      font-size: 18px;
      line-height: 36px;
      margin-bottom: 50px;
    }
      .section.dark p.description {
        color: rgba(255,255,255,.5);
      }

  .section .container {
    position: relative;
    padding: 20px 0;
    width: 80%;
  }
    .section .container.first {
      padding-top: 25px;
    }
    .section .container.no-top { padding-top: 0; }
    .section .container.no-bottom { padding-bottom: 0; }
    .section .container.no-pad { padding: 0; }


    .section .container .content {
      padding: 0 30px;
    }

  /* Image Preview */
  .section .preview { max-width: 680px; }

  .section h1, .section h2, .section h3, .section h4, .section h5, .section h6,
  .section .h1, .section .h2, .section .h3, .section .h4, .section .h5, .section .h6 {
    color: #444;
  }
  .section.dark h1, .section.dark h2, .section.dark h3, .section.dark h4, .section.dark h5,
  .section.dark h6, .section.dark .h1, .section.dark .h2, .section.dark .h3, .section.dark .h4,
  .section.dark .h5, .section.dark .h6 {
    color: #ddd;
  }
    .section h2.title {
      font-size: 34px;
      font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
      font-weight: bold;
      display: inline-block;
    }
      .section.dark h2.title {
        color: #fff;
      }
    .section h2.title.single { margin: 0; }

/* For extra small devices, turn off affix properties */
@media (max-width: 992px) {

  .section .fixed-wrapper h1.affix {
    top: 0;
    left: 0;
  }
  .section h2 { margin: 30px 0 20px 0; }

  .section .container .content {
    padding: 0;
  }
}
@media (max-width: 420px) {
  img.background {
    height: 100%;
  }
    .section h1 {
      font-size: 30px;
      margin: 18px 0 35px 0;
    }
    span.logo.glyphicon { margin-top: 20px; }
}
@media (max-width: 767px) {
  .section .container,
  .container {
    width: 90%;
  }
    .section .container {
      padding: 50px 0;
    }

  .section h2 {
    margin-bottom: 35px;
    text-align: center;
  }

  .section .content {
    text-align: center;
  }
    .section .browser-preview {
      padding: 0;
      width: 100%;
    }
      .section .browser-preview img.preview {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
      }

    .section .container.subscribe {
      padding: 20px 0;
    }
      .section .container.subscribe h2 { font-size: 20px; }
        .section .container.subscribe .btn {
          font-size: 14px;
          margin-bottom: 20px;
        }
        .section .container.subscribe .row [class*="col-"] { margin: 0; }

  img.background {
    background-attachment: scroll;
    position: absolute;
  }
}

/*  HOME
 *    carousel stylings
 *
 *
 */

#home {
  padding: 0 0 50px 0;
  text-align: center;
}

  #home .row {
    margin: 0;
  }

    #home .logo {
      position: relative;
      text-align: center;
      height: 20%;
      color: #fff;
      font-size: 66px;
    }
      #home .logo i {
        color: rgba(255,255,255,.9);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

    #home h1 {
      display: block;
      padding-top: 80px;
      margin: 10px;
      height: 60%;
      color: rgba(255,255,255,.9);
      font-size: 40px;
      -webkit-font-smoothing: antialiased;
    }
      #home h1 span {
        color: rgba(255,255,255,.7);
        font-size: 26px;
      }

    #home .call-to-action {
      margin: 0;
      height: 20%;
    }

    #home .bottom {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: 0;
    }

    /* Macbook product preview */
    #home.macbook .logo {
      padding-top:15px;
      height: 43%;
    }
    #home.macbook h1 {
      padding-top: 0px;
      height: 10%;
    }
    #home.macbook .macbook-preview {
      position: relative;
      height: 50%;
    }
      #home.macbook .macbook-preview img.outline {
        position: relative;
        z-index: 1;
      }
      #home.macbook .macbook-preview img.shot {
        width: 100%;
      }

      #home.macbook .carousel-inner {
        top: 30px;
        left: 50%;
        margin-left: -295px;
        width: 590px;
        position: absolute;
        z-index: 0;
      }

      #home.macbook .carousel-control i {
        top: 20%;
        color: #fff;
      }

  @media (max-width: 992px) {
    .carousel { margin-bottom: 30px; }

      #home.macbook .macbook-preview img.outline { width: 600px; }
      #home.macbook .carousel-inner {
        top: 20px;
        margin-left: -225px;
        width: 450px;
      }

    #home h1 {
      font-size: 30px;
      line-height: 40px;
      padding-top: 15%;
    }

    #home .bottom { bottom: 20px; }
  }

  @media (max-width: 768px) {

    #home.macbook .macbook-preview { margin-top: 10%; }
    #home.macbook .macbook-preview img.outline { width: 360px; }
    #home.macbook .carousel-inner {
      top: 15px;
      margin-left: -135px;
      width: 270px;
    }

    #home.macbook .carousel-control i { top: 40%; }
    #home.macbook .carousel-control.left i { left: 0; }
    #home.macbook .carousel-control.right i { right: 0; }

  }

  @media (max-width: 420px) {

    #home.macbook .macbook-preview { display: none; }
    #home.macbook .logo { height: 20%; }

    #home .bottom { display: none; }

    #home h1 {
      font-size: 23px;
    }
    #home h1 span { font-size: 18px; }

    #home .container { padding-top: 50px; }
  }

/*  SERVICES
 *    stylings for services content
 *    Supports left and right image slide in
 *
 */
#services {
  color: #444;
  min-height: 0;
  position: relative;
  overflow: hidden;
}
  .service {
    text-align: center;
    padding: 0 30px;
  }

    .service:hover .icon-wrapper i { color: #444; }

    .service h3 {
      padding: 25px 0;
      margin: 0;
      text-align: center;
    }
    .service p {
      text-align: left;
      padding: 0 0 20px 0;
      margin: 0;
    }


  #services h3 {
    color: #777;
    font-size: 16px;
    padding: 30px 0 10px 0;
  }

  #services .service-icon {
    text-align: center;
    color: #fff;
  }
    #services .service-icon i:hover  {
      color: #fff;
    }
    #services .service-icon i {
      margin: 0 auto;
      color: rgba(255,255,255,.7);
      display: inline-block;
      font-size: 40px;
      display: block;
      height: 100px;
      width: 100px;
      padding-top: 25px;

      border: 4px solid rgba(237,200,14,.7);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      -webkit-transition: background-color .3s;
      transition: background-color .3s;
    }
    #services .service-icon span {
      display: block;
      margin-top: 20px;
    }

@media (min-width: 420px) and (max-width: 768px) {
  .service p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #services .row [class*="col-"] {
    margin-bottom: 30px;
    text-align: left;
  }
}

/*  CLIENTS
 *    stylings for clients content
 *    Supports multiple image carousel
 *
 */
#clients { }

  #clients .row {
    margin-left: 30px;
    margin-right: 30px;
  }

  #clients .row [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .thumbnail {
    height: 150px;
    border-width: 3px;
    border-radius: 0;
    border-color: #ddd;
  }
    .thumbnail img {
      position: relative;
      top: 50%;
      margin-top: -15px;
      height: 30px;

      -webkit-transition: .3s;
      transition: .3s;

      /* Cross Browser Opacity */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
    }
    .thumbnail:hover img {
      /* Cross Browser Opacity */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
    }


  @media (max-width: 992px) {
    #clients .row [class*="col-"] {
      margin-bottom: 20px;
    }

    .thumbnail {
      height: 70px;
    }


  }


/*  FEATURES
 *    left / right featurettes
 *
 */
#features {

}
  #features h2 {
    margin-bottom: 55px;
  }
  #features p {
    font-size: 16px;
    color: #888;
  }

  #features img.slide-in {
    position: relative;
  }
    #features img.slide-in.right {
      float: right;
    }
    #features img.slide-in.left {
      float: right;
    }
    #features img.slide-in.up {
      display: block;
      margin: 50px auto 0 auto;
      float: none;
    }


  #features .row {
    margin: 0;
  }
    #features .row [class*="col-"] { margin-bottom: 0; }

  #features .row.left {

  }
    #features .row.left img {
      margin: 0 auto;
    }

  #features .row.right {

  }
    #features .row.right [class*="col-"] {
      float: right;
    }


  @media (max-width: 992px) {
    #features .row {
      margin: 0;
      height: auto;
    }

  }
  @media (max-width: 768px) {
    #features img { max-width: 100%; }
  }

/*  PORTFOLIO
 *    stylings for portfolio
 *    MixItUp
 *
 */
#work {
  text-align: center;
}
  #work p.description { margin-bottom: 20px; }

  .controls {
    display: block;
    margin-bottom: 30px;
  }
    .controls .filter {
      position: relative;
      margin: 20px 5px;
    }
      .controls .filter.active {
        box-shadow: none;
        -webkit-box-shadow: none;
        background-color: #666;
      }
    .stretch {
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0
    }

.gallery {
  overflow: hidden;
}
  .gallery.row {
    margin-left: -1px;
    margin-right: -1px;
  }

  .gallery .mix {
    overflow: hidden;
  	display: none;
  	opacity: 0;
  	vertical-align: top;
    margin: 0;
    padding: 0;
  	color: #fff;

  	font-size: 30px;
  	text-align: center;
  }
    .gallery .mix.full {
      height: auto;
    }
      .gallery .mix.full img { width: 100%; }

    .gallery a.mix-cover, .gallery span.cover {
      overflow: hidden;
      display: block;
      width: 100%;
      height: 300px;
      background-color: #fff;
    }
    .gallery.portfolio a.mix-cover, .gallery.portfolio a.mix-cover .overlay {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
      .gallery .mix a img, .gallery .mix a span.overlay { box-shadow: 0 0 1px 0 rgba(0,0,0,.1); }

    .gallery a.mix-cover {
      position: relative;
      -webkit-transition: top .5s;
      transition: top .5s;
    }
    .gallery span.cover {
      position: absolute;
      top: -100%;
      background-color: #ff7272;
    }
      .gallery span.cover span {
        color: #fff;
        position: absolute;
        height: 50px;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -25px;
        line-height: 50px;
      }
      img.placeholder { width: 100%; height: 100%; }


  @media (max-width: 768px) {

    .controls .filter { margin: 5px; }

    .gallery a.mix-cover { height: auto; }
      .gallery a.mix-cover:hover { top: 0; }

    .gallery span.cover {
      height: 50px;
      top: auto;
      bottom: 0;
      z-index: 100;
    }
      .gallery span.cover h2 {
        font-size: 24px;
      }
    .gallery img, .gallery .mix {
      height: auto;
      width: 100%;
      font-size: 0;
      line-height: 0;
    }
      .gallery .icons img { margin: 50px 0; }
      .gallery .mix { margin: 0; }
  }


/*  FOOTER
 *    stylings for footer
 *
 *
 */

#footer {
  text-align: left;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f0f0f0;
  border-top: 1px solid rgba(0,0,0,.05);
}
  #footer.light {
    background-color: rgba(255,255,255,0.8);
  }

  #footer .container {
    padding: 0;
    background-color: transparent;
  }
  #footer .row { margin: 10px 0 0 0; }

  #footer h3 {
    color: #fff;
    font-weight: normal;
    font-family: 'Londrina Outline', Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
  }
  #footer li {
    float: left;
    clear: both;
    list-style: none;
    line-height: 25px;
    margin-bottom: 5px;
  }

  #footer a.logo {
    font-family: "Londrina Outline", Helvetica, Arial, sans-serif;
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  #footer li a {
    font-size: 13px;
    margin: 0;
    line-height: normal;
    color: #aaa;
  }
    #footer li a:hover { color: #ccc; }
  #footer p { margin: 20px 0; }
    #footer p.tagline { margin-top: 0; }

  #footer .social-media {  }
    #footer .social-media a {
      color: #666;
      margin: 0 10px 10px 0;
      text-align: center;
    }

  #footer hr {
    border-color: #777;
    margin: 0 auto;
  }
  #footer.blog {
    text-align: left;
  }

  #footer.blog p { margin: 0 0 55px 0; }
  #footer.blog .social-media { text-align: left; margin-left: -10px; }
  #footer.blog .row { margin: 0; }

  @media (max-width: 767px) {

    .section.bottom { margin-bottom: 420px; }

    #footer .row { margin-left: 0; margin-right: 0; }

    #footer p { text-align: center; }

    .social-media { float: none; }
    .social-media a { padding: 0 10px; }

  }


.brandname {
  padding-top:0px !important;
  height:50px !important;
  font-size: 5em !important;
}



.logo {
  width:310px;
}

.welcome span {
  display:none;
}


.subtitel {
  color:#fff;
  text-shadow:rgba(0,0,0,0.2) 0px 0px 3px;
}


.balloon {
  padding:50px 0 0 0px;
  width:300px;
}
.maxialogo {
  padding:60px 0px 0 0;
  width:60%;
}
.illustration {
  margin-top:40px;
  width:600px;
}
@media (max-width: 992px) {
  .illustration {
    xdisplay: none;
  }
  .balloon {
    margin:0px;
  }
  .maxialogo {
    padding:0px;
    width:100%;
  }
}

.text-block {
  height:200px;
  width:430px;
  padding-left:30px;
  font-size: 3.5em;
  font-family: "Londrina Outline";
  color:#222;
}


.factsblock {
  right:4%;
  position: absolute;
  width:320px;
  padding-top:140px;
  font-size:1.2em;
  font-weight:300;
}
.factexample {
  text-align: left;
  color: rgba(255,255,255,0.7);
  padding-bottom:30px;
}

.checked li {
  padding-bottom: 10px;
}
.checked li:before {
  content:"\2705";
  display:inline-block;
  vertical-align: middle;
  line-height: 1em;
  width: 1em;
  height:1em;
  margin-right: 0.8em;
  text-align: center;
}