.ug-overview .disabled div, .ug-overview .disabled td {
    color:rgba(0,0,0,0.3) !important;

}

.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.ug-avatar {
    font-size: 2.4em;
    height: 50px;
    float:left;
    margin-right:10px;
}

.ug-list-info {
    padding-left:60px !important;
}

.ug-fullname {
    color:#444;
    font-size: 1.2em;
    font-weight: normal;
    margin-right:30px;
    margin-bottom: 5px;
}
.ug-username {
    color:#777;
    font-weight: normal;
    font-size: 1.0em;
    margin-bottom: 5px;
}
.ug-tag {
    font-weight: bold;
    font-size: 0.7em;
    color:rgba(0,0,0,0.6);
    text-transform: uppercase;
    padding:2px 4px;
    margin-left: 5px;
}


.ug-stats {
    margin-top:0px;
    margin-bottom:20px;
}
.ug-stat-label {
    font-size: 1.1em;
    font-weight: normal;
    color:rgba(0,0,0,0.5);
    margin-right: 5px;
}
.ug-stat-value {
    font-size: 2.8em;
    font-weight: normal;
}

#datalistview {
    font-size:1.1em;
}

.usergroup-details-box {
    border:1px solid #ddd;
    padding:20px;
    margin-bottom:20px;
    background-color:#fff;
    border-radius: 5px;
}

.usergroup-profile-image {
    width: 100px;
    height: 100px;
    opacity: 0.9;
    border-radius: 50%;
    margin-right: 20px;
    float:left;
    background-color: #18a689;
    border:7px solid #18a689;
}

.font-larger {
    font-size: larger;
}

.usergroup-role-box {
    border:1px solid #ddd;
    padding:20px;
    margin-bottom:20px;
    background-color:#fff;
    border-radius: 5px;
}
.usergroup-role-box-heading {
    margin-bottom: 20px;
}

.usergroup-applicatie-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    padding-top:4px;
    margin-right:8px;
    border-radius: 4px;
}

.usergroup-applicatie-icon i {
    color:#fff;
}