/* Basic button styling */
button.enlarge {
  width: 50px;
  transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

button.enlarge span {
    display: none;
}

button.enlarge:before {
  content: "\e92b"; /* Add an icon */
  line-height: 50%;
  padding:0;
  margin:0;
  font-size: 1.8em;
  color: rgba(255,255,255, 0.8);
  font-family: var(--symbol-font-family);
}

/* Enlarge the width of the button on hover */
button.enlarge:hover {
  width: 190px; /* Adjust the width value as needed */
}

button.enlarge:hover:before {
  display: none;
}

button.enlarge:hover span {
    display: inline;
}


.media-details-title {
    font-size: 1.5em;
    font-family: "Bree Serif", serif;
    padding:0px;
    margin-bottom: 0.5em;
}

