#pm_addphoto {
    background-color:#D1E0D1;
}
#pm_addphoto_content {
    padding:10px;
}

ul#pm_imagebox {
    padding:0px;
    list-style:none;
}
li.pm_image { 
    width:130px;
    height:130px;
    float:left;
    text-align:center;
    border:1px solid silver;
    margin:0 10px 10px 0;
    padding:5px;
}
li.pm_image.selected {
    background-color:red;
}

li.pm_image .handle {
    cursor:move;
}
.pm_actions {
    font-size:1em;
    text-align:left;
}
.pm_imagename {
    font-size:0.8em;
    overflow:hidden;
    height:2em;
}
