/** Overall custom branding for all client applications **/
.applicationtitle {
    font-family: "Bree serif" !important;
}
.appdescription {
    font-family: "Bree serif";
}
.construct-name {
    font-family: "Bree serif" !important;
}
.client-title {
    font-family: "Bree serif" !important;
}
.plr-app h2 {
    font-family: "Atkinson Hyperlegible", sans-serif !important;
}
h2 {
    /* font-family: "Bree serif" !important; */
}
.locatie-item-naam {
    font-family: "Bree Serif", serif;
}
.quickactions h2 {
	font-size:1.8em !important;
}


.feature-button-group a.feature i {
    color: rgba(35, 32, 30, 0.6);
}
.navbar-default {
    background-color: #524b4d;
}

.navbar-default .nav, .navbar-default .nav li a {
    color:rgba(255,255,255,0.8);
}

.applicationtitle  {
    color: #d0c5b8 !important;
}

.navbar-default .nav > li.active {
    background: rgba(255,255,255,0.1) !important;
}

ul.nav-second-level {
    background: #524b4d;
}

.navbar-default .nav>li>a:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

#const_quickactions .full-height-scroll {
    background-color: inherit;
}

#const_quickactions #page-wrapper {
    background-image: url(/branding/werkvoorheerlen/images/wvh_bck.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}

#const_quickactions .logo_option {
    background-image: url(/branding/werkvoorheerlen/images/BVS_logo_spijker@2x.png);
    background-position: top 20px right 200px;
    background-repeat: no-repeat;
    background-size: 180px;
    min-height:88px;
}

