/*
  User input
*/
textarea{
  width:96%;
  max-width:96%;
  min-width:96%;
  padding:30px 2%;
  height:240px;
}
.col-xs-12 > textarea{
  height:90px;
}


  ::-webkit-input-placeholder {font-size:20px; color:#ccc; }
  :-moz-placeholder           {font-size:20px; color:#ccc;}
  ::-moz-placeholder          {font-size:20px; color:#ccc; }
  :-ms-input-placeholder      {font-size:20px; color:#ccc; }

#map {
    min-height:70vh;
    width:100%;
}

