.dropzone {
    color:#ccc;
    border:0 !important;
    padding-top:60px !important;
    text-align: center;
    background-color: transparent !important;
}

.scannerresult {
    font-family: Courier;
}

.companies {
    width:80vw;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.company_dropzone {
    display: block;
    width:200px;
    height:420px;
    text-align: center;
    background-image: url(../html/iphone.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
}

.company_logo {
    display: block;
    padding-top:60px;
    max-width:150px;
    max-height:100px;
    margin:0 auto;
}

.iphone {
    width:250px;
}