/* Shared styles */

.element-detail-box {
    padding:0 !important;
}
.lane {
  background: linear-gradient(179deg, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 100%); /* w3c */
  min-height:150px;

}

ul.notes li div {
  height: auto;
  max-height:240px;
  width: 240px;
  overflow: scroll;
  /*background-color: #e36861;*/
  box-shadow: 5px 5px 6px rgba(33, 33, 33, 0.5);
}

.lane-title {
    font-size:2rem;
    font-weight: 600;
}
.lane-title span {
    padding-left:20px;
    font-weight: 300;
    font-size:1.5rem;
}

.lane-title a {
    padding-right:15px;
    padding-top:5px !important;
}
.lane-title a:hover {
    text-decoration: none;
}