/** Overall custom branding for all client applications **/

body, .nav-header {
    background-color: #524b4d;
}
.navbar-default .nav, .navbar-default .nav li a {
    color:rgba(255,255,255,0.8);
}

.applicationtitle  a {
    color: #d0c5b8 !important;
}

.navbar-default .nav > li.active {
    background: rgba(255,255,255,0.1) !important;
}

ul.nav-second-level {
    background: #524b4d;
}

.navbar-default .nav>li>a:hover {
    background-color: rgba(0,0,0,0.1) !important;
}

#const_quickactions .full-height-scroll {
    background-color: inherit;
}

#const_quickactions #page-wrapper {
    background-image: url(/branding/werkvoorheerlen/images/wvh_bck.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}

