{if $item|count == 0}
<div class="row">
	<div class="col-md-12">
		<p>Er is door de deelnemer nog geen gezondheidsmeting ingevuld</p>
	</div>
</div>
{else}
<div class="row">
	<div class="col-md-12">
		<h4>Laatste positieve gezondheidsmeting </h4>
		<p>Ingevuld door de {$item.INGEVULD_DOOR|lower} op {$item.DATUM|date_format:"%d %B %Y "}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6 do-spinnenweb">
		<canvas id="gezondheidsmetingChart" style="width:50%;max-width:700px"></canvas>
	</div>
	<div class="col-md-1">	</div>
	<div class="col-md-5 do-spinnenweb-data">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Dimensie</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Lichaamsfuncties</td>
					<td>{$item.LICHAAMSFUNCTIES}</td>
				</tr>
				<tr>
					<td>Mentaal welbevinden</td>
					<td>{$item.MENTAAL_WELBEVINDEN}</td>
				</tr>
				<tr>
					<td>Zingeving</td>
					<td>{$item.ZINGEVING}</td>
				</tr>
				<tr>
					<td>Kwaliteit van leven</td>
					<td>{$item.KWALITEIT_VAN_LEVEN}</td>
				</tr>
				<tr>
					<td>Meedoen</td>
					<td>{$item.SOCIALE_PARTICIPATIE}</td>
				</tr>
				<tr>
					<td>Dagelijks leven</td>
					<td>{$item.DAGELIJKS_FUNCTIONEREN}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>

<script type="text/javascript">

	const data = {ldelim}
		// labels: [
		//     'Lichaamsfuncties',
		//     ['Mentaal','welbevinden'],
		//     'Zingeving',
		//     'Kwaliteit van leven',
		//     'Meedoen',
		//     ['Dagelijks','leven']
		// ],
		labels: [
			'',
			'',
			'',
			'',
			'',
			''
		],
		datasets: [{ldelim}
			label: 'My First Dataset',
			data: [
				{$item.LICHAAMSFUNCTIES},
				{$item.MENTAAL_WELBEVINDEN},
				{$item.ZINGEVING},
				{$item.KWALITEIT_VAN_LEVEN},
				{$item.SOCIALE_PARTICIPATIE},
				{$item.DAGELIJKS_FUNCTIONEREN}
			],
			fill: true,
			fill: true,
			backgroundColor: 'rgba(54, 162, 235, 0.2)',
			borderColor: 'rgb(54, 162, 235)',
			pointBackgroundColor: 'rgb(54, 162, 235)',
			pointBorderColor: '#fff',
			pointHoverBackgroundColor: '#fff',
			pointHoverBorderColor: 'rgb(54, 162, 235)'
		{rdelim},{ldelim}
                label: 'My Empty Dataset',
				data: [0,10],
                fill: false,
				spanGaps: false,
                backgroundColor: 'transparent',
                borderColor: 'transparent',
                pointBackgroundColor: 'transparent',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'transparent'
				{rdelim}]
	{rdelim};

</script>

{literal}

<style>
.do-spinnenweb {
    width: 40%; padding-top: 60px; padding-bottom: 60px;
    background: url(/branding/porthos/images/spinnenweb-iph.svg) no-repeat center center;
}
.do-spinnenweb canvas {
    padding-left:10%;
    width:90% !important;
    height:80% !important;
}

</style>

<script>
	jQuery(function () {

		function initialiseerGezondheidsMetingen(id) {
			var options = {
				devicePixelRatio: 2,
				locale: 'nl',
				plugins: {
					legend: {
						display: false,
					}
				},
				scales: {
					r: {
						pointLabels: {
							font: {
								size: 14,
							}
						}
					},
				},
				scale: {
					reverse: false,
					ticks: {
						beginAtZero: true,
						min: 0,
						max: 10,
						stepSize: 2,
					}
				},
				responsive: true,
				maintainAspectRatio: true,
				layout: {
					padding: {
						left: 0,
						right: 0,
						top: 0,
						bottom: 0
					}
				},
				tooltips: {
					callbacks: {
						title: (tooltipItem, data) => false
					}
				}
			};

			const config = {
				type: 'radar',
				data: data,
				options: options,
			};

			new Chart(id, config);
		}

    	initialiseerGezondheidsMetingen('gezondheidsmetingChart');
	});
</script>
{/literal}
{/if}