@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

.grid {
    text-align: center;
}

.widget {
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 25px 12px;
    margin:0 5px 0 0;
    text-align: center;
    width: 200px;
    display:inline-block;
    vertical-align: middle;
}
.widget h1 {
    text-shadow:none;
}
.widget.status-warning {
    background-color: #e82711;
    -webkit-animation: status-warning-background 2s ease infinite;
    -moz-animation: status-warning-background 2s ease infinite;
    -ms-animation: status-warning-background 2s ease infinite;
}
.widget.status-warning .icon-warning-sign {
    display: inline-block;
}
.widget.status-warning .title, .widget.status-warning .more-info {
    color: white;
}
.widget.status-danger {
    color: white;
    background-color: #eeae32;
    -webkit-animation: status-danger-background 2s ease infinite;
    -moz-animation: status-danger-background 2s ease infinite;
    -ms-animation: status-danger-background 2s ease infinite;
}
.widget.status-danger .icon-warning-sign {
    display: inline-block;
}
.widget.status-danger .title, .widget.status-danger .more-info {
    color: white;
}
.widget-clock {
    background-color: #dc5945;
}
.widget-comments {
    background-color: #eb9c3c;
}
.widget-comments .title {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
}
.widget-comments .name {
    padding-left: 5px;
}
.widget-comments .comment-container {
    display: none;
}
.widget-comments .more-info {
    color: rgba(255, 255, 255, 0.7);
}
.widget-geocode {
    background-color: #48bbb3;
    position: relative;
}
.widget-geocode .title {
    color: rgba(255, 255, 255, 0.4);
}
.widget-geocode .geo_container {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}
.widget-geocode path {
    fill: rgba(255, 255, 255, 0.3);
    stroke: rgba(255, 255, 255, 0.3);
}
.widget-geocode .animate_ring {
    position: absolute;
    border: 3px solid #fff;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    left: 20px;
    top: 14px;
    z-index: 1000;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: 1;
    opacity: 0;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}
.widget-graph {
    background-color: #dc5945;
    position: relative;
}
.widget-graph svg {
    position: absolute;
    opacity: 0.4;
    fill-opacity: 0.4;
    left: 0px;
    top: 0px;
}
.widget-graph .title, .widget-graph .value {
    position: relative;
    z-index: 99;
}
.widget-graph .title {
    color: rgba(255, 255, 255, 0.7);
}
.widget-graph .more-info {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
}
.widget-graph .x_tick {
    position: absolute;
    bottom: 0;
}
.widget-graph .x_tick .title {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    padding-bottom: 3px;
}
.widget-graph .y_ticks {
    font-size: 20px;
    fill: rgba(0, 0, 0, 0.4);
    fill-opacity: 1;
}
.widget-graph .domain {
    display: none;
}
.widget-highbar {
    background-color: #ff9618;
}
.widget-highbar .title {
    color: rgba(255, 255, 255, 0.4);
}
.widget-highbar .updated-at {
    color: rgba(255, 255, 255, 0.4);
}
.widget-iframe {
    padding: 3px 0px 0px 0px !important;
}
.widget-iframe iframe {
    width: 100%;
    height: 100%;
}
.widget-image {
    background-color: #4b4b4b;
}
.widget-list {
    background-color: #12b0c5;
    vertical-align: top;
}
.widget-list .title {
    color: rgba(255, 255, 255, 0.7);
}
.widget-list ol, .widget-list ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.widget-list ol {
    list-style-position: inside;
}
.widget-list li {
    margin-bottom: 5px;
}
.widget-list .list-nostyle {
    list-style: none;
}
.widget-list .label {
    color: rgba(255, 255, 255, 0.7);
}
.widget-list .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: white;
}
.widget-list .updated-at {
    color: rgba(0, 0, 0, 0.3);
}
.widget-list .more-info {
    color: rgba(255, 255, 255, 0.7);
}
.widget-meter {
    background-color: #9b4277;
}
.widget-meter input.meter {
    background-color: #652b4e;
    color: #fff;
}
.widget-meter .title {
    color: rgba(255, 255, 255, 0.7);
}
.widget-meter .more-info {
    color: rgba(255, 255, 255, 0.3);
}
.widget-meter .updated-at {
    color: rgba(0, 0, 0, 0.3);
}
.widget-number {
    background-color: #47bbb3;
    height:200px;
}
.widget-number .title {
    color: rgba(255, 255, 255, 0.7);
    font-size:150%;
}
.widget-number .value {
    color: white;
    font-size:290%;
    padding-top: 0.5em;
}
.widget .subtitle {
    font-size: 0.6em;
    font-weight:normal;
    padding:0.4em 0 0 0;
    margin:0;
    color:rgba( 255,255,255,0.6);
}
.widget-number .change-rate {
    padding-top:1em;
    margin:0;
}
.widget-number .more-info {
    color: rgba(255, 255, 255, 0.7);
}
.widget-number .updated-at {
    color: rgba(0, 0, 0, 0.3);
    font-size:70%;
    position: absolute;
    bottom:0.2em;
    text-align: center;
    width:200px;
}
.widget-text {
    background-color: #ec663c;
}
.widget-text .title {
    color: rgba(255, 255, 255, 0.7);
}
.widget-text .more-info {
    color: rgba(255, 255, 255, 0.7);
}
.widget-text .updated-at {
    color: rgba(255, 255, 255, 0.7);
}
.widget-text.large h3 {
    font-size: 65px;
}


.widget.hbo {
    background-color: #BA7D43;
}
