hr.sep {clear:both; padding:5px 0 0px 0;margin-bottom:15px;}
.semiseparator {height:1px; border-bottom:1px dashed #ccc;}

div.componentblock { background-color:transparent; }

.example{color:#aaa;}

fieldset { border:none; }

#ajaxfeedback {position:absolute; top:25px;left:600px;font-size:2em;font-weight:bold;}

#masterform {max-width:950px;}

.searchbutton {
    margin-top:4px !important;
}


/** General table with selectable rows **/

.pagecontents {
    padding:5px;
}

.selectable table {
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
    height:auto;
}
.selectable table th { text-align:left;}

.selectable table .odd { background-color:#e5e5e5;}
.selectable table .even {background-color:#eee;}
.selectable table .alert {background-color:#FF9292;}

.selectable table tr.active {background-color:#D1F3B1;}
.selectable table tr.selected {background-color:#AEE778;}

/** Nieuwe aanvraag **/

.tblinschrijving td { width:30%;vertical-align:top; }
.formcolumn { font-weight:bold; }

.searchresult {
    font-size:0.9em;
    position:relative;
    margin-left:290px;
}
.searchresult .buttons {
    float:right;
    width:180px;
}
.searchresult .buttons button {
    margin-bottom:4px;
}
.searchresult .content {
    max-width:700px;
    margin:0px 0;
    height:170px;
    overflow:scroll;
}
.searchresult .content.loading {
background:url(../html/loading1.gif) no-repeat center center;
}

#lblRELATIE { display:inline-block; /* for yellow fade */}

.formcolumn span {font-weight:bold;padding-top:2px;}
.formviewrow table td {width:100px;}

.formviewrow.captions {font-size:0.85em;margin:0;padding:0;}
.captions table td { height:1em;border-spacing:0px;display:inline-block;}
table.contact {border-collapse:collapse;}

#relatie_selectie { position:relative; }
.searchbox {
    position:absolute;
    border-right:1px solid silver;
    padding:0px 10px 0 0;
    width:20em;
}

.pagetabcontainer {margin-top:10px;}
#page_relatie { position:relative }
#page_examen { position:relative }

#aanmeldinginfo {padding-bottom:20px; margin-bottom:10px; border-bottom:1px solid #ccc}
#aanmeldinginfo table td {white-space:no-wrap;}
#aanmeldinginfo .label {width:130px;}
#aanmeldinginfo .column3 .label {width:100px;}
#aanmeldinginfo .formcolumn {max-width:200px !important;}

#examenselectiearea {margin-bottom:10px;}
#examens {width:100%;}
#examens th {text-align:left;}
.deelkwalificatie i {color:rgba(0,0,0,0.3);}
#bankrekeningnr_select {width:250px;}
