#content {color:#777; font-family:"Lucida Grande", Geneva, Arial, Verdana, sans-serif;}

.group {display:block;}

.meting { position:relative;font-size:7em;float:left;margin-left:90px; margin-top:10px;height:150px;min-width:160px;text-align:center;}
.meting2 { float:none;}
.titel { font-size:3em; margin-top:20px; margin-left:40px;}
.subtitel { font-size:0.2em; margin-top:10px;clear:both; margin-left:-20px;}

.land {font-size:3em;color:#555;padding-top:40px;width:30px;position:absolute;font-weight:bold;}

#actieve {position:absolute;right:20px;top:80px;width:100px;}
#aantalinscr {font-size:1.2em;padding:10px 0 5px 0;width:70%;text-align: center;border-bottom:1px solid #ddd;}
#aantal_actievegebruikers {padding-top:20px;}

/* Counter */
ul.cd{float:left;list-style-type:none;margin:0;padding:0}
li.t{background:url(../img/digits-top.png) 0 0 no-repeat;width:53px;height:39px}
li.b{background:url(../img/digits-bottom.png) 0 0 no-repeat;width:53px;height:64px}
li.s{background:url(../img/comma.png) 2px 75px no-repeat;width:12px;height:100px}

#constructtitle {display:none;}

.chart {
    width: 48%;
    height: 300px;
    float:left;
    margin-right:20px;
}

.buttons.dashboard {
    position:absolute;
    top:20px;
    right:130px;
}

.vakantie {
    position:absolute;
    width:160px;
    left:0px;
    top:80px;
    font-size: 0.1em;
    line-height: 1em;
}
