#GB_overlay {
  background-image: url(overlay.png);
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 501;
  width:  100%;
  height: 100%;
}

* html #GB_overlay {
  background-color: #000;
  background-color: transparent;
  background-image: url(blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}

#GB_window {
  top: 10px;
  left: 0px;
  position: absolute;
  overflow: auto;
  width: 400px;
  height: 400px;
  z-index: 2550;

  background-color:rgb(243, 245, 245);
  padding:10px;
}

#GB_frame {
  border: 0;
  overflow: auto;
  width: 100%;
  height: 378px;
}

#GB_caption {
  font: 12px bold helvetica, verdana, sans-serif;
  color: #fff;
  background: #888;
  padding: 2px 0 2px 5px;
  margin: 0;
  text-align: left;
}

#GB_window img {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  cursor: hand;
}