#dataheaderview th{
    white-space: nowrap;
}

#datalistview td {
    white-space: nowrap;
}

#datalistview .focusrow td a {
    color:#fff !important;
}

#datalistview td a {
    color:#333 !important;
}

#batchinfo {
    width:600px;
    padding-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:10px;
    margin:10px 0 10px 0;
    background-color:#fefefe;
}
/* Signaal */
tr.ernst_S {
}
/* Afkeur */
tr.ernst_A {
    color:red;
}

#bronoverzicht {
    list-style: none;
    padding:0;
    margin:0 0 20px 0;
}
#bronoverzicht li {
    width:400px;
}
#bronoverzicht li div {
    float:right;
}
#bronoverzicht li div i {
    color:#888;
}

/* GBA gegevens */
#gbaframe {
    font-size:120%;
}
#gbatabel {
    margin:5px 0 20px 0;
}
#gbatabel th {
    text-align: left;
}
#gbatabel th:first-child {
    color:#888;
}
#gbatabel td:first-child {
    color:#888;
}
.gbalabel, .gbafield {
    padding-left:40px;
}
#gbatabel td.gbafield {
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
#gbatabel td.gbafield.active {
    background:url(../../../../i/function/arrow_left_green_48.png) no-repeat 5px -5px;
    background-size: 30px 30px;
    background-color: #ABD6AB;
}

#counter {
    font-size: 2em;
    font-weight: bold;
    float:right;
}
#DATUMINGANGADRES {
    font-size:80%;
    text-align: center;
}