.assets-view {
	margin-bottom:50px;
	padding-bottom:50px;
	/* margin-right:30em; */
}
.asset-view-locatie-header {
	clear:both;
	font-size: 1.5em;
	margin:0px 0 20px 0;
	padding-top:20px;
}
.asset-view-locatie-header span {
	font-weight: bold;
}

.asset {
	float:left;
	background-color: #999;
	min-height:100px;
	min-width:100px;
	max-width:120px;
	padding:18px 0;
	text-align: center;
	vertical-align: middle;
	margin-right:5px;
	margin-bottom:10px;
	font-size: 1.3em;
	font-weight: bold;
	border:5px solid rgba(255,255,255,0.3);
	border-radius: 8px;
	color:rgba(255,255,255,0.7);
	position: relative;
}

.asset.selected {
	border-color:rgba(0,0,0,0.3);
}

.asset.selected .asset-code {
	color:rgba(255,255,255,1);
}

.asset.badgecounter:after {
	position:absolute;
	top:-10px;
	right:-5px;
	border-radius: 50%;
	width:25px;
	height:25px;
	opacity: 1;
	font-size: 1.1em;
	line-height: 1.3;
	color:#fff;
	font-family: var(--symbol-font-family);
}
.asset.overtijd:after {
	background-color: #f8ac59;
	content:"warning";
}

.asset-status {
	width:100%;
}

.asset-icoon {
	border: solid transparent;
	font-size: 2em;
	font-weight: bold;
	color: rgba(255,255,255, 0.18);
	font-family: var(--symbol-font-family);

	line-height: 70%;
	height: 20px;
	width: 20px;
	pointer-events: none;
}

.asset.selected:before {
	color: rgba(255,255,255, 0.5);
}

.asset-code {
	display: block;
	white-space: nowrap;
	margin:0 10px 0 10px;
}

.asset-subcode-container {
	display: block;
	min-height:25px;
	line-height: 1em;
	font-size: 0.9em;
}

.assets-view .asset-subcode {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	min-height:20px;
	color:rgba(255,255,255,0.6);
	font-size:0.8em;
}

/** Asset laptop details **/

.asset-laptop .asset-code {
	font-size: 0.8em;
}

/** Asset voertuig details **/

@font-face {
    font-family: Kenteken;
    src: url(/assets/css/fonts/kenteken.eot);
    src: url(/assets/css/fonts/kenteken.eot?#iefix) format("embedded-opentype"), url(/assets/css/fonts/kenteken.woff2) format("woff2"), url(../fonts/kenteken.woff) format("woff"), url(../fonts/kenteken.ttf) format("ttf"), url(../fonts/kenteken.svg#Kenteken) format("svg");
    font-style: normal;
    font-weight:300
}

.asset-voertuig .asset-subcode,
.asset-auto .asset-subcode {
	background-color: #f2ba00;
    border: 1px solid #000;
    border-radius: 0.2em;
    box-sizing: border-box;
    color: #222;
    font-family: Kenteken, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    line-height: normal;
    max-width: 8em;
	width:90%;
	display: inline-block;
    padding:0.2em;
	text-align: center;
    text-transform: uppercase;
    -webkit-transition: background-color .3s ease, text-shadow .3s ease;
    transition: background-color .3s ease, text-shadow .3s ease;
    text-shadow:1px 1px #ffe153
}

#asset-type-container.asset-voertuig .asset-subcode,
#asset-type-container.asset-auto .asset-subcode {
	background-image: url(/assets/images/kentekenvlag.svg);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left:1em;
    font-size: 1.5em;
}


.asset-opmerking {
	max-height:100px;
	overflow: auto;
	display: inline-block;
	vertical-align: text-top;
}
.asset-opmerking.active {
	height:auto;
	padding:10px 15px;
	width:100%;
	overflow: auto;
	color:#a87c26;
	border: 1px solid #f5cc7a;
	background-color: #ffeecb;
	border-radius: 5px;
}

.asset-historie {
	font-size: 1em;
}
mark.inuit {
	font-size: 0.8em;
	font-weight: normal;
	width:35px;
	background-color: rgb(145, 175, 212);
	color:#fff;
	text-align: center;
	display: inline-block;
}
.btn-warning mark.inuit {
	background-color: #fff;
	color: rgb(0, 0, 0);

}

.asset-historie-datum {
	border:0px !important;
	font-size:1.1em;
	font-weight: normal !important;
}

.asset-uitgeleendvanaf, .asset-uitgeleendtot {
	font-size:1em;
	min-width:100%;
	display: inline-block;
	font-weight: bold;
	padding: 0.4em 0.8em;
	margin:0.2em 0 0.4em 0;
}
.asset-uitgeleendvanaf {
	margin-bottom:0px !important;
}

.modal-subtitle {
	font-size: 1.5em;
	font-weight: bold;
	color:#999;
}

.progress-mini {
	position: absolute;
	border-radius: 5px;
	bottom:6px;
	width: 80%;
	height: 6px;
	margin:0px 10px 0px 10px;
	background-color: rgba(0,0,0,0.1);
}
.progress-mini .progress-bar {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.3);
}

.asset-uitgeleendaan {
	font-weight: bold;
}

.asset-uitlening .asset-uitlening-field {
	margin-bottom:12px;
}

/* overview styling */
.assets-overview table {
	table-layout: fixed;
}

.assets-overview table tr {
	border-bottom: 5px solid rgba(255,255,255,0.5);
}

.assets-overview table td:first-child { border-top-left-radius: 10px; }
.assets-overview table td:last-child { border-top-right-radius: 10px; }
.assets-overview table td:first-child { border-bottom-left-radius: 10px; }
.assets-overview table td:last-child { border-bottom-right-radius: 10px; }

.asset-row.ingebruik, .asset-row.langdurig {
	color:#fff;
}

.assets-overview .asset-icoon {
	font-size: 1.5em;
	line-height: 70%;
	height: 20px;
	width: 20px;
}

