#domainselect {float:right;padding-right:5em;}
.edit_action {font-weight:normal;font-size:11px; text-decoration:none;letter-spacing:1px;background-color:#fff !important;}
ul {list-style:disc;}
span.highlight { background-color:yellow;}

#methodlist, #methodlist ul {list-style:none;padding:0;}

#concepts {list-style:none;padding:0;}

span.begrip { border-bottom:1px dashed #999}

/* UI */
div.ui_group {background-color:#fff;border:1px solid #aaa; padding:0.5em 2em 1em 2em;margin-bottom:1em;min-height:1.5em;}
div.ui_group h1 {background:url("images/arrow-square.gif") no-repeat right -53px;display:inline;padding:0px 35px 0 0;}
div.ui_group h1.down {background-position: right 3px;}

.userinterface {position:relative;}
.userinterface li { list-style:none; float:left; margin:0 20px 1em 0; width:260px;}
.userinterface a { text-decoration:none }
.userinterface h3 { font-size:1.1em; letter-spacing:0px; height:2em; width:220px;}
.userinterface p { font-size:1.1em; margin:0;}

div.afbeelding {position:relative;width:900px; height:900px; background-repeat:no-repeat;}
div.link { position:absolute; border:2px solid red;}

.ui_description {line-height:1.9em;min-height:420px;}
.ui_description ol li { font-size:1.1em; }
.ui_description ol ol { list-style-type:lower-alpha }
.ui_description ol ol li { font-size:0.9em; }
#ui_action {width:100%;height:5em;font-size:1em;}

.smallui {float:right;margin:1em;}

#functionmain {position:relative;}
#uicontainer {position:relative;height:900px;width:1024px;}

#uielements {list-style:none;}
#uielements li {position:absolute;border:2px solid #00F300;cursor:pointer;
/* default */ top:200px;left:400px;width:200px;height:150px;}
#uielements li.editing {border:2px dashed #D12300; background-color:transparent;opacity: 1;filter: alpha(opacity=100))}
#uielements li.ui-selected { border:2px solid #D12300; }
#uielements li.ui-selected.confirm { background-color:#D12300; }
#uielements li.ui-selecting { border: 1px solid #AAA; }
.linkinfo {display:none;}
ul.ui_elements {font-size:0.85em;clear:both;display:none;position:absolute;width:300px;height:auto;top:30px;background-color:#fff;border:1px solid #888;}
ul.ui_elements li {padding:0 0 0 0.5em;margin:0 0 0 1.5em; width:170px;list-style-type:disc}

#ajaxfeedback {display:none;position:absolute;top:0px;left:45%;padding:4px;color:#444;font-size:0.9em;background-color:#F8E045;}


#UI_panel { top:20px; }
#linkinfo {top:200px;}
#linkinfo h2 {color:#ccc;}

.docsyspanel {
    float:right;
    background-color:#eee;
    font-size:0.85em;
    width:260px;
    min-height:40px;
}
.docsyspanel ul {
	background: #333;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.docsyspanel li {
	margin: 0;
	padding: 0 12px;

	font-family: Verdana, Helvetica, sans-serif;
	color: #ccc;
}
.docsyspanel a {
	font-family: Verdana, Helvetica, sans-serif;
	color: #ccc;
	background: #333;
	border-bottom: 1px solid #393939;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
.docsyspanel a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
}
#editorpanel {margin-bottom:2em;}

h1.main {font-size:190px;color:#111;text-shadow:none}
.ui_group_overview {
    padding-top:1em;
    margin-top:1em;
}
.ui_group_overview h1 {
    font-size:1.9em;
}
.ui_group_overview img {
    float:right;
    margin-left:20px;
}
.zinssjabloon {border:1px solid #CFE6BC; background-color:#F1F8EB; padding:1em;margin:0.6em 0 0.6em 0;}

@media print {
body, #content, #maincontent {background-color:#fff;}
#masteractions, #constructtitle {display:none;}
}

/* Facttype diagrams */
#datalistview td {background-color:#fff !important;}
#datalistview td, #datalistview td a {color:#333 !important;}

.toggleFTD {cursor:pointer;
background:url("images/arrow-square.gif") no-repeat right bottom;
padding-right:35px;
padding-bottom:2px;
display:inline;
}
.toggleFTD.down {background-position:right top;}

.ftdcontent .diagram {margin-top:1em;width:103%;}
.ftdcontent .sentencepattern {color:#3D341F;border-bottom:1px solid #ddd;margin-bottom:1em;}

/* Methods */

#methodcontainer { margin-left:330px; position:relative;}
#methodcontainer .description {width:70%;margin:0;font-family:Verdana}
#methodcontainer .extrainfo {width:30%;float:right;margin:2em;}


#methodlist {border:1px solid #999; list-style:none; padding:0;position:absolute;top:80px;font-size:0.85em;float:left;width:300px;margin-right:20px;}
#methodlist li {}
#methodlist a {display:block;text-decoration:none;padding:0.5em 1em 0.1em 1em;letter-spacing:1px;color:#222;background-color:#999}
#methodlist a.head {background:#2B3036 url(../../../images/2_mainmenu2.png) repeat-x bottom left;;color:#ccc}
#methodlist a:hover {background-position:bottom left;background-color:#888;}
#methodlist .current a {font-weight:bold;color:#fff;background-image:none;background-color:#111;}
#methodlist .conversie a {background-image:none;background-color:#637580 !important;border-bottom:1px solid #3F5563}
#methodlist .hassearch a {color:#EBD954}

code { font-size: 1.2em; }
pre {
 font-family: arial;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.specs { border-collapse:collapse; margin-bottom:1em; }
table.specs tr {}
table.specs td { vertical-align:top; border-bottom:1px solid #ddd; }

/* Instellingen */

#instellingen {float:left;width:700px;}
#instellingen button {font-size:1.9em; padding:0.5em; background-color:#}
#importresult {padding:0.8em;background-color:#f8f8f8;border:1px solid #999;width:600px;height:270px;overflow:auto;}
#progress {float:left;width:500px;margin-left:2em;}

/* Events / Scheduled Tasks */
#eventscontainer {list-style:none;margin:1em 0 1em 0;padding:0;}
#eventscontainer>li {float:left;width:45%;border:1px solid #888; background-color:#fff;padding:1em;margin:0 1em 1em 0;min-height:17em;}
#eventscontainer .edititem {float:right;}



/* progress bar from jquery UI */

/* ProgressBar */

.ui-progressbar {
	width: 400px; height: 20px;
	border: 1px #ccc solid;
	background:#E0E8F3 url(images/bg.gif) repeat-x scroll 0%;
	position:relative;
}

.ui-progressbar-wrap {
	position: relative;
	height: auto;
	width: auto;
	line-height: 18px;
	_line-height: 16px;
}

.ui-progressbar-bar {
	background:#9CBFEE url(images/progress-bg.gif) repeat-x scroll left center;
	border-bottom:1px solid #7FA9E4;
	border-right:1px solid #7FA9E4;
	border-top:1px solid #D1E4FD;
	position: absolute;
}

.ui-progressbar-text {
	color:#fff;
	overflow: hidden;
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}

.ui-progressbar-text-back {
	color:#000;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
}

.ui-progressbar-disabled {
	opacity:.5;
	filter:Alpha(Opacity=50);
}

/* Polaris Docs */
.lijstimage {float:left;}
.plrlijst {margin-left:70px; list-style: circle;}

/* Vertalingen */
.pending {background-color: #FCBBB5;}