/* Navigation - Buttons
----------------------------------------------- */
#buttons-content {
	width: 100%;
	font-size: 0.9em;
	line-height: normal;
	position: relative;
	margin-bottom:0px;
}
ul.buttons {
	text-align : right;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 0px;
	margin-left: 0px;
}
ul.buttons li {
	float:right;
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
}
#buttons-content li {
	border:1px solid #FFA500;
}
ul.buttons li a:link, ul.buttons li a:visited  {
	float: left;
	display: block;
	padding: 3px 9px 3px 9px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
ul.buttons li a:link, ul.buttons li a:visited {float: none;}
/* End IE5-Mac hack */
#buttons-content ul li a {
}
ul.buttons li a:hover {
	color: #fff;
	background-color: #FFA500;
	text-decoration: none;
}
#buttons-content ul li#sel {
  background-color: #FFA500;
  border-width:0;
}
ul.buttons li#sel a{
	color: #414141;
	padding-bottom: 2px;
}
#buttons-content ul li#sel a {
  background-image: url("../images/tab3right-b-sel.gif");
}


.buttonbox {
	background: no-repeat bottom right;
	float: right;
	margin: 0px 5px 5px 5px;
}
.buttonbox img {
	vertical-align: top;
}
.buttonbox a:link, .buttonbox a:visited  {
	padding: 0px 0px 2px 0px;
	text-decoration: none;
}
.buttonbox a:hover  {
	text-decoration: none;
}
.buttonbox .actionbutton {
  background-color:#E5ECF9;
  float:right;
  width:190px;
  margin-left:10px;
  font-size:1em;
  font-weight:normal;
}
.buttonbox .actionbutton a {
  color:#236aa1;
  margin-left:5px;
  margin-right:5px;
}
.buttonbox .actionbutton a:hover {
  color:#777;
}

/* Buttons overview */
.buttonbox.view {
	float: left;
   width:15em;
  height:7em;
 	background-color: gray;
   cursor: pointer;
}
.buttonbox.view img {
	float: left;
}
.buttonbox.view .buttonhead {
}
.buttonbox.view h2 {
   color:#3E4B55;
   margin-bottom:5px;
   font-weight: normal;
   font-size:1em;
}
.buttonbox.view .buttonhead p {
}
.buttonbox.view .buttonbody {
   color:#A4A4A4;
   font-size:0.96em;
}
.buttonbox.view:hover {
	background-color:#B5BDC5;
}
.buttonbox.view a:link, .buttonbox.view a:visited  {
	float: none;
	color: #3C4750;
}
.buttonbox.view a:hover, .buttonbox.view a:hover h2  {
	color: #909090;
}

.buttonbox.app {
	float: left;
	width:14em;
	background-color:#F0F0F0;
}