/*<group=Dashboard styles>*/
	
#dashboard {
  
}

#dashboard h1 {
  
}

table#dashboardlayout {
  width:100%;
	height:auto;
}
table#dashboardlayout td {
  vertical-align:top;
height:auto;
}

.dashboarditem {

}

.dashboarditem iframe {
  width:100%;
  overflow: hidden; 
}

.dashboarditem div.header {
  color: #ffffff;
  background-color: #99e02a;
}
.dashboarditem span.headertitle {
  padding-left:8px;
}

.dashboarditem span.left {
  padding-left:4px;
  display:inline;
  width: 39%;
}

.dashboarditem span.right {
  float: right;
  text-align:right;
  padding-right:4px;
  width: 39%;
}

.dashboarditem #constructtitle {
  display:none;
}
.dashboarditem span.action {

 font-weight:normal;
}

.dashboarditem ul, .dashboarditem li {
  padding:0px;
  margin:0px;
}
.dashboarditem li {
list-style-type: none;
}

/*</group>*/
