/* Atkinson Hyperlegible */
@font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    src: url('../css/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700; /* 700 is for bold */
    src: url('../css/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 700; /* Bold Italic */
    src: url('../css/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: 400; /* Regular Italic */
    src: url('../css/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  }