/* import the normal logon.css */
@import url(logon.css); 

body {
  color:#646464;
  background-color: #FFF;
}
table {
	font-size:1em;
}
table td {
	vertical-align: top;
}
input.text {
	border:1px solid #9FABB3;
}
#plrlogin {
  background-image: url(../images/blursepwhite2.gif); 
}
#loginform {
	padding-top:0px;
}
#login_text {
	padding-left:0px;
	width:100%;
  height:20px;
  min-height:20px;
  background-image: none ;
}

td.label {
	text-align:right;
}

#rememberlabel {
}


#footer {
  color:#646464;
	font-size:0.85em;
}
#footer a, #footer a:visited {
  color: #646464;
}
.copyright {
	display:block;
	padding-top:10px;
}