#pagetabs{
	list-style-type:none;
	margin:0;
	padding:0;
    width:2000px;
    position:absolute;
}
#pagetabs li{
	margin-left:5px;
	float:left;
	width:auto;
}
#pagetabs li a{
-moz-border-radius-topright: 4px;
-moz-border-radius-topleft: 4px;
-webkit-border-top-right-radius: 4px;
-webkit-border-top-left-radius: 4px;
  font-size:0.9em;
  letter-spacing:1px;
	padding:1px 8px 2px 8px;
	border:1px solid #ccc;
	background-color:#dcdcdc;
	display:inline-block;
	white-space: nowrap;

	color:#777;
	text-decoration:none;
}
#pagetabs li a.selected, #pagetabs li a.selected:hover{
	background-color:#FCFCFC;
	color:#444;
	border-bottom:1px solid #FCFCFC;
}
#pagetabs li a:hover{
	color:#111;
}
#pagetabs li a.selected.needsattention {
	background-color:#fff;
}
#pagetabs li a.needsattention {
    background:#FFCBB8 url(../images/bullet_error.png) no-repeat top right;
    padding-right:20px;
}
#pagetabs li.clean a{
    border:none;
    background-color:inherit;
    color:#5383C2;
}

.non-active-pagecontents, .pagecontents
{
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border: 1px solid #ccc;
margin: 0px 10px 5px 0px;
padding: 0 15px 0 15px;
background-color:#F3F3F3;
}
.pagecontents {
background-color:#FCFCFC;
}

/* scrolling the tabs */
#pagetabcontainer .toleft { position:absolute;left:-10px;height:20px;width:20px;background-color:red;z-index:2000;}
#pagetabcontainer .toright { position:absolute;right:0px;height:20px;width:20px;background-color:red;z-index:2000;}