@import url(plrdefault.css);

h1 {
	color:#EA3DAA;
	border-bottom-color:#F187CA;
}
#clienttitle {
	background: url(../images/GPR_LOGO_tcm8-4217.gif) no-repeat top left;
	height:46px;
}
#clienttitle span { display:none; } /* because we have a client logo we don't show the client text */

#applicationtitle {	color:#EA3DAA; background-image: none;}
ul#topinfo { border-color:#F583CB; color:#F266BE; }
ul#topinfo li.special a {	color:#E51296; }
ul#topinfo li {	border-left-color:#F583CB; }
#topcontent { border-top-color: #0084D0; }

#navigation.horizontal ul {
	background-color:#EC66AC;
	border-top-color:#F4AAD1;
	border-bottom-color:#E11C84;
}
#navigation.horizontal ul li a, #navigation.horizontal ul li a:hover, #navigation.horizontal li.selectedmenu a:hover  {
	padding:0px 5px 0px 5px;
}
#navigation.horizontal li:hover,
#navigation.horizontal li.hover, 
#navigation.horizontal li.selectedmenu {
	background-color:#F295C6;
	border-top-color:#FFD0EA;
	border-bottom-color:#FF4DAF;
}

#navigation.horizontal .im {display:none;}

