.clientpreselect {
	margin-bottom : 10px;
}
div#inlinehelp {
	position:absolute;
	right:15px;
	top:110px;
	padding:8px;
	margin-right:10px;
	margin-top:10px;
	background-color:#F0FFF0;
	border:1px solid #7EE17E;
	letter-spacing : 0.5px;
	font-size: 0.9em;
	color: rgb(49, 49, 49);
	width: 200px;
}
div#inlinehelp h1 {
	font-size: larger;
	font-weight:bold;
	color:#2AAF2B;
	border:0px;
	margin-top:0px;
}
div#inlinehelp b {
	color:#2AAF2B;
}
.contentwithhelp {
	width:50%;
}
.contentwithhelp h2 {
}

ul.startfunctions, ul.startfunctions li{
padding-left:0px;
margin-left:0px;
clear:both;
}
ul.startfunctions li{
list-style: none;
padding-bottom:10px;
}
ul.startfunctions a{text-decoration:none;display:block;}
ul.startfunctions a:hover{text-decoration:underline;}

ul.startitems{width:100%;}
ul.startitems, ul.startitems li{
padding-left:0px;
margin-left:0px;
}
ul.startitems li{
height:72px;
width:49%;
list-style: none;
float:left;
}
ul.startitems a{
font-size:1.0em;
font-weight:bold;
text-decoration:none;
padding:10px;
margin-right:10px;
margin-bottom:10px;
}
ul.startitems a:hover{text-decoration:underline;}
.imgstartitem{margin-right:5px;border:0px;vertical-align:middle;}

ul.mod_app li#mod_app a,
ul.mod_user li#mod_user a,
ul.mod_db li#mod_db a,
ul.mod_back li#mod_back a,
ul.mod_client li#mod_client a,
ul.mod_settings li#mod_settings a {
	color: #1B3145;
	letter-spacing:1px;
	/* background-image: url(../images/nav2_nextdisabled.gif) ;
	background-position: center right;
	background-repeat: no-repeat;*/
}

#navcontainer ul#modules li.normalmenu a:hover, #navcontainer ul#modules li.selectedmenu a:hover {
	background-color: #7DC2D7;
	border-right:1px solid #3CA3C3;
	border-bottom:1px solid #3CA3C3;
}
#navcontainer ul#modules li.headermenu {
	background-color:#2BCCFF;
	border-right:1px solid #437BAB;
	border-bottom:1px solid #437BAB;
}

.mainactions {
	margin-top:27px;
}
/* for identing the text on the appgen pages  */
.indent {
	margin-left:25px;
	width:50%;
}
.smaller {
	font-size:0.9em;
}

.select_container {
  width:25%;
  float:left;
}
.select_buttons {
  margin:0px 10px 0px 10px;
  padding-top:4%;
  width:40px;
  float:left;
  vertical-align: bottom;
  text-align: center;
}
.select_buttons button {
  width:40px;
  display: inline;
}