/*
 CSS StyleSheet for the Polaris Applications
 Developed by Bart Bons of BONS IT Solutions
 20-8-2002  No copyrights: copy freely;
*/

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/css/material-symbols/MaterialSymbolsOutlined.woff2") format('woff2');
  }

:root {
    --symbol-font-family: "Material Symbols Rounded";
}

.material-symbols-filled, .material-symbols-outlined {
    font-family: var(--symbol-font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 0.7 !important;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -0.3em;
}
i.material-symbols-outlined.md-1x {
    font-family: var(--symbol-font-family);
    font-size: 24px;
    font-variation-settings: "OPSZ" 20;
}

i.material-symbols-outlined.md-2x {
    font-family: var(--symbol-font-family);
    font-size: 34px;
    font-variation-settings: "OPSZ" 34;
}

i.material-symbols-outlined.md-3x {
    font-family: var(--symbol-font-family);
    font-size: 48px;
    font-variation-settings: "OPSZ" 48;
}

i.material-symbols-outlined.md-4x {
    font-family: var(--symbol-font-family);
    font-size: 58px;
    font-variation-settings: "OPSZ" 40;
}

i.material-symbols-outlined.md-5x {
    font-family: var(--symbol-font-family);
    font-size: 62px;
    font-variation-settings: "OPSZ" 48;
}

.material-symbols-filled {
    font-family: var(--symbol-font-family);
    font-variation-settings: "FILL" 1;
}
i.material-symbols-filled.md-1x {
    font-family: var(--symbol-font-family);
    font-size: 24px;
    font-variation-settings: "FILL" 1 "OPSZ" 20;
}

i.material-symbols-filled.md-2x {
    font-family: var(--symbol-font-family);
    font-size: 34px;
    font-variation-settings: "FILL" 1 "OPSZ" 34;
}

i.material-symbols-filled.md-3x {
    font-family: var(--symbol-font-family);
    font-size: 48px;
    font-variation-settings: "FILL" 1 "OPSZ" 48;
}

i.material-symbols-filled.md-4x {
    font-family: var(--symbol-font-family);
    font-size: 58px;
    font-variation-settings: "FILL" 1 "OPSZ" 40;
}

i.material-symbols-filled.md-5x {
    font-family: var(--symbol-font-family);
    font-size: 62px;
    font-variation-settings: "FILL" 1 "OPSZ" 48;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-size:1.35em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    cursor: default;
}

.text-large {
    font-size: 130%;
}

.navbar-default {
    background-color: #2f4050;
}

.row-no-padding {
    margin-right: 0;
}

.row-no-padding [class*="col-"] {
    padding-right: 0 !important;
}
.row-clear-padding [class*="col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

label {
    font-weight: 450;
}

label.hint {
    border-bottom: 1px dotted #999;
}

input.readonly,
textarea.readonly {
    background-color: #e7e7e7;
    color: #555;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    /* color: #333 !important; */
}

.formlayout label {
    float: left;
    position: relative;
    margin-bottom: 5px;
    text-align: right;
    width: 130px;
    padding-right: 5px;
}

.placeholder {
    color: #ccc;
}

.att {
    color: red;
}

.success {
    color: green;
}

.err {
    display: block;
    color: #bf0000;
    margin: 10px 0;
}

a img {
    border: 0;
}

abbr {
    border-bottom: 1px dashed #444;
}

.no-gutter {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.no-gutter>[class*="col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#newsession {
    display: inline-block;
    font-size: 0.9em;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: -0.5em;
    vertical-align: top;
    -webkit-transition: all 0.4s linear;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
}

#newsession span {
    display: none;
}

#newsession:hover {
    -webkit-transform: rotate(360deg) scale(1.5);
}

#sidebar .sidebar-collapse {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    /* Full viewport height */
}

#sidebar label.label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    padding:0.2em 0.4em;
}

.apps-dropdown label.label {
    font-size: 0.7em !important;
}

.sidebar-collapse .sidebar-toggler {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height:24px;
    width:24px;
    position: absolute;
    /* circle with chevron */
    background: #fff;
    color:#1b2833;
    border-radius: 50%;
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 1100;
    top: 66px;
    right: -11px;
}
.sidebar-collapse .sidebar-toggler:before {
    content:"chevron_left";
    font-family: var(--symbol-font-family);
    line-height: 115%;
    font-size:1.6em;
    font-weight: 800;
}
.mini-navbar .sidebar-collapse .sidebar-toggler:before {
    content:"chevron_right";
    margin-left:2px;
}
.mini-navbar .sidebar-collapse .sidebar-toggler,
.sidebar-collapse:hover .sidebar-toggler {
    visibility: visible;
    opacity: 1;
}

body.mini-navbar #sidebar {
    transition: width 0.0s ease-out, min-width 0.0s ease-out; /* Add transition property for width and min-width changes */
    position: absolute;
    height:100vh;
    left:0px;
}

body.mini-navbar #sidebar.menuEnter {
    min-width:220px;
    width:220px;
    box-shadow: 10px 0 10px -2px rgba(0,0,0,0.4);
}
body.mini-navbar #sidebar.menuLeave {
    min-width:30px;
    width:30px;
}

body.mini-navbar #sidebar.menuEnter .sidebar-collapse {
    visibility: visible !important;
}

body.mini-navbar #sidebar.menuLeave .sidebar-collapse {
    visibility: hidden !important;
}

/* Applicatie overview body tag*/
#const_ {
    background: rgb(32,35,41);
    background: linear-gradient(0deg, rgba(32,35,41,1) 0%, rgba(39,50,60,1) 75%, rgba(58,72,74,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.application-group {
    text-decoration: none;
    padding: 15px 10px 20px 10px;
    min-height: 60px;
    font-size:1.8em;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction:row;
    margin: 0;
}

.application-group.nofit {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.applicationicon {
    margin-right: 0px;
    align-self: start;
}
.applicationicon img {
    padding-top:1px;
}

.applicationtitle {
    /* font-family: "Bree serif" !important; */
    font-weight: 700;
    padding-left:4px;
    line-height: 140%;
    display: inline-block;

    flex-grow:1;
    white-space: pre-wrap;
    color: rgba(24, 166, 137, 0.8) !important;
    white-space: normal;
}


.construct-group {
    flex: 1;
    overflow-y: auto;
    padding-top: 30px;
    position: relative;
    box-sizing: border-box;
}

.powered-by {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
    margin-right: 20px;
}

.username {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 300;
    cursor: pointer;
    margin: 0 0.3em 0 0;
    padding: 0 1em 0 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.username:hover {
    text-decoration: none;
}

.username i {
    font-size: 3rem;
    margin: 0;
    /*    font-size:0.8em;*/
    padding-left: 0.5em;
}

#userimage {
    display: inline;
}

#userimage img {
    z-index: 100;
    width: 30px;
    height: 30px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 50%;
    border: 0px solid transparent;
}

#userimage:hover img {
    border: 3px solid #18a689;
}

.jdenticons canvas {
    background-color: #fff;
    border-radius: 10%;
}

.attgrabber {
    position: absolute;
    left: 20vw;
    font-size: 2em;
    font-weight: 800;
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.welcome-to {
    color:rgba(255,255,255,0.8);
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 40px;
}

.appselect,
.appselect:hover {
    text-decoration: none;
}

.appselect i {
    font-size: 0.9em;
}

.arrow_box {
    border: 3px solid #ccc;
    background-color: #fff;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 100px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(244, 244, 244, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.arrow_box:before {
    border-color: rgba(244, 244, 244, 0);
    border-bottom-color: #ccc;
    border-width: 15px;
    margin-left: -15px;
}

div.recordnavigator {
    font-size: 1.1em;
    display: inline;
    vertical-align: middle;
    padding-right: 1em;
    padding-left: 1em;
}

.navbuttons a i.disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: default;
}

div#checkwebpage {
    width: 100%;
    text-align: right;
}

div#checkwebpage a {
    text-decoration: none;
}

div#checkwebpage button {
    font-size: x-small;
}

.large {
    height: 23px;
    font-size: 15px;
}

span.checkboxitem {
    display: block;
}

#detailform #constructtitle {
    padding-top: 0em;
}

#detailform .pagecontents {
    border: none;
}

/* #pagetabs ? */

.constimg {
    color: rgba(0, 0, 0, 0.15);
    width: 40px;
    padding-top: 15px;
    margin-right: 15px;
    float: left;
}

.constimg.icon {
    font-size: 2.9em;
    line-height: 1em;
    padding-top: 8px;
}

.saveresult {
    float: right;
    color: #c02f2f;
}

#formminiactions {
    float: right;
    width: 100px;
    padding-right: 8px;
    text-align: right;
    font-size: 0.85em;
}

.masterform {}

.detailform {}

.detailform span.constructname {
    font-size: 1.3em;
}

span.detailcaption {
    display: block;
    padding-left: 20px;
    padding-bottom: 7px;
    color: #555;
    font-size: 1em;
}

span.detailcaptionname {
    font-weight: 900;
}

span.recordcount {
    font-size: 0.9em;
    letter-spacing: 1px;
}

#appimage {
    position: absolute;
    z-index: 90;
    right: 80px;
}

.panelhelp {
    margin-bottom: 8px;
    margin-top: 8px;
    border: 1px solid #b9eeb9;
    background-color: #e9fae9;
    padding: 5px 8px;
    color: #62b662;
}

.panelhelp i {
    color: rgba(98, 181, 98, 0.9);
}

.action .pinrecord {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: text-bottom;
    padding-left: 4px;
}

.formnavigatebox {
    clear: both;
    width: 95%;
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
    letter-spacing: 2px !important;
    margin: 1.8em 0 0.8em;
    padding: 0.2em 0.5em 0.2em 0;
}

.formnavigatebox li {
    display: inline;
    list-style: none;
    padding-right: 1.5em;
    margin: 0;
}

a.formnavigate,
a.formnavigate:link {
    color: #4c8e34;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 2px 20px 3px 0;
}

a.formnavigate:visited {
    color: #405d36 !important;
}

a.field_tabledetails span {
    display: none;
}

.formpicture {
    border: 1px solid #4682b4;
    float: left;
    vertical-align: top;
    margin: 5px 5px 5px 0;
    padding: 3px;
}

a.replyemail,
a.replyemail:link,
a.replyemail:hover,
a.replyemail:visited {
    color: #de4343;
}

#appsplash {
    vertical-align: top;
    margin: 0 0 20px 20px;
    max-width: 450px;
}
.appdescription {
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 10px;
}

.appdescription h2 {
    padding-bottom: 100px;
    font-size:1.7em;
    font-weight: 300;
}

.editwebpage a,
.editwebpage a:visited,
.editwebpage a:link {
    color: #2e8b57;
}

.editwebpage a:hover {
    color: #1d5837;
}

.ajaxuploadfeedback {
    display: inline-block;
}

.ajaxuploadfeedback span {
    display: block;
    height: 16px;
    width: 16px;
}

.ajaxuploadfeedback span.wait {
    background: url(../images/wait.gif) no-repeat center;
}

.ajaxuploadfeedback span.ok {
    background: url(../images/ok.png) no-repeat center;
}

.imagecontainer {
    display: none;
}

.imagecontainer.active {
    display: block;
}

div.row .left {
    text-align: left;
    width: 49%;
}

div.row span.right,
div.row div.right {
    float: right;
    width: 49%;
}

div.row span.right {
    text-align: right;
    width: 29%;
}

span.center {
    display: block;
    text-align: center;
}

#searchpnl {
    background-color: #f8f8f8;
    position: relative;
}

#searchpanel {
    width: 0px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f8f8f8;
}

.docked #searchpanel {
    width: 260px;
}

.search-tools {
    position: relative;
    top: 10px;
    right: 5px;
    z-index: 2000;
}

.search-tools a,
.search-tools a:visited {
    color: #ccc;
}

.docked .search-tools {
    position: absolute;
}

#searchpanelinner {
    padding: 15px 10px 0 20px;
}

#searchpanel .section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    clear: both;
    padding: 0px 5px 15px 0px;
    margin-bottom: 20px;
}

#searchpanel .section .formviewrow {
    margin: 0em;
}

.searchallcolumns_value,
.searchallcolumns_column {
    width: 100px;
}

.searchallcolumns_column {
    margin-bottom: 3px;
}

#searchpanel .form-group {
    margin: 0 !important;
}

#searchpanel label {
    font-weight: 300;
    font-size: 0.9em;
    overflow: hidden;
}

#searchpanel .form-control[type="search"] {
    padding-left: 5px;
    height: 1.6em;
    width: 8em;
    float: right;
}

#searchpanel .control-label {
    padding-left: 0px;
}

#searchpanel .search-main-control {
    margin: 0 0 10px 0px !important;
}

#searchpanel .search-main-control input {
    width: 210px !important;
    font-size: 0.9em;
}
.optional-field {
    display: block;
    font-size: 0.7em;
    color: #bdbdbd;
    text-transform: uppercase;
    padding-top:0px;
    padding-bottom: 3px;
}
.generic-page .optional-field {
    color: rgba(83,125,133,0.5);
}

.animatedSearch {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bigsearch .searchbox {
    position: relative;
    padding: 5px 0 0 10px;
    border-left: 4px solid #1ab394;
    line-height: 1.8rem;
}

.bigsearch .searchbox .searchtag {
    margin: 0 0px 0 5px;
}

.bigsearch .resultsbox {
    min-height: 35px;
    padding-left: 5px;
    padding-bottom: 0px;
}

.bigsearch .resultsbox.closed {
    min-height: 0px !important;
}

.bigsearch .resultsbox.closed .searchactions {
    display: none;
}

.bigsearch .globalsearch {
    padding-right: 0px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.bigsearch .globalsearch::before {
    content:"search";
    padding-top:10px;
    font-size:2.2em;
    font-family: var(--symbol-font-family);
    color: #ccc;
}

.bigsearch .globalsearch input {
    flex-grow:1;
    outline: none;
    font-size: 1.1em;
    height: 100%;
    border: 0;
    margin-top: 7px;
    margin-left:10px;
    background-color: transparent;
}

.bigsearch .search-drop-down {
    position: relative;;
}


.bigsearch .globalsearch input::placeholder {
    color: #ccc;
}

.bigsearch .searchactions {
    padding-right: 0;
}

.bigsearch .searchactions .btn {
    border-radius: 0px;
    min-height: 40px;
}

.bigsearch .btn-clean {
    background-color: transparent;
    height: 40px;
    color: #999;
}

.searchtag {
    margin-top: 4px;
}

.pinnedtags {
    display: inline-block;
    list-style: none;
}

.pinnedtags div:first-child{
    margin-left: 10px !important;
}
.pinnedtags div:last-child{
    margin-right: 5px;
}

div.formview,
div.searchview {
    width: 100%;
    margin: 1em 0;
}

div.formview {
    padding-bottom: 00px;
}

div.formviewrow {
    clear: left;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

div.formviewrow .label {
    text-align: right;
    max-width: 243px;
    width: 40%;
    display: inline-block;
    padding: 0 2px 0 0;
    white-space: nowrap;
}

div.formviewrow div.formcolumn {
    display: inline-block;
    width: auto;
    min-height: 1.95em;
}

div.formviewrow .textline {
    font-weight: bolder;
}

div.columngroup {
    float: left;
}

div.groups_1 div.columngroup {
    width: 100%;
}

div.groups_2 div.columngroup {
    width: 50%;
}

div.groups_3 div.columngroup {
    width: 33%;
}

div.columngroupreset {
    clear: both;
}

.column-textline {
    padding:15px 0 0 0px !important;
    font-weight: 500;
}

.firstfield {
    width: 10em;
    margin-right: 0.5em;
}

label.firstfield {
    font-size: 0.9em;
    display: block;
    float: left;
    clear: left;
}

table#searchview {
    clear: none;
    margin-bottom: 1em;
}

table#searchview .label {
    vertical-align: top;
    width: 5em;
}

#formcontrols div:first-child {
    margin-right: 20px;
}

.i18n ul {
    display: block;
    margin: 0 0 1px;
    padding: 0;
}

.i18n li {
    list-style-type: none;
    background-color: #4682b4;
    float: left;
    font-size: 0.9em;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0 1px 0 0;
    padding: 0 5px;
}

.i18n li.current {
    background-color: #fff;
    border-top: 1px solid #4682b4;
    border-right: 1px solid #4682b4;
    border-left: 1px solid #4682b4;
    border-bottom: 1px solid #fff;
}

.i18n li.current a {
    color: #4682b4;
}

.i18n {
    display: block;
    margin-top: 20px;
}

/*************************************
Styles for the Action tabular menu structure
**************************************/
.mdactions {
    padding: 0 0 0 0;
    position: relative;
}

.mdactions li {
    display: inline;
    position: relative;

}

.action-bar:has(li), .action-bar:has(div) {
    padding: 20px 10px 10px 10px;
    margin-bottom:0px;
}

/* master action */
.allitems #masteractions li.allitems a,
.insert #masteractions li.insert a,
.clone #masteractions li.clone a,
.impexp #masteractions li.impexp a,
.search #masteractions li.search a,
.searchext #masteractions li.search a,
/* detail action */
.detail_allitems #detailactions li.allitems a,
.detail_insert #detailactions li.insert a,
.detail_clone #detailactions li.clone a,
.detail_impexp #detailactions li.impexp a,
.detail_search #detailactions li.search a,
.detail_searchext #detailactions li.search a {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#masteractions li#extra_action_container {
    border-left: 1px solid #888;
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    margin-left: 1.1em;
    padding-left: 0.8em;
}

.searchform {
    display: inline;
    margin: 0;
    padding: 0;
}

.searchform input {
    margin: 0 0 0 8px;
}

.searchform button {
    font-size: 1em;
    margin: 0 0 0 5px;
    padding: 1px 2px;
}

span#searchadvanced a {
    text-decoration: underline !important;
    border-bottom: 0;
    font-size: 0.9em;
    color: #7d7d7d;
    margin-left: 10px;
    font-weight: 400 !important;
}

span#searchadvanced a:hover {
    border-bottom: 0;
}

.rowaction a,
.rowaction a:visited {
    color: #85c95e;
}

.selectrow {
    padding: 3px 5px 4px 5px;
    color: #4c8e34;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#debugmessage {
    color: #77c24c;
    border: 2px solid #77c24c;
    font-weight: 400;
    font-size: 1.1em;
    background: url(../i/beos/info.png) #fff no-repeat 0 center;
    margin: 15px 0;
    padding: 15px 0 15px 45px;
    max-height: 50px;
    overflow: auto;
}

#errormessage {
    color: #da3a3a;
    border: 2px solid #da3a3a;
    font-weight: bold;
    font-size: 1.1em;
    background: url(../i/beos/stop.png) #fff no-repeat 0 center;
    margin: 15px 0;
    padding: 15px 0 15px 45px;
    -khtml-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#errormessage .original {
    font-weight: normal;
    font-size: 0.8em;
    color: #444;
}

.publish {
    cursor: pointer;
    border-right: solid 1px #e55c00;
    border-bottom: solid 1px #e55c00;
    border-top: solid 1px #ff751a;
    border-left: solid 1px #ff751a;
    background-color: #f60;
    color: #fff;
}

.publish:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff751a;
}

.savedraft {
    cursor: pointer;
    border-bottom: solid 2px #000;
    border-right: solid 2px #000;
    border-top: solid 1px #369;
    border-left: solid 1px #369;
    background-color: #025;
    color: #fff;
}

.savedraft:hover {
    text-decoration: none;
    background-color: #036;
    color: #fff;
}

tr.invisible td,
tr.invisible a {
    color: #a2c0db;
}

.colorpicker {
    cursor: pointer;
}

#colortracker {
    width: 40px;
    height: 128px;
    display: block;
    float: left;
}

#colorchoice {
    width: 240px;
    height: 25px;
}

#colortable {
    width: 200px;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
}

div.moduleactions {
    width: 400px;
    border: 1px solid #ef879c;
    background-color: #ffdfdf;
    padding: 0.8em;
}

div.moduleactions h1 {
    background-color: #dc143c;
    text-shadow: none;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 0.6em;
    margin: -0.8em -0.8em 0.8em;
}

#emailselectbox {
    width: 500px;
    height: 20em;
    overflow: scroll;
    border: 1px solid #000;
}

#emailselectbox .emailaddress {
    width: 20em;
    overflow: hidden;
    float: left;
}

/**
* Live Search styling*/
#livesearchimage {
    cursor: pointer;
    vertical-align: text-top;
}

#livesearch {
    display: none;
    background-color: #fff;
    height: 14px;
    width: 140px;
}

#LSResult {
    position: absolute;
    z-index: 2000;
    width: 280px;
    right: 5px;
    top: 52px;
    background: url(../images/shadowAlpha.png) no-repeat bottom right !important;
    margin: 10px 0 10px 10px !important;
    padding: 0;
}

#LSShadow {
    background-color: #fff;
    filter: alpha(opacity=85);
    opacity: 0.85;
    position: relative;
    bottom: 6px;
    right: 6px;
    border: 1px solid #999;
    margin: 0;
    padding: 4px 10px 4px 4px;
}

#LSShadow p {
    font-size: 14px;
    margin: 3px;
}

.LSRes {
    padding-left: 20px;
    margin: 0;
}

.LSRowHeader {
    list-style: none;
    margin-left: -17px;
    left: 0;
    padding: 0;
}

.LSRowHeader h2 {
    font-size: 0.9em;
    margin-bottom: 2px;
}

.LSRow {
    margin-left: 0;
    padding-left: 5px;
}

#maintenance_window {
    border-radius: 8px;
    background-color: #ffed25;
    position: absolute;
    z-index: 1000000;
    top: 10px;
    /* Adjust this value to position the div above the parent div */
    right: 120px;
    transform: translateX(-10%);
    width: 350px;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
}

#maintenance_window img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

#maintenance_window i {
    padding-right: 10px;
}

#maintenance-alert.active i {
    color: #ffa50a;
}

iframe.customview {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Component */
.components {
    margin: 0;
    padding: 0;
}

.components li {
    background: #d1e7f7;
    position: relative;
    margin: 0;
    clear: both;
    padding: 5px 5px 0 5px;
    list-style: none;
    border-top: 1px solid #e6f2fa;
    border-bottom: 1px solid #b2d3eb;
}

.componentblock {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.8em;
}

.componenttext {
    font-size: 0.9em;
    letter-spacing: 1px;
    padding-bottom: 0;
    display: block;
    color: #7fb0d1;
}

div.componentcontent .textline {
    font-size: 95%;
    margin: 0;
    padding: 0;
}

div.componentcontent {
    padding-left: 10px;
    padding-bottom: 0.5em;
}

/* For Internet Explorer */
div.componentbuttongroup {
    width: 7em;
    text-align: right;
    padding-right: 5px;
    float: right;
    clear: both;
}

div.componentbuttongroup .button {
    font-size: 1.1em;
}

.comptoggler {
    cursor: pointer;
    position: absolute;
    color: #bcd7fc;
    padding-left: 5px;
    font-size: 1.1em;
    height: 18px;
    width: 18px;
    top: -14px;
    right: 10px;
}

/* Form validaton error message */
input.error {
    border: 2px solid red;
}

label.error {
    padding-left: 0.7em;
    font-size: 0.9em;
    color: #ca0000;
}

#quickinsert td {
    vertical-align: top;
    white-space: nowrap;
}

img.progress {
    vertical-align: middle;
    padding: 0 10px;
}

.binarycheckboxgroup {
    position: absolute;
    font-size: 0.9em;
    z-index: 19;
    width: 12em;
    background-color: #fff;
    border: 1px solid gray;
    display: none;
    padding: 6px;
}

.binarycheckboxgroup_content {
    z-index: 20;
    position: relative;
    height: 150px;
    overflow: scroll;
}

.binarycheckboxgroup .actions {
    display: block;
    margin-top: 4px;
    font-size: 0.9em;
    color: #333;
}

#quickinsert tr td {
    border-bottom: 0 !important;
}

/***
* Sort column styling*/
a.remove_ordercols,
a:visited.remove_ordercols {
    margin-left: 2em;
    color: #8a0052;
    font-size: 0.9em;
}

.remove_ordercolumn {
    width: 10em;
    text-align: center;
    position: absolute;
    margin-top: -20px;
    text-decoration: underline !important;
    font-weight: 400;
    font-size: 0.95em;
    color: blue;
}

/*
================================================
styling for autosuggest begins here
================================================*/
ul.autosuggest {
    position: absolute;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

ul.autosuggest li {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

ul.autosuggest li a:link,
ul.autosuggest li a:visited {
    display: block;
    text-decoration: none;
    background-color: #eee;
    padding: 2px;
}

.as_invalid {
    background-color: #fda7a7 !important;
}

.as_showfield {
    margin-right: 5px;
}

table.small,
table.apps .version {
    font-size: 0.8em;
}

label,
table.data tr td.group-table.left,
table.data thead th.group-table.left {
    margin: 0;
    padding: 0;
}

input.sbttn,
#form_settings select,
.binarycheckboxgroup_button {
    font-size: 0.9em;
}

.hidden,
html>body table.data td.group-table.left,
html>body table.data th.group-table.left,
ul#switch-tab li.hide {
    display: none;
}

/*a,a:link {
color:#007DA3;
}
*/
a:hover,
#footer a:hover,
div#checkwebpage a:hover,
.PMS a:hover,
a.formnavigate:hover,
.accesskey {
    text-decoration: underline;
}

body.REST,
table#admin,
table#admin td {
    padding: 10px;
}

#headercomplete {
    background-color: #444;
    position: relative;
}

#filtergroup select {
    background-color: #fff;
}

html>body div.componentblockhilight,
html>body div.componentblock {
    margin-bottom: 10px;
}

div.recordnavigator img.active,
#formminiactions img,
img.button {
    cursor: pointer;
}

#filterform,
#cancelform {
    margin: 0;
    padding: 0;
}

table.table td.right,
table.table th.right,
table.table td.numeric,
table.table th.numeric,
table td.numeric,
table th.numeric {
    text-align: right;
}

div.row,
div#tagsky h2,
div#tagsky h3,
div#tagsky h4 {
    margin: 0;
}

.i18n li a,
#tableactions li a {
    color: #fff;
    text-decoration: none;
}

div#tagbar_content,
div#tagcloud {
    padding: 0;
}

div.componentblockhilight .componenttext,
div.componentblockhilight div.componentheader {
    color: #914542;
}

ul.autosuggest li a:hover,
ul.autosuggest li a:active,
ul.autosuggest li.highlight a:link,
ul.autosuggest li.highlight a:visited {
    color: #fff;
    background-color: #4bcf47;
}

/*
* Modeler styling
*/
#ftdcontainer {
    width: 95%;
    min-height: 400px;
    overflow: auto;
    margin: 20px;
}

#ftdcontainer .diagram {}

/* PLR FORM BUTTONS (Save, Cancel, ...) */
.topbuttons a {
    display: inline;
}

/* END PLR FORM BUTTONS */

#linkedconstructs {
    position: absolute;
    margin-top: 0px;
    right: 0px;
    font-size: 0.9em;
    width: auto;
    padding-right: 2em;
}

#linkedconstructs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#linkedconstructs ul li {
    float: left;
    text-align: center;
    margin-left: 1em;
}

#linkedconstructs a {
    text-decoration: none;
    color: #555;
}

#linkedconstructs span {
    display: block;
}

#pagestats {
    clear: both;
    margin-top: 2em;
    font-size: 0.8em;
    text-align: center;
}

/* Bugtracker */
#bugtracker {
    position: absolute;
    top: 9px;
    right: 50%;
    z-index: 200;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 2px 7px 2px 7px;
}

#bugtracker a {
    background-color: #406dad;
}

.fval-global {
    color:#fff;
    background-color: #1a7bb9;
	font-size:1em !important;
	font-weight: 600;
    border:0px solid transparent ;
	border-radius: 4px;
	padding:4px 10px 3px 10px !important;
}

.ajaxupdating {
    background: url(../images/wait.gif) no-repeat top right;
}

.rounded {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* Adjust the styling of the datepicker image, so that the strange margins are not visible */
.ui-datepicker-trigger {
    float: right;
}

/* Pinned records */
.pinneditems span {
    font-size: 0.7em;
}

.pinnedrecords {
    padding: 0;
    margin: 0;
    -khtml-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.pinnedrecords div {}

.pinnedrecords p {
    padding-top: 4px;
    font-size: 0.9em;
}

.pinnedrecords .widget {
    margin-top: 0px;
}

.pinnedrecords li {
    list-style: none;
}

.pinnedrecords li div.widget {
    margin: 0 8px 8px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #058f73;
    color: #ddd;
}

.pinnedrecords li.active a,
#pinnedrecords li.active p {
    color: #fff;
}

.pinnedrecords li a.reclink {
    padding: 0;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.pinnedrecords li img {
    vertical-align: top;
}

.pinnedrecords li label {
    color: #5c84a2;
    display: none;
    float: right;
    padding-right: 0px;
    margin-right: 4px;
    cursor: pointer;
}

.pinnedrecords li:hover label {
    display: inline;
}

.deleteallpins label {
    padding: 0 17px 0px 0;
    cursor: pointer;
}

.deleteallpins label a {}

.deleteallpins label:hover a {
    color: #bb4848;
}

.delete-pin {
    color: rgba(255, 255, 255, 0.9);
}

.pinaction {
    padding: 2px 0 4px 10px;
}

/* Wordt gebruikt door jqM, blockUI en greybox */
.blockUI,
.shadowbox {
    box-shadow: 0px 0px 10px #b2b2b2;
    border-radius: 7px;
}

/* jqModal base Styling courtesy of;
    Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
    the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;
    position: fixed;
    top: 14%;
    left: 50%;
    margin-left: -400px;
    max-height: calc(100vh * 0.8);
    overflow-y: scroll;
    width: 800px;
    background-color: #fff;
    color: #333;
    padding: 20px;
}

.jqmWindow h1,
.jqmWindow h2,
.jqmWindow h3 {
    margin-top: 0px;
}

.jqmOverlay {
    background-color: #000;
}

/*
    Auto complete styling
    jquery/jquery.autocomplete.js
*/

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;
    /*sorry for IE5*/
    display
    /**/
    : block;
    /*sorry for IE5*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
    width: 3000px;
    height: 3000px;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading {
    background: Window right center no-repeat;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}

.selectobject {
    padding-right: 15px;
    background: url(../images/arrow_updown.png) no-repeat center right;
    cursor: pointer;
}

#countrecords {
    cursor: pointer;
}

#closewindow {
    background: url(../images/close.png) no-repeat center center;
    height: 24px;
    width: 24px;
    float: right;
    border: none;
    cursor: pointer;
}

#resizeE {
    height: 100%;
    width: 5px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    font-size: 1px;
    cursor: w-resize;
    text-align: center;
}

#usersettingscontent {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 400px;
    margin: 20px auto;
    padding: 1em;
}

#usersettingscontent td {
    color: #d8e2f0;
}

#usersettingscontent :input {
    color: #222;
}

#tooltipcontent {
    display: none;
    /* required */
    position: absolute;
    /* required */
    z-index: 3000;
    width: 400px;
    max-height: 400px;
    overflow: auto;
    background-color: #fff;
    padding: 10px;
}

#closePopupForm {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
    color: #bb4848;
}

/* Ajax detail */
#datadetailform h3 {
    padding-top: 10px;
}

.nav .badge {
    position: absolute;
    right: 5px;
}

/*.horizontal .badge {
    display: inline-block;
    float:none;
    position:relative;
    margin:-7px 0 0 -24px;
}
.horizontal .selectedmenu .badge {
    background-color:#98a6b5;
    color:#fff;
}
*/

/**
 * Switch-style checkboxes.
 * Inspired by Espresso's 'Tools' switch
 */

label.switch input {
    position: absolute;
    opacity: 0;
}

label.switch {
    position: relative;
    position: absolute;
    left: 220px;
    display: inline-block;
    cursor: pointer;
    margin: 0 1em 0em 0;
    font: 120% sans-serif;
    text-shadow: 0 1px 1px white;
}

label.switch input[type="checkbox"]+div {
    width: 1em;
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    margin: 0 auto 0.8em;
    background: #999;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
    background-origin: border-box;
    background-clip: border-box;
    box-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.8);
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: padding, width;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: padding, width;
    padding-left: 0.8em;
}

label.switch input[type="checkbox"]:checked+div {
    padding-left: 0em;
    width: 1.8em;
}

label.switch input[type="checkbox"]+div:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    margin: -1px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    background: #eee;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.3),
            hsla(0, 0%, 100%, 0));
    box-shadow:
        0 0 0.5em rgba(0, 0, 0, 0.4),
        0 0.2em hsla(0, 0%, 100%, 0.6) inset,
        0 -0.1em 0.3em hsla(0, 0%, 0%, 0.2) inset;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* 1px wider than Lion. */
    height: 8px;
    /* This is more usable for users trying to click it.
  background-color: transparent;
   */
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.41);
    /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:horizontal {
    /* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(0, 0, 0, 0.41);
    /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

.btn-tag {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: rgba(0, 80, 138, 0.4);
}

.btn-tag:hover {
    background-color: rgba(0, 80, 138, 0.7);
}

.btn-tag.selected {
    background-color: rgba(0, 80, 138, 0.8);
}

.btn-tag.btn-outline {
    color: rgba(0, 80, 138, 0.4) !important;
    border: 1px solid rgba(0, 80, 138, 0.4);
}

.btn-tag.btn-outline:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: rgba(0, 80, 138, 0.7);
}

.btn-tag.selected {
    background-color: rgba(0, 80, 138, 0.8);
}

/* Loading spinner animation */

.spinner {
    top: 340px;
    left: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;

    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;

    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/** New Bootstrap Polaris css **/
#sidebar {
    float: left;
    padding-bottom: 40px !important;
    z-index: 900;
}

body:not(.mini-navbar) #sidebar {
    /* overflow-y:auto; */
    /* overflow-x:hidden; */
    width: 220px;
}

#xmaincontent {
    height: 100%;
    overflow: auto;
}

.constructs-horizontal-features {
    padding: 10px 10px 0 0;
}

.feature-button-group {
    padding-top: 20px;
    padding-right: 10px;
}

.feature-button-group a {
    margin-right: 8px;
    padding-bottom: 5px;
}

.feature-button-group a.feature i {
    color: #676a6c;
    font-size: 2.3em !important;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24 !important;
}

.constructs-horizontal-features .feature-button-group a {
    color: rgba(0, 0, 0, 0.5);
}

.feature-section-user-dropdown {
    margin-top: 14px;
    padding: 10px 0 10px 0;
}

.feature-section-user-dropdown i {
    padding-right: 10px;
    font-variation-settings: "FILL" 1 !important;
}

.feature-section-user-dropdown .dropdown-header {
    color:#000;
}
.feature-section-user-dropdown .dropdown-header h4 {
    color:#2f4c50;
}
.feature-section-user-dropdown .dropdown-header h6 {
    font-weight: 300;
    color:#222;
}

.apps-dropdown {
    position: absolute;
    top:80px;
    padding-bottom: 10px;
    margin-left: 10px;
    z-index: 2000;
}

.appslist {
    width: 60vw;
    height:100%;
    margin: 0 auto;
}

.polaris-appslist-icon {
    width:1.1em;
    margin-top:-3px;
    margin-right: 4px;
    opacity: 0.8;
}

.apps-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .apps-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .apps-container {
        grid-template-columns: 1fr;
    }
}
.expand {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
}

.app-expand {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none !important;
    border-radius: 10px;
    min-height:140px;
    border:6px solid rgba(255,255,255,0.4);

}

.app-expand a {
    text-decoration: none;
}

.app-expand:hover {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -webkit-transition: all 0.1s ease-in-out;
}

.plr-app {
}
.plr-app .app-icon {
    padding-bottom: 0.4em;
}

.plr-app .app-desc {
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.plr-app h2 {
    font-weight: 700;
}

.appslist.small .plr-app {
    width: 80px;
    max-height: 80px;
    border-width: 5px;
    border-radius: 10px;
}

.appslist.small .plr-app .app-name h2 {
    font-size: 1em;
}

.appslist.small .plr-app .app-icon {
    font-size: 0.8em;
}

.breadcrumb {
    padding-top: 10px;
}

.breadcrumb li.last {
    font-weight: bold;
}

.nav-header {
    padding: 10px 0 20px 0 !important;
    text-align: center;
}

.form-group {
    margin-bottom: 6px !important;
    min-height:2.2em;
}

.col-form-label {
    padding-top:0.22em;
    height:100%;
}

.pagination li {
    margin: 0;
    padding: 0;
}
.pagination > li > a, .pagination > li span {
    padding: 0.4em 0.5em;
}

.desaturate img:first-child {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.desaturate:hover img:first-child {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.tag-list a {
    font-size: 0.9em !important;
}

.pagetabcontainer {
    margin: 0px 33px 10px 3px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.pagetabcontainer .nav-tabs>li {
    float: none;
    display: inline-block;
}

.pagetabcontainer .nav>li>a {
    padding: 8px 12px !important;
}

.tabs-container .nav>li>a {
    color: #888;
}

.tabs-container .nav>li.active>a {
    color: #666;
}

.page-tab-arrow {
    padding: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 2;
}

.page-tab-leftarrow {
    left: 0;
}

.page-tab-rightarrow {
    right: 0;
}

.navbar-right {
    margin-right: 0px !important;
}

.navbar-static-top .badge {
    position: absolute;
    margin-right: -8px;
    margin-top: -10px;
    z-index: 100;
}

.search-form {
    display: inline;
}

.search-form input,
.search-form button.btn {
    height: 22px !important;
    margin-top: -2px;
}

.search-form input {
    border-color: #eee;
    color: #000 !important;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 200;
    padding-top: 0.6em;
    font-size: 10pt;
    width: 120px !important;
}

.search-form input[value=""] {
    border-color: #fff;
}

.search-form:hover input,
.search-form:focus input {
    border-color: #eee;
}

.search-form button.btn {
    font-size: 8pt;
    padding: 2px 6px 4px 6px !important;
    color: #ccc;
    border-color: #fff;
    background-color: #fff;
}

.search-form:hover button.btn,
.search-form:focus button.btn {
    color: #fff;
    border-color: #ccc;
    background-color: #ccc;
}

.search-main {
    width: 170px;
}

.search-reset {
    border-color: rgba(86, 187, 149, 0.1) !important;
    background-color: rgba(86, 187, 149, 0.5) !important;
    color: #fff;
}

.nav2 div.separator {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    min-height: 1px;
    height: 1px;
    letter-spacing: -1px;
    font-size: 0.1em;
    line-height: 1px;
    padding: 0px;
    margin: 1px 0px 1px 0px;
}

.debug-formid {
    font-size: 0.7em;
}

.pagination {
    margin: 0 !important;
    font-size: 0.9em;
    text-align: bottom !important;
}

.pagination i {
    width:1em;
    font-size: 1.8em !important;
}

.pagination-disabled {
    cursor: not-allowed;
}

.pagination-disabled i {
    color: #ccc;
}

.headerscroll thead th {
    border: 0px !important;
    padding: 0px !important;
}

.headerscroll table {
    margin-bottom: 10px;
}

.navbar-top-links i {
    color: rgba(0, 0, 0, 0.1);
}

table.table {
    white-space: nowrap;
}

table.table th {
    padding-left: 0px !important;
    padding-bottom: 5px !important;
}

table.table th.action {
    padding-left: 5px !important;
}

table.table th.headerfiller {
    width: 100%;
}

table.table td {
    border: 1px solid inherit;
    padding: 5px !important;
    width: 1% !important;
}

table.table td.action {
    width: 1% !important;
    padding-right: 10px !important;
}

table.table tbody tr td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 500;
}

table tr.focusrow td {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
    outline-width: 0;
}

.form-tags {
    padding: 15px 0 15px 0;
    margin: 0px 0 0px 0;
}

.form-tags i {
    color: #ddd;
}

.nav-tabs>li {
    /* height:10px; BART123 */
}

.btn-primary.savebutton {
    min-width: 100px;
}

/*.input-group-btn .button {
    font-size: 0.4em !important;
}*/

.hotedit input:focus {
    width: 50%;
    border: none;
    /*    outline-color: transparent;
    outline-style: none;
*/
    background-color: #374e6f;
    color: #fff;
}

.cd-pagination {
    width: 90%;
    max-width: 768px;
    text-align: center;
}

.cd-pagination li {
    /* hide numbers on small devices */
    display: none;
    margin: 0 0.2em;
}

.cd-pagination li.button {
    /* make sure prev next buttons are visible */
    display: inline-block;
}

.cd-pagination a,
.cd-pagination span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* use padding and font-size to change buttons size */
    padding: 0.6em 0.8em;
    font-size: 1.2rem;
}

.cd-pagination a {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
}

.no-touch .cd-pagination a:hover {
    background-color: #f2f2f2;
}

.cd-pagination a:active {
    /* click effect */
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.cd-pagination a.disabled {
    /* button disabled */
    color: rgba(46, 64, 87, 0.4);
    pointer-events: none;
}

.cd-pagination a.disabled::before,
.cd-pagination a.disabled::after {
    opacity: 0.4;
}

.cd-pagination .button:first-of-type a::before {
    content: "\00ab  ";
}

.cd-pagination .button:last-of-type a::after {
    content: " \00bb";
}

.cd-pagination .current {
    /* selected number */
    background-color: #64a281;
    border-color: #64a281;
    color: #ffffff;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    .cd-pagination li {
        display: inline-block;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-pagination {}
}

/* --------------------------------

No space - remove distance between list items

-------------------------------- */
.cd-pagination.no-space {
    width: auto;
    max-width: none;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #e6e6e6;
}

.cd-pagination.no-space:after {
    content: "";
    display: table;
    clear: both;
}

.cd-pagination.no-space li {
    margin: 0;
    float: left;
    border-right: 1px solid #e6e6e6;
}

.cd-pagination.no-space li:last-of-type {
    border-right: none;
}

.cd-pagination.no-space a,
.cd-pagination.no-space span {
    float: left;
    border-radius: 0;
    padding: 0.8em 1em;
    border: none;
}

.cd-pagination.no-space li:first-of-type a {
    border-radius: 0.25em 0 0 0.25em;
}

.cd-pagination.no-space li:last-of-type a {
    border-radius: 0 0.25em 0.25em 0;
}

/* --------------------------------

move buttons - move prev and next buttons to the sides

-------------------------------- */
.cd-pagination.move-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-pagination.move-buttons .button:first-of-type {
    float: left;
}

.cd-pagination.move-buttons .button:last-of-type {
    float: right;
}

.cd-pagination.no-space.move-buttons {
    width: 90%;
    max-width: 768px;
    display: block;
    overflow: hidden;
}

.cd-pagination.no-space.move-buttons li {
    float: none;
    border: none;
}

.cd-pagination.no-space.move-buttons a,
.cd-pagination.no-space.move-buttons span {
    float: none;
}

/* --------------------------------

custom icons - customize the small arrow inside the next and prev buttons

-------------------------------- */
.cd-pagination.custom-icons .button a {
    position: relative;
}

.cd-pagination.custom-icons .button:first-of-type a {
    padding-left: 2.4em;
}

.cd-pagination.custom-icons .button:last-of-type a {
    padding-right: 2.4em;
}

.cd-pagination.custom-icons .button:first-of-type a::before,
.cd-pagination.custom-icons .button:last-of-type a::after {
    content: "";
    position: absolute;
    display: inline-block;
    /* set size for custom icons */
    width: 16px;
    height: 16px;
    top: 50%;
    /* set margin-top = icon height/2 */
    margin-top: -8px;
    background: transparent url("../img/cd-icon-arrow-1.svg") no-repeat center center;
}

.cd-pagination.custom-icons .button:first-of-type a::before {
    left: 0.8em;
}

.cd-pagination.custom-icons .button:last-of-type a::after {
    right: 0.8em;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* --------------------------------

custom buttons - replace prev and next buttons text with a custom icon

-------------------------------- */
.cd-pagination.custom-buttons a,
.cd-pagination.custom-buttons span {
    vertical-align: middle;
}

.cd-pagination.custom-buttons .button a {
    /* set custom width */
    width: 40px;
    /* image replacement */
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    color: transparent;
    background-image: url("../img/cd-icon-arrow-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.cd-pagination.custom-buttons .button:last-of-type a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.no-touch .cd-pagination.custom-buttons .button:last-of-type a:active {
    -webkit-transform: scale(0.9) rotate(180deg);
    -moz-transform: scale(0.9) rotate(180deg);
    -ms-transform: scale(0.9) rotate(180deg);
    -o-transform: scale(0.9) rotate(180deg);
    transform: scale(0.9) rotate(180deg);
}

.cd-pagination.no-space.custom-buttons .button:last-of-type a {
    border-radius: 0.25em 0 0 0.25em;
}

/* --------------------------------

animated buttons - animate the text inside prev and next buttons

-------------------------------- */
.cd-pagination.animated-buttons a,
.cd-pagination.animated-buttons span {
    padding: 0 1.4em;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.cd-pagination.animated-buttons .button a {
    position: relative;
    padding: 0 2em;
}

.cd-pagination.animated-buttons .button:first-of-type a::before,
.cd-pagination.animated-buttons .button:last-of-type a::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-pagination.animated-buttons .button:last-of-type a::after {
    -webkit-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    -o-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
}

.cd-pagination.animated-buttons i {
    display: block;
    height: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.no-touch .cd-pagination.animated-buttons .button a:hover i {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-touch .cd-pagination.animated-buttons .button:first-of-type a:hover::before {
    -webkit-transform: translateX(-50%) translateY(-50px);
    -moz-transform: translateX(-50%) translateY(-50px);
    -ms-transform: translateX(-50%) translateY(-50px);
    -o-transform: translateX(-50%) translateY(-50px);
    transform: translateX(-50%) translateY(-50px);
}

.no-touch .cd-pagination.animated-buttons .button:last-of-type a:hover::after {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -moz-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -ms-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -o-transform: translateX(-50%) rotate(180deg) translateY(50px);
    transform: translateX(-50%) rotate(180deg) translateY(50px);
}

@media only screen and (min-width: 768px) {
    .search-vertical .footer.fixed {
        padding-left: 280px;
    }
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.bodyscroll {
    overflow-y: scroll;
}

.bootstrap-dialog-footer-buttons button {
    min-width: 70px !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.tab-pane {
    padding-bottom: 20px;
}

.detailed_message {
    color: #000;
}

.showtourhelp i {
    margin: 0px;
    font-size: 3rem;
}

.float-right {
    float: right;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 8px;
}

@media print {
    @page {
        size: A4 landscape;
        margin: 0cm !important;
    }

    .service-section,
    .searchbox,
    .fc-button-group {
        display: none;
    }

    .d-print-none {
        display: none !important;
    }

    a[href]:after {
        content: "" !important;
    }

    /* Make sure that page tabs + content are displayed when printed */

    .tabs-container li {
        display: block;
    }

    .tab-content .tab-pane {
        display: block !important;
    }
}

.footer {
    z-index: 200;
    min-height: 52px;
}

.header-actions {
    background: #f3f3f4;
    /* border-bottom: 1px solid #e7eaec; */
    /* top: 45px; */
    left: 0;
    right: 0;
    /* margin-bottom:40px; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    z-index: 200;
    /* min-height: 52px; */
}
.header-actions .btn-toolbar{
    justify-content: center; display: flex;
}​

/* Full calendar overrides */

.fc .fc-button {
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
}

/* Parameter form styling */

.parameter-block {
    border: 1px solid #999;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.parameter-block h1 {
    margin-top: 0px;
}

.parameter-block p {
    font-size: 1.1em;
}

.parameter-block>div:first-child {
    background-color: #fff;
}

.parameter-block>div:nth-child(2) {
    background-color: #e3e3e3;
}

.parameter-container {
    display: flex;
}

/* Maak gebruik van Bootstrap classes zoals col-lg-3 en col-md-6 */

.equal {
    display: flex;
    flex-wrap: wrap;
  }


.dropzone {
    min-height: 20px !important;
}

/* Sortable options */
.sortable-table .sortable-handle {
    cursor: grabbing;
    color: rgba(0, 0, 0, 0.5);
}

.sortable-ghost {
    background-color: rgb(232, 245, 250) !important;
}

/* The short name values of binary fields in Listview can be styled with this */
mark {
    border-radius: 4px;
    background-color: #c2d9e8;
    color:rgba(255,255,255,0.8);
    padding: 3px 6px 3px 6px;
    font-weight: 600;
}

.edit_mnu i {
    padding: 0 5px 0 5px;
}

.nav2 {
    padding: 20px 0 20px 10px;
}

.nav2 .profile-element {
    margin-bottom: 30px;
}

.nav2 div.menugroup,
.nav2 div.menuitem {}

.nav2 div i {
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
}

.nav2 div.menugroup {
    margin-top: 20px;
    position: relative;
}

.nav2 div.menugroup .groupname {
    margin-left: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 0.89em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.nav2 div.groupname:hover .toggler,
.nav2 div.menugroup.closed div.groupname .toggler {
    display: inline-block;
}

.nav2 div.menugroup .toggler::before {
    top: -2px;
    left: -12px;
    border: solid transparent;
    font-size: 1.7em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    font-family: var(--symbol-font-family);
    line-height: 80%;
    height: 20px;
    width: 20px;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease;
}

.nav2 div.menugroup:hover .toggler::before {
    content: "\e5cf";
    color: rgba(255, 255, 255, 0.9);
    /* down */
}

.nav2 div.menugroup.closed .toggler::before {
    content: "\e5cc";
    /* right */
}

.nav2 div.menuitem {
    font-weight: 600;
    margin-bottom: 3px;
    margin-right: 12px;
    margin-left: 0px;
    position: relative;
}

.nav2 div.menuitem a {
    width: 100%;
    display: block;
    padding: 6px 15px 6px 10px;
    border-radius: 6px;
}

.nav2 div.menuitem.normalmenu a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.nav2 div.menuitem a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.nav2 div.menuitem.active>a {
    background-color: rgba(26, 179, 148, 0.2);
    color: rgba(255, 255, 255, 1);
}

.nav2 .menuitem .menuitem-submenu {
    background-color: #665E61;
    border-radius: 8px;
    width:100%;
}
.nav2 .menuitem .menuitem-submenu li {
    color:#fff;
}
.nav2 .menuitem .menuitem-submenu a {
    width:95%;
    font-size:0.95em;
    font-weight: 600;
    padding-top:2px;
    padding-bottom:2px;
}
.nav2 .menuitem .menuitem-submenu a:hover {
    background-color: rgba(26, 179, 148, 0.2);
    color: rgba(255, 255, 255, 1);
}


.nav2 .badge {
    position: absolute;
    float: inline-end;
    top: 5px;
    right: 5px;
    border-radius: 4px;
}

    .client-title {
        /* font-family: "Bree serif" !important; */
        font-weight: bold;
        color:rgba(255,255,255,0.8);
        letter-spacing: -0.05em;
    }

    .construct-name {
        /* font-family: "Bree serif" !important; */
        font-weight: bold;
        font-size: 2em;
        padding-left: 60px;
        margin-top: 15px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .construct-name-group {
        font-weight: 100;
        margin-right: 10px;
        color: rgba(0, 0, 0, 0.2);
        border-right: 1px solid #eee;
    }

    /*
  Styling voor taskview status values
*/
    .taskview-pane .taskview-content {
        background-color: #eaeaea !important;
        border-radius: 4px;
        padding: 4px;
    }

    .taskview-pane .taskview-item {
        border-radius: 4px;
        background-color: #fff;
    }

    .taskview-pane .taskview-item:hover {
        background-color: #f2f2f2;
    }

    .taskview-content:hover .taskview-add {
        display: block;
    }

    .taskview-header {
        padding: 7px 7px 7px 10px;
        font-weight: 400;
        font-size: 0.9em;
        text-transform: uppercase;
    }

    .taskview-add-item {
        background-color: rgba(255, 255, 255, 0.6) !important;
        border-radius: 6px !important;
        color: rgba(0, 0, 0, 0.3) !important;
    }

    .taskview-item-more {
        visibility: hidden;
        opacity: 0;
        transition:
            visibility 0.2s,
            opacity 0.2s ease-in-out;
    }

    .taskview-item:hover .taskview-item-more {
        visibility: visible;
        opacity: 1;
    }

    .taskview-item .badge.priority-H {
        background-color: #d16466;
        color: #fff;
    }

    .taskview-item .badge.priority-M {
        background-color: #df9f09;
        color: #fff;
    }

    .taskview-item .badge.priority-L {
        background-color: #84c43b;
        color: #fff;
    }

    .select2-dropdown {
        z-index: 99000;
    }

    .generic-page {
        background-color: rgba(26, 179, 148, 0.15);
        background-color: #d3e3e6;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-color:#b4cdd2;
        padding: 10px 0 10px 15px;
        margin-bottom: 20px;
    }

    .radio {
        margin-top: 0px;
        margin-bottom: 2px;
        padding-top: 2px;
    }

    .off-canvas {
        width: 60vmax;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        border-left: 1px solid #e8e8e8;
        background-color: #f3f3f4;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
        z-index: 1080;
        box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.07);
    }

    .off-canvas-active .off-canvas {
        transform: translateX(0);
    }

    .off-canvas-active .page-wrapper,
    .off-canvas-active .navbar-fixed-top {
        transform: translateX(300px);
    }

    .off-canvas-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1050;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }

    .off-canvas-active .off-canvas-overlay {
        opacity: 1;
        visibility: visible;
    }
    .off-canvas-noblocking .off-canvas-overlay {
        display: none;
    }

    .ui-timepicker-container {
        z-index: 90000 !important;
    }

    .hoverstatus {
        cursor: help;
    }

    .hoverstatus:hover {
        border-color: rgba(0, 0, 0, 0) !important;
    }

    .hoverstatus-content {
        display: none;
        min-width: 1620px !important;
        position: absolute;
    }

    .hoverstatus-content-inner {
        font-size: 0.9em;
    }

    .hoverstatus-content-item {
        display: grid;
        grid-template-columns: minmax(auto, 1fr) repeat(2, minmax(140px, 1fr));
        grid-auto-rows: auto;
        gap: 10px 10px;
        padding-bottom: 5px;
    }

    .hoverstatus-content-item-status {
        display: inline-block;
        text-transform: capitalize;
        padding:2px 7px !important;
        font-weight: 500 !important;
    }

    .popover {
        max-width: none;
        width: 400px;
        z-index:2000;
    }

    .popover-header {
        color: red;
    }

    .popover-body {
        color: blue;
    }

.mediabeheer-view {
    margin-top:15px;
}
.mediabeheer-compact-view {
    display: flex;
    flex-wrap: wrap;
}

.mediabeheer-compact-view-item {
  display: flex;
}
.media-buttonbar {
    padding-bottom:10px;
}
.media-grid {
}
.media-image {
    position: relative;
    margin-right:10px;
    max-width: 9vw;
    min-height: 9vw;
    margin:0 auto;
}
.media-image img.selected {
    border:3px solid #5e4b7c;
}
.media-image img {
    max-height: 6.5vw;
    min-height: 6.5vw;
    object-fit: contain;
}

.mediabeheer-compact-view .media-image {
    max-width: 8vw;
    min-height: 8vw;
    margin:0 auto;
}

.media-image .bestandsnaam {
    width:100%;
    color:#444;
    padding-top:2px;
    text-align: center;
    min-height:38px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.media-upload {
    position: absolute;
    bottom:100px;
}
.dropzone {
    border:none !important;
    background-color:transparent !important;
    height:100px !important;

}
.dropzone .dz-message {
    margin:0px !important;
}
.element-detail-box {
    position: relative;
}
.view-detail-box {
    padding-top:10px;
}
.ibox-content .element-detail-box {
    padding:0px;
}

.form-main-content {
    display: grid;
    grid-template-columns: 1fr 380px;
    grid-gap: 10px;
    height:100%;
    min-height:20vh;
}

.form-details-panel {
    padding:20px;
    border-left:1px solid rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.5);
    min-height: 80vh;
    /* width:400px;
    position: absolute;
    height:100%; */
    /* top: 0;
    bottom: 0;
    right: 0;
    overflow: auto; */
}
.media-details {
    top: 200px;
    bottom:0;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    width:360px; /* 400px - 40px padding */
}

.media-preview {
    height:300px;
    width:100%;
    margin-bottom:20px;
}
.media-preview img {
    width:100%;
    height:100%;
    object-fit: contain;
    /* max-width:fit-content; */
}

.copy-clipboard {
    cursor: text;
    user-select: text !important;
    -webkit-user-select: text;
}

/* .badge {
    color:#fff;
} */

.icon-picker-name {
    padding-top:6px;
    font-size: 0.8em;
    color: #444;
}
.icon-picker-btn {
    cursor:pointer;
}
.icons-picker-search input {
    width:100%;
}
.icons-picker-icon {
    display: inline-flex;
    flex-direction: column;
    margin:0 4px;
}
.icons-picker-icon > i:hover {
    background-color: #fff;
    border-color: #42a5f5;
}
.icons-picker-icon > i {
    flex-shrink: 0;
    color:#222;
    width:1em;
    height:1em;
    line-height:1em !important;
    display: inline-block;
    font-size:1.6em;
    box-sizing: content-box;
    cursor: pointer;
    border:1px solid #ccc;
    border-radius: 12px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    padding: 16px;
    margin: 4px 0px;
}

.icons-picker-icon>div {
    display: flex;
}

.icons-picker-icon > div > * {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 0;
}

.disableddiv {
    pointer-events: none;
    opacity: 0.4;
}


.maximizedform #page-wrapper {
    width:100% !important;
}


.sortable-draggable {
    cursor: move;
    border: 2px solid transparent;
    padding:4px;
    border-radius: 4px;
}

.sortable-draggable.selected {
    background-color: #f2f2f2;
    border-color: #e7eaec;
}

.sortable-media {
    display: flex;
    flex-wrap: wrap;
}


input[type=radio] {
    transform: scale(1.6,1.6);
    padding-top:1.1em;
    margin-left:0.2em;
    margin-right:0.5em;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    }

.input-group, .input-group label {
    font-weight: 400;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676a6c;
}

.input-group .formcontrol-max-size {
    width: 90%;
}

/* details view styling */
.nav-details-view {
    margin-left:0px;
}
.nav-details-view .nav-link {
    padding-left:10px;
    margin-left:-10px;
    color:#555;
    font-weight: 400;
    font-size: 1.1em;
    padding-top:10px;
    padding-bottom:10px;
}
.nav-details-view .active .nav-link {
    color:#222;
    font-weight: 700;
}


.detailview-header {
    margin-top:20px;
    margin-bottom: 20px;
}
.detailview-header h3 {
    font-size: 1.6em;
    color:#2f4050;
    font-weight: 700;
    /* font-family: "Bree Serif", serif; */
}

.detailview-header h6 {
    text-transform: uppercase;
    font-size: 1em;
    color:#aaa;
    font-weight: 700;
}

.detailforms-header {
    margin-bottom: 35px;
}
.detailforms-header h2 {
    text-transform: capitalize;
    color:#2f4050;
    font-size:1.6em;
    font-weight: 700;
}
.detailforms-header h4 {
    color:#aaa;
}

.detailforms-header .btn:not(:first-child) {
    float:right;
    margin-right:10px;
}

.quickactions h2 {
    font-weight: 700;
}
