html {
    background:rgb(51,51,51) url(../images/dashboard_plrlogo.png) no-repeat right bottom;
    height: 100%;
    margin: 0;
}
body {
	color:#eee;
	margin:0;
	padding:0;
	font-size:80%;
	line-height : 150%;
	font-family: Arial, helvetica, sans-serif; /* Arial, "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, */
}

ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

form, fieldset {
	border:0;
}
#plrlogin {
	width:300px;
	margin:100px auto;
}

div.button, img.button {
	cursor:pointer;
}

/* the big + sign borrowed from macosx dashboard */
#addcontenttoggle {
	width:36px;
	height:36px;
	margin:10px 0px 0px 10px;
	position:relative;
	z-index:1998;
	background:url(../images/dash_addcontent3.png) no-repeat top left;
}

#addcontentform {
	height:119px;
	position:relative;
	z-index:1999;
	opacity:0.96;
	background:#000 url(../images/dash_contentbck2.png) repeat-x left bottom; /* #A4ACB6 */
}
#addcontentform a {
	color:#999;
}
#addcontentform h2 {
	font-size:0.9em;
	padding:0;
	margin:0;
	margin-bottom:5px;
}
#addcontentbody {
	color:#555;
	height:116px;
}
.contentblock {
	opacity:1;
	float:left;
	min-width:220px;
	margin:10px 0px 10px 10px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color:rgb(51,51,51) /*#bac2cc*/ !important;
	color:#ddd;
}
.contentblock .body {
	opacity:none;
	margin-left:42px;
	padding:10px 20px 10px 20px;
}
.contentblock img {
	vertical-align:top;
	margin-right:10px;
}
.actionblock {
    float:right;
    padding:10px;
}

#dash_polaris.contentblock {
	background-image:url('../images/dash_polaris.png');
}
#dash_webpage.contentblock {
	background-image:url('../images/dash_webpage.png');
}
#dash_feed.contentblock {
	background-image:url('../images/dash_feed.png');
}

ul.twobyfour { list-style-type:disc;  }
ul.twobyfour li { width:45%; }
ul.twobyfour li+li+li+li+li { position:relative; left:50%; top:-4em }

ul.twobyfour+* { margin-top:-4em; }

ul.rss {
	font-size:1.2em;
}



.mac_os_x_action {
	width: 70px;
	text-align:right;
	height: 19px;
	position:absolute;
	top:10px;
	font-size:0.88em;
	text-decoration:underline;
	right:27px;
	cursor:pointer;
/*	z-index:1000;*/
}

.actionlist {
	left:-250px;
	top:20px;
	position:absolute;
	width:200px;
	color:#000;
	background-color:#fff;
	z-index:2010;
}