@media print{
    #topcontent {
      border-top:0px;
    }

    #frame {
        border:0px solid black;
        padding:10px;
        margin:0px 0px 0px 0px;
    }

    #topcontent, #navcontainer, #tableactions, #forminfo, #masteractions, #formminiactions, div.recordnavigator
    , #footer, #boxes, #languages, #pagetabstabbed, #searchpanel, #bugtracker {
      display:none !important;
    }

    #content {
    font-size:0.6em !important;
    margin:0 !important;
    }

    .scrollarea {overflow:none !important;}

    #pagetabstabbed {
        border:none;
    }
    div.pagecontents {
        width:100% !important;
        border:none;
        display:block !important;
    }
}