  body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:80%;
    color:white;
    letter-spacing: 1px;
    margin:0px; 
    padding:0px 0px 30px 0px;
    background-color: rgb(10,206,255);
  }
  a, a:visited {
    color: #B0F0FF;
  }
	hr.cleaner {
	   clear:both;
	   height:1px;
	   margin: -1px 0 0 0; padding:0;
	   border:none;
	   visibility: hidden;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset{
		border:0px;
		padding:0px;
		margin:0px;
	}
  input.text {
  	display: block;
  	width: 150px;
  	float: left;
  	margin-bottom: 5px;
  }
  label.field {
  	display: block;
  	text-align: left;
  	float: left;
  	width: 115px;
  	padding-right: 20px;
  }
  br {

  }

  #flags {
    text-align: center;
    padding:7px 0px 0px 0px;
  	width:400px;
	  margin-left:auto;
    margin-right:auto;
  }
  #language_text {
    font-size:0.8em;
    text-align: center;
  }
  #loginform {
		padding:10px 0px 0px 0px;
		margin:0px;
  }

  #plrlogin {
    background-image: url(blurseplblue.gif); 
    background-repeat: no-repeat;
    background-position: top left;
  	width:410px;
    height:332px;
	  margin-top:0px;
	  margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding:130px 0px 0px 140px;
  }
  
  #plrlogo {
    background:url(plrlogowhite.gif) no-repeat left top;
    height:50px;
    width:150px;
  }
  #plrlogo span { display:none; }

  #login_text {
    padding-left:36px;
    width:20em;
    height:3em;
    min-height:3em;
    background-image: url(../../images/lock_b.gif) ;
    background-position:0px center;
    background-repeat: no-repeat;
  }

  #indexextra {
    position:absolute;
    top:160px;
    float:left;
	  margin:0px 0px 0px 0px;
    width:27%;
  }

  #indexextra ul{
    list-style: none;
    left:0px;
    margin:0px;
    padding-left:15px;
  }
  #indexextra li {
    left:0px;
    height:3em;
    min-height:32px;
    margin:0px 0px 2.2em 0px;
    padding:0px 0px 0px 39px;
    background-repeat: no-repeat;
    background-position: 5px left;
  }
  .subline {
    display: block;
    font-size:0.85em;
  }
  .subline a {
    color:white;
  }

#footer {
  margin-top:0px;
	clear:both;
  color:#B0F0FF;
	text-align : center;
	font-weight: normal;
	font-size:0.9em;
}
#footer a, #footer a:visited {
  color: #E3FAFF;
  text-decoration: none;
	font-size:1em;
}
