<div class="container uitrusting_block">
    <div class=""><p>Kruis de uitrusting aan die beschikbaar is in deze ruimte.</p></div>
    <label><input class="icheck" type="checkbox" id="_fldCHECKALL_UITRUSTING" /> Selecteer alles</label>
    {section name=i loop=$uitrusting}
    <div class="row p-xxs">
        <div class="col-md-12">
                <label>
                    <input type="hidden" name="fb_ruimte_uitrusting!CLIENT_HASH[]" value="__parentvalue__" />
                    <input type="hidden" name="fb_ruimte_uitrusting!RUIMTE_ID[]" value="__parentvalue__" />
                    <input type="hidden" name="fb_ruimte_uitrusting!_hdnState[]" value="__nothing__" />
                    <input type="hidden" name="fb_ruimte_uitrusting!_hdnRecordID[]" value="{$uitrusting[i].PLR__RECORDID}" />
                        <input type="hidden" name="fb_ruimte_uitrusting!UITRUSTING_ID[{$smarty.section.i.index}]" value="0" />
                        <input class="icheck checkbox_uitrusting" type="checkbox" name="fb_ruimte_uitrusting!UITRUSTING_ID[{$smarty.section.i.index}]" value="{$uitrusting[i].UITRUSTING_ID}" {if $uitrusting[i].CHECKED}checked="checked"{/if}  />
                    <i></i> {$uitrusting[i].UITRUSTING_NAAM}
                </label>
        </div>
    </div>
    {/section}
</div>
