
.quickactions a {
	text-decoration: none;
}

.quickactions .widget {
	min-height: 130px;
	text-align: bottom;
  position: relative;
}

.quickactions .widget .icon {
	position:absolute;
  bottom:20px;
  right:30px;
}

.quickactions .widget:hover {
    transform: scale(1.07);
    transition: all 0.1s ease-in-out;
}

mark.ME {
  background-color: rgb(236, 153, 123);
}
mark.GP {
  background-color:rgb(179, 110, 110);
}
mark.IN {
  background-color:rgb(126, 155, 179);
}
mark.EX {
  background-color:rgb(109, 81, 129);
}

.flexplek_blokken {
  position: relative;
  width:700px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent child elements from wrapping */
}
.flexplek_blok {
  color:#000;
  width: 100px;
  min-height:100px;
  display: inline-block;
  margin-right:5px;
  margin-bottom: 10px;
  padding:8px;
  background-color: #d4efff;
  border-radius: 6px;
  cursor: pointer;
}
.flexplek_blok.selected {
  background:#799cb0;
}
.flexplek_blok.selected .progress {
  background-color: rgb(5, 140, 113);
}
.flexplek_blok.selected .progress-title {
  color: #fff;
}

/*.flexplek_blok [data-bezetting="vrij"] {
  background-color: rgb(133, 216, 133);
} */
.flexplek_blok .ruimte {
  pointer-events: none;
  background-color: rgba(151, 217, 255, 0.7);
  color:rgb(32, 82, 110);
  border-radius: 4px;
  padding:2px 5px;
  font-size:0.9em;
  margin-bottom: 8px;
}
.flexplek_blok .RUIMTE_CODE {
  font-weight: bold;
}
.flexplek_blok .RUIMTE_NAAM {
  font-size:0.8em;
}
.progress-title {
  pointer-events: none;
  font-size: 0.8em;
  font-weight: bold;
  color:#444;
  padding-bottom:4px;
}
.progress {
  background-color: rgb(26, 179, 148);
}

.flexplex-etage {
  border-top:15px solid rgba(0,0,0,0.05);
  padding:10px 0 10px 0;
}
.flexplex-etage-naam {
  font-weight: normal;
  font-size:1.3em;
  padding:0 20px 10px 0;
}
.flexplekken-blok {
  border-bottom:15px solid rgba(0,0,0,0.05);
  border-radius: 3px;
}

.datepicker-inline tfoot .today {
  background-color:rgba(0,0,0,0.02);
  border-radius: 5px;
}

.flexplekken-reserveren {
  display: flex;
  flex-direction: column;
  height: 76vh; /* 100% of viewport height */
}
.flexplekken-datum-kiezen {
  flex: 3;
  min-height: 288px;
  overflow: hidden; /* Hide content overflow */
}
.bezetting-group {
  flex: 1;
  overflow: hidden; /* Hide content overflow */
  margin-top:20px;
}
.bezetting-view {
  overflow-y: scroll;
  flex: 2;
}

.bezetting-content {
  margin-top:10px;
  font-size: smaller;;
}
.bezetting {
  padding:10px;
  border-radius: 8px;
  background-color: rgba(255, 186, 186,1);
  margin-bottom:10px;
  color:#742424;
}

.bezetting-view .CONTACTPERSOON {
  font-size: 1.1em;
  font-weight: bold;
}
.bezetting-view .GEWENSTE_TIJD {
  font-size: 1.2em;
}
.bezetting-view .RESERVERING_CODE {
  background-color: rgba(0,0,0,0.2);
  border-radius: 6px;
  padding:2px 5px;
  font-size: 0.8em;
  float: right;
}

.locatie-items {
  padding-bottom: 30px;
}

.locatie-item-naam {
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 500;
}
.locatie-item-omschrijving {
  font-size: 1em;
}
/* .locatie-item:not(.selected) h3 {
  color:#fff;
}
.locatie-item a {
  text-decoration: none;
  color:#fff;
  font-weight: bold;
} */

/* Turn off pageheader for now, when printing a facility list with fullcalendar */
@media print {

  body {
      font-size:0.6em;
  }

  #pageheader {
      display:none
  }

}

/***** Styles for Fullcalendar *****/
/* List view styles */

.popover-reserveringcode {
  font-size:0.8em;
  font-weight: bold;
  position: absolute;
  right:5px;
  top:5px;
  border-radius:3px;
  padding:5px;
  color:#fff;
  background-color: rgba(0,0,0,0.3);
}

.containerbox .person {
  display: block;
  padding:2px 0 2px 0;
  line-height: 1.5;
}
.containerbox .roomid {
  font-weight: bold;
  margin-right:8px;
  background-color: rgba(0,0,0,0.1);
  color:rgba(0,0,0,0.5);
  border-radius: 3px;
  padding:2px 4px 2px 4px;
}
.containerbox .roomname {
  margin-right: 8px;
}
.containerbox .desc {
  display: block;
}
.containerbox .equip {
  display: block;
  font-weight: bold;
}

.fc-timegrid-event  .fc-event-time {
  font-size: 1em;
  color:rgba(255,255,255,0.8) !important;
}
.roomid {
  /* display: inline-block; */
  background-color: rgba(255,255,255,0.5);
  color:rgba(0,0,0,0.6);
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 3px;
  padding:0px 4px 0px 4px !important;
  margin:2px 0 0 0;
  /* margin-left:5px; */
}
.roomid.dark {
  background-color: rgba(0,0,0,0.3);
  color:rgba(255,255,255,1);
}
.fc-event-title {
  width:100%;
}
.fc-event-title-container .title {
  margin-top:5px;
  font-size: 1.1em;
  font-weight: bold;
  color:rgba(255,255,255,0.9);
}
.fc-event-title-container .person {
  font-weight: normal;
  color:rgba(255,255,255,0.7);
  border-radius: 4px;
  margin:4px 0px 4px 0px;
  padding:4px 4px 4px 0px;
}
.fc-list .fc-event, .fc-list .fc-event a {
  background-color: #fff !important;
  border-color:#fff;
}

/*
  Styling voor ruimte opstelling
*/
#form148_page5 .panel-body, #form147_page5 .panel-body, #form140_page5 .panel-body, #form138_page5 .panel-body {
	background-image: url(/modules/_shared/module.plr_maxia/css/ruimte_opstelling.png);
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: left 30px bottom 30px;
	min-height:400px;
}

/*
	Dataview row customizers
*/
.fval_STATUS_nieuw {
	background-color: #fecfd4 !important;
  color:#814e54;
}

.fval_STATUS_goed {
	background-color: #DDF4E9 !important;
  color:#3e6d56;
}

.fval_STATUS_afgedrukt {
	background-color: #e4d8f5 !important;
  color:#5e4b7c;
}

.fval_STATUS_inbehandeling {
	background-color: #dec7ae !important;
  color:#83684c;
}

.fval_STATUS_afgehandeld {
	background-color: #d1fae3 !important;
  color:#4e8569;
}

.fval_STATUS_escalatie {
	background-color: #e03e3e !important;
  color:#fff;
}
.fval_STATUS_escalatie_update {
	background-color: #fecfd4 !important;
  color:#814e54;
}

.fval_STATUS_afgekeurd {
	background-color: #bfbfbf !important;
  color:#2e2e2e;
}

.fval_STATUS_geannuleerd {
	background-color: #bfbfbf !important;
  color:#2e2e2e;
}

.fval_STATUS_Actief {
  background-color: #DDF4E9 !important;
  color:#3e6d56;
}
.fval_STATUS_Gepauzeerd {
	background-color: #bfbfbf !important;
  color:#2e2e2e;
}

.fval_BUITENWERKING_Y {
  background-color: #bfbfbf !important;
  color:#2e2e2e;
}

.fval_OVERTIJD_0 {
  display: none;
  background-color: #DDF4E9 !important;
  color:#3e6d56;
}

.fval_OVERTIJD_1 {
  background-color: #fecfd4 !important;
  color:#814e54;
}

.fval_PRIORITEIT_sss20_H {
  background-color: #fecfd4 !important;
  color:#814e54;
}
.fval_PRIORITEIT_sss20_M {
	background-color: #feebcf !important;
  color:#816e4e;
}
.fval_PRIORITEIT_sss20_L {
  background-color: #DDF4E9 !important;
  color:#3e6d56;
}

.fval_ACTIVITEIT_STATUS_300, .fval_ACTIVITEIT_STATUS_bezig {
  background-color: #f0bfea !important;
  color:#a03694;
}
.fval_ACTIVITEIT_STATUS_200, .fval_ACTIVITEIT_STATUS_binnenkort {
  background-color: #f1e696 !important;
  color:#7a7026;
}
.fval_ACTIVITEIT_STATUS_100, .fval_ACTIVITEIT_STATUS_vandaag {
  background-color: #abeda6 !important;
  color:#268120;
}
.fval_ACTIVITEIT_STATUS_50, .fval_ACTIVITEIT_STATUS_afgelopen {
  background-color: #e9e9e9 !important;
  color:#848484;
}
/* xxxtr:has(.fval_ACTIVITEIT_STATUS_afgelopen), .fval_ACTIVITEIT_STATUS_???, .fval_ACTIVITEIT_STATUS_afgelopen {
  background-color: #aeaeae !important;
  color:#393939;
} */


.inactief {
	background: #818b8d;
}
.ingebruik {
	background: #ec4758 !important;
}
.langdurig {
	background: #247fb7 !important;
}
.vrij {
	background: #18a689 !important;
}

.inactief.selected {
	background: #616f72;
}
.ingebruik.selected {
	background: #cf2e3e !important;
}
.langdurig.selected {
	background: #14689c !important;
}
.vrij.selected {
	background: #0c9176 !important;
}


.fval_STATUS_inactief {
  background-color: #bfbfbf !important;
  color:#2e2e2e;
}

.fval_STATUS_ingebruik {
  background-color: #fecfd4 !important;
  color:#814e54;
}

.fval_STATUS_vrij {
  background-color: #DDF4E9 !important;
  color:#3e6d56;
}

.fval_DEELNEMER_STATUS_A {
  background-color: #e4f4dd !important;
  color:#4a6d3e;
}
.fval_DEELNEMER_STATUS_I {
  background-color: #ddebf4 !important;
  color:#3e536d;
}

/* Fullcalendar generic button styles */
.fc-button {
  height:2.5em;
}

.fc .fc-button-primary {
  background-color: #1c84c6 !important;
  color: #fff;
  border-color: #1c84c6;
}

.fc .fc-button:hover, .fc .fc-button:disabled, .fc .fc-button-active {
  background-color: #096faf !important;
  color: #fff;
  border-color: #096faf !important;
}


/* Tekst 'optioneel' weghalen omdat het Email veld optioneel moet zijn (ivm met Barbershop), maar verplicht moet
   lijken zodat kandidaten het emailadres niet vergeten in te vullen */
#const_reserveringen_intern_rrule #_rowCONTACTPERSOON_EMAIL .optional-field {
  display: none;
}

.fc .fc-button-primary.fc-voegReserveringToe-button {
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
  color:#fff;
}
.fc .fc-button-primary.fc-voegReserveringToe-button::before {
  content: "+";
  font-size: 1.6em;
  line-height: 60%;
  margin-right: 10px;
  margin-left: 5px;
}
