<div class="element-detail-box">

<div id="panelhelp1" class="alert alert-info">
            <div class="pull-right">{icon name="info" size="2x"}</div>
            <p>Welkom bij het nieuwe Abonnementen-onderdeel!<br/>
            We brengen doorlopende verbeteringen aan om het gemakkelijker te maken om
            je product- en app-abonnementen op één plek te bekijken en te beheren.
            </p>
</div>

<h3><strong>Huidig abonnement</strong></h3>

<div class="row">
    <div class="col-sm-3">
        <div class="widget style1 navy-bg">
            <div class="row vertical-alignx">
                <div class="col-sm-12 text-center">
                    <div class="subscr-">Enterprise <br>(€ {$items[0].BASE_PRICEPERMONTH_MONTHLY} per maand)</div>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>


{section name=i loop=$items}

<div id="panelhelp1" class="ibox alert-info collapsed">
    <div class="ibox-title">

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>{$items[i].APPLICATIONNAME}</h3>

            </div>
            <div class="col-md-2 col-sm-6">
                <b>€ {$items[i].APP_PRICEPERMONTH_MONTHLY}</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-2">
                <b>Prijs per maand</b>
            </div>
        </div>


        <div class="ibox-tools">
            <a class="collapse-link">
                {icon name="keyboard_arrow_down"}
            </a>
        </div>
    </div>
    <div class="ibox-content" style="display: none;">

        {section name=j loop=$items[i].modules}
        <div class="row">
            <div class="col-md-3 col-sm-6">

                <h4><input type="checkbox" class="icheck" name="" value="1" {if $items[i].modules[j].STANDARDMODULE == 'Y'}checked="checked" disabled="disabled"{/if} />
                    {$items[i].modules[j].MODULENAME}</h4>
            </div>
            <div class="col-md-2 col-sm-6">
                {if $items[i].modules[j].STANDARDMODULE == 'Y'}
                    Inclusief
                {else}
                € {$items[i].modules[j].MOD_PRICEPERMONTH_MONTHLY}
                {/if}
            </div>
        </div>
        {/section}

    </div>
</div>

{/section}
</div>