/* Branded Login Form */
body {
  margin:0px;
  padding:0px 0px 30px 0px;
  height:100%;
}
#plrlogin {
  width:410px;
  height:50%;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  border-radius:10px;
  background-color: #79a5c2;
  padding:30px 20px 20px 140px;
}

#plrlogin fieldset{
    border:0px;
    padding:0px;
    margin:0px;
}
#plrlogin input.text {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 5px;
}
#plrlogin label.field {
	display: block;
	text-align: left;
	float: left;
	width: 115px;
	padding-right: 20px;
}
#plrlogin #login_text {
  width:20em;
  height:3em;
  min-height:3em;
}

#plrlogo span { font-size:3em; }



