#_fldADVERTENTIECODE {
    width:200px;
}
.campagne button {
    font-size:1.4em;
    vertical-align:top;
    margin-top:0px;
}

table.scoreoverzicht {
    width:50%;
}
.tableheader {
}
.scoreoverzicht, .totaal {
    width:450px !important;
}
.scoreoverzicht {
    margin-bottom: 12px;
}
.scoreoverzicht tr.totaal td {
}
.scoreoverzicht td {
    width:50px;
}
table.totaal th, table.totaal td {
    min-width:60px;
}

.totaal {
    margin-bottom:20px;
}

tr.totaal {
    font-weight: bold;
    border-top:2px solid black;
}
table.totaal tr.totaal:last-child {
    border-top:6px solid black;
}

.pagetabcontainer {
    margin-top: 10px;
}
.pagecontents {
   position: relative;
   min-height:500px;
}

.totaalvariant {
    clear:both;
}
.variant {
    width:48%;
    float:left;
}

.analyse {
    position:absolute;
    top:20px;
    right:20px;
    width:48%;
}
.analyse textarea {
    width:100%;
    height:380px;
}

h2.togglePostcodes a {
    text-decoration: none;
    color:#000;
}
h2.togglePostcodes a:hover {
    text-decoration: underline;
}