.exportsets { margin:0; padding:0 0 20px 0; list-style:none;}
.exportsets li {
    text-align: center;
    color: #95adbf;
    text-shadow: 0 1px 8px rgba(113,146,187,0.5);
    float: left;
    width: 200px;
    margin: 0 30px 30px 0;
    box-shadow: 0px 5px 5px #000;
    border-radius: 8px;
    
        -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
        -webkit-border-radius: 8px;
        -moz-box-shadow: 0px 5px 5px #000;
        -moz-border-radius: 8px;
    
    background: #304473;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% -20%, 160, from(#374f87), color-stop(100%, #1d2b48));

    overflow: hidden;
    
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1); 
    -moz-transform: scale(1); 
}

.exportsets li:hover { 
    background: #304473;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% -20%, 160, from(#465B8B), color-stop(100%, #1d2b48));
}
.exportsets li:active { 
}
.exportsets .apps_content { padding:20px; font-size:1.1em;text-align:center}
.exportsets .appicon { margin:0 auto 10px auto; text-decoration:none !important; display:block; height:48px; width:48px }
.exportsets .appname { font-weight:bold;text-shadow:#252525 2px 2px 2px}
.exportsets .version { font-size:0.9em; display:block; color:#999; padding-bottom:10px;text-shadow:#222 1px 2px 2px}
.exportsets a { color:#53A4FA; }
.exportsets p, .exportsets a { text-decoration:none; }
.exportsets p { color:#AFBAC5; text-align:left; font-size:0.9em;}


#record_list {
    width:100%;
    margin:0;
    padding:0;
}
#record_list li {
    margin:0;
    list-style:none;
    width:auto;
    min-height:25px;
    padding:10px 10px 0px 0px;
    background-color:#eee;
    border-top:1px solid #777;
    border-left:8px solid #EE19C3;
}
#record_list li ul {
    padding:10px 0 0 0;
}
#record_list li ul li {
    border-left:8px solid #1A87ED;
}
div.button {
    float:right;
    width:20px;
    height:20px;
}

