/* #appimage { display:none } planner needs plenty of room */

#planner_bar {
    width:460px;
    margin:0 auto;
    margin-bottom:10px;
    text-align:center;
}
#planner_selectbar {
    display:block;
    margin:0;
}
#planner_selectbar a, #planner_selectbar select {
    margin:0 4px 0 4px;
    vertical-align:top;
}
#planning_extra_action {
    float:left;
}
.dateview {
    display:block;
    float:left;
    width:16px;
    height:16px;
    padding:2px;
    border:1px solid #fff;
    background-repeat:no-repeat;
    background-position:center;
}
.dateview span { display:none; }

.dateview.current, .dateview.current:hover {
    border:1px solid #c3c3c3;
}
/*
#today_a { background-image:url(../../module.plr_planner/html/time.png); }
#dayview_a { background-image:url(../../module.plr_planner/html/calendar_view_day.png); }
#weekview_a { background-image:url(../../module.plr_planner/html/calendar_view_week.png); }
#monthview_a { background-image:url(../../module.plr_planner/html/calendar_view_month.png); }

table.planner {
    width:100%;
    border-collapse:collapse;
    border-spacing:0px;
    margin-bottom:20px;
}
html>body table.planner th {
    background-image:url(../../module.plr_planner/html/planbck.png);
    background-repeat:repeat-x;
    background-position:bottom left;
}
html>body table.planner th.today {
}
table.planner th.today {
}
table.planner th.today a {
    background:url(../../module.plr_planner/html/time.png) no-repeat top left;
    padding-left:20px;
    font-weight:bold;
}
table.planner th, table.planner td {
}
table.planner th.firstcol {
    background-image:none;
    white-space: nowrap;
    border:0;
    width:1%;
    text-align:left;
}
table.planner th.firstcol a {
    font-weight:normal;
    font-size:0.8em;
}
table.planner thead, table.planner tbody {
    border-right:1px solid #aaa;
}
table.planner td.firstcol {
    text-align:left;
    white-space: nowrap;
    background:none;
    border-bottom:0px;
    border-left:0px;
    padding-right:10px;
}

table.planner td {
    font-size:0.95em;
    border-bottom:1px dashed #aaa;
    border-left:1px solid #aaa;
}
table.planner td.even {
    border-left:1px solid #ddd;
}
table.planner td a {
    text-decoration:none;
}
table.planner td a:hover {
    text-decoration:underline;
}
table.planner span.first {
}
table.planner span.second {
    padding-left:10px;
}
table.planner th {
    vertical-align:top;
    font-weight:normal;
    letter-spacing:1px;
    font-size:0.9em;
}
table.planner th a {
    text-shadow:#fff 1px 1px 2px;
    color:#222;
    text-decoration:none;
}
table.planner th a:hover {
    color:#000;
    text-decoration:underline;
}
table.month tbody td {
    font-size:0.85em;
}
table.planner.day td.firstcol {
    font-size:1em;
}
table.planner.day td {
    font-size:0.8em;
}


a.celladd, a.celldel, a.cellswitch, a.celllock, a.cellcancel {
    float:right;
    display:block;
	background-repeat:no-repeat;
	height:16px;
	width:16px;
}
a.celladd span, a.celldel span, a.cellswitch span, a.celllock span, a.cellcancel span {display:none}

a.celladd {background-image: url('../../module.plr_planner/html/adddisabled.png');}
a.celladd:hover {background-image: url('../../module.plr_planner/html/add.png');}

a.celldel {background-image: url('../../module.plr_planner/html/deletedisabled.png');}
a.celldel:hover {background-image: url('../../module.plr_planner/html/delete.png');}

a.cellswitch {background-image: url('../../module.plr_planner/html/arrow_switchdisabled.png');}
a.cellswitch:hover {background-image: url('../../module.plr_planner/html/arrow_switch.png');}

a.celllock {background-image: url('../../module.plr_planner/html/lockdisabled.png');}
a.locked, a.celllock:hover {background-image: url('../../module.plr_planner/html/lock.png');}

a.cellcancel {background-image: url('../../module.plr_planner/html/canceldisabled.png');}
a.cellcancel:hover {background-image: url('../../module.plr_planner/html/cancel.png');}

*/
#cancelfilter {
    color:#4B7E31;
}

.hour {
    font-size:1.2em;
    font-weight:normal;
}
.time {
    font-size:0.8em;
    font-weight:normal;
}

.dagres {
    display:block;
    position:absolute;
    width:20px;
    padding:2px;
    overflow:hidden;
    background-color:#BDFFB8;
    border-top:1px solid #888;
    border-bottom:1px solid #888;
}
.dagres.begin {
    border-left:1px solid #888;
}
.dagres.end {
    border-right:1px solid #888;
}
.dagres.middle {
}
.dagres.begin.end {
    border:1px solid #888;
}
.ruimte1 .dagres.color1 {background-color:#A0FF91;}
.ruimte1 .dagres.color2 {background-color:#FFF7B0;}
.ruimte1 .dagres.color3 {background-color:#B0F2FF;}
.ruimte1 .dagres.color4 {background-color:#FFD7BD;}
.ruimte1 .dagres.color5 {background-color:#C4D3FF;}
.ruimte1 .dagres.color6 {background-color:#F7D4FF;}

.ruimte2 .dagres.color1 {background-color:#A0FF91;}
.ruimte2 .dagres.color2 {background-color:#FFF7B0;}
.ruimte2 .dagres.color3 {background-color:#B0F2FF;}
.ruimte2 .dagres.color4 {background-color:#FFD7BD;}
.ruimte2 .dagres.color5 {background-color:#C4D3FF;}
.ruimte2 .dagres.color6 {background-color:#F7D4FF;}

.ruimte3 .dagres.color1 {background-color:#A0FF91;}
.ruimte3 .dagres.color2 {background-color:#FFF7B0;}
.ruimte3 .dagres.color3 {background-color:#B0F2FF;}
.ruimte3 .dagres.color4 {background-color:#FFD7BD;}
.ruimte3 .dagres.color5 {background-color:#C4D3FF;}
.ruimte3 .dagres.color6 {background-color:#F7D4FF;}

.ruimte4 .dagres.color1 {background-color:#A0FF91;}
.ruimte4 .dagres.color2 {background-color:#FFF7B0;}
.ruimte4 .dagres.color3 {background-color:#B0F2FF;}
.ruimte4 .dagres.color4 {background-color:#FFD7BD;}
.ruimte4 .dagres.color5 {background-color:#C4D3FF;}
.ruimte4 .dagres.color6 {background-color:#F7D4FF;}



/* Fading Tooltips By Dustin Diaz*/
div#toolTip { position:absolute;z-index:1000;width:320px;font-size:1em;text-align:left;padding:0px;min-height:1em; }
div#toolTip p { margin:0 0 5px 0;padding:0;color:#fff;font:1.05em/1.3em arial,sans-serif; }
div#toolTip p em { display:block;margin-top:3px;color:#fff;font-style:normal;font-weight:normal; }
div#toolTip p em span { font-weight:normal;color:#fff; }
div#toolTip h3 { font-weight:normal;font-size:1em;color:#fff; margin:0 0 5px 0; }
div#toolTip span { letter-spacing:1px;font-weight:normal;color:#014D88; }


/* drop shadow based on http://jquery.com/test/zomg.html
   and also http://www.positioniseverything.net/articles/sidepages/dropshadow/dropshadow.html
*/
.hovertip_wrap0 .hovertip {
    margin: 0;
}
.hovertip_wrap0 {
	margin-left: 5px;
	margin-top: 10px;
	z-index: 100;
}
.hovertip_wrap0 {
/*    background:url(../../module.plr_planner/html/corner_tr.png) right top no-repeat;*/
}
.hovertip_wrap1 {
    display: block;
/*    background:url(../../module.plr_planner/html/corner_bl.png) left bottom no-repeat;*/
    padding-top: 8px;
    padding-left: 8px;
}
.hovertip_wrap2 {
    display: block;
/*    background:url(../../module.plr_planner/html/shadow.png) bottom right no-repeat;*/
}
.hovertip_wrap3 {
    display:block;
	position: relative;
	left: -8px;
	top: -8px;
	background-color: #4493CF;
	color:#D8E5ED;
}
.hovertip_wrap3 {
	padding: 10px;
}
span {
    display: inline;
}

span.extratext {
    font-weight:normal;
    letter-spacing:0px;
    text-decoration:none;
    font-size:0.8em;
}