/**	Urenregistratie styling **/

.timetracker .row {
	padding-left:0px;

}
.timetracker .pagination {
	display: flex;
	font-size: 1.1em;
}
.timetracker .pagination > .active > a {
	background-color: #bae6fa;
	color:#2f5f74;
	border-color: #2f5f74;
}
.timetracker .day {
	flex: 1 100%;
}
.timetracker .day a {
	width:100%;
	text-align: center;
	vertical-align: middle;
	padding:0.8em;
}
.timetracker .weektotal a {
	background-color: #eee;
	color:#222;
}
.timetracker .scrollweek {
	width:40px;
}
.timetracker .scrollweek a {
	background-color: #eee;
	align-items: center;
	min-width: 2rem;
	padding: 0 1rem;
	display: inline-flex;
	cursor: pointer;
	height: 100%;
}
.timetracker .starttimer {
	border-left:1px solid rgba(0,0,0,0.1);
	margin-left:0px;
	padding-top:10px;
}
