/* Shared styles */

.page-heading {
    display:none !important;
}

.pzn_topfields {
    margin-bottom:0px;
}

#holder {
    width:100%;
    height: 370px;
}
#zorgplan {
    height: 370px;
    width: 520px;
}

.ernstgroup {
    display: inline;
    vertical-align: text-top;
}
.ernstgroup .radio {
    display: inline-block;
}

.ernst {
    display: block;
    padding:3px 8px !important;
}

.ernst-zwaar {
    background-color: red;
    color:#fff;
    font-weight:normal;
}
/*.ernst-middel {
    background-color: #d99690;
    background-color: #d99690;
    font-weight:normal;
}
*/
.ernst-matig {
    background-color: #ffc001;
    font-weight:normal;
    color:#555;
}
.ernst-kans {
    background-color: #99ff99;
    color:#555;
    font-weight:normal;
}

.subitem {
    border-left-width: 12px;
    border-left-style: solid;
    border-left-color: #666;
}
.subitem td:first-child {
    border-left-width: 20px;
    border-left-style: solid;

}
.effect-3  td:first-child{
    border-left-color: #e1e1e1;
}
.effect-0  td:first-child{
    border-left-color: red;
}
.effect-1  td:first-child{
    border-left-color: #ffc001;
}
.effect-2  td:first-child{
    border-left-color: #99ff99;
}
.effect-label-3  td:first-child{
    background-color: #e1e1e1;
}
.effect-label-0  td:first-child{
    background-color: red;
}
.effect-label-1  td:first-child{
    background-color: #ffc001;
}
.effect-label-2  td:first-child{
    background-color: #99ff99;
}
.subitem td:first-child {
    padding-left:20px;
}
.subitem td {
    background-color:#fff;
}

td.naam {
    font-weight: bold;
}
/*.effect label {
    font-weight:normal !important;
    padding:3px 8px !important;
    margin-bottom:0px !important;
}
.effect-3 {
    background-color: #fff;
    border:1px solid rgba(0,0,0,0.2);
}
.effect-0 {
    background-color: red;
    color:#fff;
}
.effect-1 {
    background-color: #ffc001;
}
.effect-2 {
    background-color: #99ff99;
}
*/
label.radio-inline, label.radio {
    margin-right:2px;
    cursor:pointer;
    padding:0px 12px 7px 12px;
}
label.radio-inline.checked, label.radio.checked {
    color:#fff!important;
    text-shadow:#000 1px 1px 2px!important
}

#probleemlijst .dropdown-menu {
    width:650px;
    padding:10px;
    z-index:1000;
}
.probleemlijst li {
    height:2.2em;
}
.probleemeffect {
    float:right;
}
.probleemeffect .effect {
    border-radius: 10px;
    height:20px;
    width:20px;
    padding-left:5px;
}
.probleemeffect .effect-5 { background-color:red; }
.probleemeffect .effect-4 { background-color:#d99690; }
.probleemeffect .effect-3 { background-color:#ffc001; }
.probleemeffect .effect-2 { background-color:#99ff99; }
.probleemeffect .effect-1 { background-color:#00b050; }
.probleemeffect input[type=radio] {
    font-size: 0.5pt;
}

.uitvoering-rood {
    background-color: red;
    color:#fff;
    font-weight:normal;
}
.uitvoering-oranje {
    background-color: #ffc001;
    color:#000;
    font-weight:normal;
}
.uitvoering-groen {
    background-color: #99ff99;
    color:#000;
    font-weight:normal;
}
.resultaat-rood {
    background-color: red;
    color:#fff;
    font-weight:normal;
}
.resultaat-oranje {
    background-color: #ffc001;
    color:#000;
    font-weight:normal;
}
.resultaat-groen {
    background-color: #99ff99;
    color:#000;
    font-weight:normal;
}


.slcZorgverlener {
    float:right;
}

.zorgfilters {
    float:right;
    width:320px;
}
.zorgfilters ul {
    padding:0;
    margin:0;
}
.zorgfilters li {
    list-style: none;
}
.zorgfilters label {
    font-weight: normal;

}

.img-editable {

}

.img-edit-label {
    position:absolute;
    margin-top:-30px;
    margin-left:0px;
    cursor:pointer;
}
.img-edit-label span {
    display:none;
}

.coordinatorwijzigingen table {
    font-size:1.1rem;
}

.profielinfo .profile-image img {
    height:70px;
    width:70px;
}

.cirkel-model-profielinfo .profile-image {
    position: absolute;
}

.profielinfo {
    position: absolute;
    top:10px;
    right:100px;
}

.btngrpZorgverlener {
    margin-bottom:20px;
}


.chat-panel {
  position: relative;
  float: left;
  overflow-y: auto;

    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

}



.chat {
    display: block;
    margin-left:50px;
    margin-bottom:10px;
}
.chat-entry {
    min-height:20px;
    width:100%;
}
.chat-entry:hover {
    background-color: rgba(255,255,255,0.5);
}
.chat-author {
    display: block;
    color:#222 !important;
    font-weight: bold;
    padding-bottom:10px;
}
.chatarea {
}
.chat-time {
    color:#aaa;
    padding-left:10px;
}
.chat-content {
    display:block;
    padding:0;
    margin: 0;
}
.chat-content .atwho {
    color:#18a689;
    font-weight: bold;
}

.nodata {
    width:300px;
}
.nodata img {
    opacity:0.2;
    padding-top: 40px;
    margin-left:-40px;
}

.widget-head-color-box {
    border:2px solid red !important;
    box-shadow:3px 3px 5px rgba(0,0,0,0.5);
}

.pzn_topfields .btn {
  margin-bottom: 4px;
}


.onoffswitch {
    display: inline-block;
    vertical-align: top;
}
/*.onoffswitch-switch {
    width: 50px;
    right:50px;
}
*/
.onoffswitch-inner:before {
  content: "JA";
}
.onoffswitch-inner:after {
  content: "NEE";
}

.circle-icon {
    background: #7B7B7A;
    color:#fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    padding: 3px;
}

.cirkel-info {
    margin-bottom: 10px;
}

#verleendezorgtabel td {
  word-break: break-all;
}

.freq {
    color:#aaa;
}

#probleemspecificatie tr.subitem .btn {
    display: none;
}
#probleemspecificatie.editable tr.subitem:hover .btn {
    display: inline-block;
}

