#loglist td {
  background-repeat: no-repeat;
  background-position: top left;
}
td.TRACE,
td.DEBUG,
td.INFO,
td.WARN,
td.ERROR,
td.FATAL {
    color:#FFF;
    font-weight: bold;
}
td.TRACE {
    background-color: #C1EEB3;
}
td.DEBUG {
    background-color: #53DB38;
}
td.INFO {
    background-color: #369AD4;
}
td.WARN {
    background-color: #DE9535;
}
td.ERROR {
    background-color: #DD3535;
}
td.FATAL {
    background-color: black;
    color:#fff;
}

tr.closed {
    display: none;
}
tr.togglerow {
    cursor: pointer;
}
tr.togglerow td:first-child:after {
    content: " \25b6";
}
tr.detail .first {
    display: block;
    border-left:6px solid rgba(255,255,255,0.5);
    font-weight: normal;
}
