/*
 *  François 'cahnory' Germain
 */
.ui-tooltip {
  color:#ffffff;
  cursor:normal;
  display:-moz-inline-stack;
  display:inline-block;
  font-size:12px;
  font-family:arial;
  padding:.5em 1em;
  position:relative;
  text-align:center;
  text-shadow:0 -1px 1px #111111;
  -webkit-border-top-left-radius:4px ;
  -webkit-border-top-right-radius:4px ;
  -webkit-border-bottom-right-radius:4px ;
  -webkit-border-bottom-left-radius:4px ;
  -khtml-border-top-left-radius:4px ;
  -khtml-border-top-right-radius:4px ;
  -khtml-border-bottom-right-radius:4px ;
  -khtml-border-bottom-left-radius:4px ;
  -moz-border-radius-topleft:4px ;
  -moz-border-radius-topright:4px ;
  -moz-border-radius-bottomright:4px ;
  -moz-border-radius-bottomleft:4px ;
  border-top-left-radius:4px ;
  border-top-right-radius:4px ;
  border-bottom-right-radius:4px ;
  border-bottom-left-radius:4px ;
  -o-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -moz-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -khtml-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  -webkit-box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  box-shadow:0 1px 2px #000000, inset 0 0 0 1px #222222, inset 0 2px #666666, inset 0 -2px 2px #444444;
  background-color:#3b3b3b;
  background-image:-moz-linear-gradient(top,#555555,#222222);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#555555),color-stop(1,#222222));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#555555,EndColorStr=#222222);
}
.ui-tooltip:after {
  content:"\25B8";
  display:block;
  font-size:2em;
  height:0;
  line-height:0;
  position:absolute;
}
.ui-tooltip:after {
  color:#2a2a2a;
  bottom:0;
  left:1px;
  text-align:center;
  text-shadow:1px 0 2px #000000;
  -o-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -khtml-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  width:100%;
}


hr.sep {clear:both; padding:5px 0 0px 0;margin-bottom:15px;}
.semiseparator {height:1px; border-bottom:1px dashed #ccc;}

div.componentblock { background-color:transparent; }

.componentcontent table th {text-align:left;}

.example{color:#aaa;}

fieldset { border:none; }

#ajaxfeedback {position:absolute; background-color:rgb(255,255,90); top:25px;left:600px;padding:0.5em;font-size:1.5em;font-weight:bold;}

table {
    border-collapse:collapse;
    border-spacing:0;
}
table th { text-align:left }

table .right { text-align:right; }
table .middle { text-align:center; }

.column { float:left; }

.pagecontents {margin-bottom:10px;padding-bottom:10px;}

/** General table with selectable rows **/

table.rowtable td {width:100px;}

.formviewrow label.label {width:110px;}

.formviewrow.captions {font-size:0.85em;margin:0 0 2px 110px;padding:1px 0 2px 0;width:750px;}
.captions table td { height:1em;border-spacing:0px;display:inline-block;}
.largecontact .larger {
  font-size:1.3em;
}

.selectable {
    width:100%;
}
.selectable th { text-align:left;}

.selectable .odd { background-color:#e5e5e5;}
.selectable .even {background-color:#eee;}
.selectable .alert {background-color:#FF9292;}
.selectable td {border:1px solid #e5e5e5;}

.selectable tr.active, .selectable .focus {background-color:rgb(180,213,253);}
.selectable tr.selected {background-color:#6DABCF;}

#relaties { width:99.5%;}

#relatieformbuttons {margin-right:00px;float:right;top:30px;right:0px;}
#relatieformbuttons a {text-transform:capitalize;}

.searchresult {
    font-size:0.9em;
    position:relative;
    width:70%;
}
#relatie_selectie .searchresult, #inschrijving_selectie .searchresult {
    margin-left:250px;
}
.searchresult .content {
    padding:0;
    margin:0 0 0 20px;
    height:130px;
    overflow:auto;
}
.searchresult .content.loading {
background:url(../html/loading1.gif) no-repeat center center;
}

.frmrelatieform { margin-top:5px; }
.frmrelatieform .formviewrow {width:400px;}

/* popup voor selecteren van gewenste inschrijving */
#inschrijvingen {padding:15px;max-height:450px;width:600px;}
.inschrijvingcontent{overflow:auto;max-height:420px;}
.inschrijvingcontent table{width:97% !important;}

#masterform {max-width:2224px;position:relative;}


/** Nieuwe aanvraag **/

#lblRELATIE { display:inline-block; /* for yellow fade */}

#_fldADVERTENTIECODE {width:120px;}

table.contact {border-collapse:collapse;}

#relatie_selectie { position:relative;}
.searchbox {
    position:absolute;
    border-right:1px solid #dadada;
    padding-right:10px;
    width:20em;
}

#page_inschrijving { xposition:relative;padding:1em; }
#page_relatie { xposition:relative;padding:1em; min-height:140px;}
#page_factuurrelatie { xposition:relative;padding:1em; min-height:140px;}

#frmRELATIE {min-width:500px; }

#stats {position:absolute;z-index:200;right:30px;width:450px;border-left:1px solid #dadada;padding:0px 10px 10px 20px;margin:50px 0 0 0;}

/** Nieuwe inschrijving **/
i.REMOVEROW {cursor:pointer; color:#BB4848;}
#_fldBANKGIROREKENING {width:200px;}

#nieuwe_inschrijving_cursusselectie table {width:auto;}

#artikelenformulier { width:600px;height:400px;display:block;position:absolute; }

#nieuwe_inschrijving_artikelen { max-height:350px;overflow:auto; }
#nieuwe_inschrijving_artikelen table th, #nieuwe_inschrijving_artikelen table td {text-align:left;}

#resultaatformulier table {width:100%;}
#resultaatformulier th {font-weight:normal;color:#444;font-size:0.9em;}
#resultaatformulier td.column1, #resultaatformulier td.column1 {padding-right:20px;width:50%;}
#resultaatformulier h3 {border-bottom:1px solid #ccc;width:100%;}

.nietmbohbo, .mbo2, .mbo34, .hbo, .directinschr {display:none}
.componentitem.mbo2inschrijving .mbo2 {display:block}
.componentitem.mbo34inschrijving .mbo34 {display:block}
.componentitem.hboinschrijving .hbo {display:block}
.componentitem.hboinschrijving .nietmbohbo, .componentitem.mboinschrijving .nietmbohbo {display:none}
.componentitem.directinschrijven .directinschr {display:block}

.pagetabcontainer i.fa-exclamation-triangle {
  color:#BE1717;
}
/** Artikel verkoop **/

.frmArtikelVerkoop h2 { margin-bottom:0px;}

#artikelverkoop_artikelselectie table {width:auto;}
#artikelverkoop_artikelselectie table th, #artikelverkoop_artikelselectie table td {padding-left:20px;}


/** Telemarketing **/
#persinschr {display:inline;float:right;font-size:1.2em;margin-right:20px;}

.tm_formview h3 {margin-bottom:3px;}

.tm_formview span {font-weight:bold;}
.telemarketinggrid { margin-top:15px; overflow:auto;}
.telemarketinggrid table { width:99%}

.geplandeacties td.periode {background-position:top left;background-repeat:no-repeat;width:16px;}
.geplandeacties td.periode.st_1 {background-image:url(../html/exclamation.png);} /* zeer dringend (high - uitroepteken) */
.geplandeacties td.periode.st_2 {background-image:url(../html/telephone.png);} /* nu bellen (alarm - telefoon) */
.geplandeacties td.periode.st_3 {background-image:url(../html/bluearrow.png);} /* normaal (low - pijltje omlaag) */

#cursusinformatiecontainer {position:relative;height:198px;overflow:auto;padding:10px;margin-top:21px;}
#cursusinformatie {position:relative;font-size:0.9em;}
#cursusinformatie td {vertical-align:top;}

#actiehistorietabelcontainer {height:198px;overflow:auto;padding:10px;}
#actiehistorietabel {position:relative;font-size:0.9em;}
#actiehistorietabel td {padding:0 10px 0 0;max-width:500px;min-width:6em;vertical-align:top;}
#actiehistorietabel td.gerealiseerdedatum {text-align:right;}

#opmerkingencontainer {position:relative;height:100px;overflow:auto;}
#opmerkingencontainer td {vertical-align:top;}

#sub_geplandeactie {height:7em;}
#sub_resultaten .buttons button {width:210px;padding-left:4px;padding-right:4px}

#_lblACTIEOMSCHRIJVING {display:inline-block;max-width:515px;vertical-align:top;}


/** Inschrijving opzegging **/
#opzegginginfocontainer {float:right;padding:1em;background-color:#DBF2FF;}
#opzegginginfo th, #opzegginginfo td {border-bottom:1px solid #9BC2D8;padding-right:6px;text-align:right;}
#opzegginginfo tr.total td {border-top:2px solid #74A3BE;border-bottom:0px;}


/** Betalingsverzoeken samenvoegen **/
#betalingsverzoeken {}
.bv_tabel {width:870px;clear:none;}
#betalingsverzoekentabel {width:100%;background-color:#fff;clear:none;}
#betalingsverzoekentabel th {font-size:0.9em;}
#betalingsverzoek_filters { float:right; width:80px; background-color:#fff; border:1px solid #ccc; margin:25px 10px 0 0; padding:5px;}
#betalingsverzoek_filters span {line-height:2em; }
.totaalbedrag {width:50px;text-align:right;}

/** Betalingsregeling **/
#regelingoverzicht {float:right;width:220px;border:1px solid #ccc;padding:10px;margin-right:10px;overflow:auto;}
#regeling {width:100%;height:200px;border:none;background-color:transparent;padding:0px;}

/** Te veel betaald verwerken **/
#teveelbetaaldfooter {width:100%;}
#teveelbetaaldfooter td {font-size:0.9em;padding-top:15px;}
#teveelbetaaldfooter td.totaaltoegewezen {border-top:2px solid #333;}
#teveelbetaaldfooter input, #teveelbetaaldfooter span {font-size:1.2em;}

/** Cursusgegevens **/
#formcontrols {
    display:none;
}
#cursusgegevens .content {
    padding:10px;
    min-height:370px;
}
.overzicht {
    width:500px;
    margin-top:10px;
}
.overzicht .buttons, .cursus_eigenschappen .buttons {
}
.overzicht .bodyscroll {
    height:330px;
    overflow:auto;
    padding-right:5px;
}

.acties {text-align: right;}

#cursuschecklist {
    list-style:none;

}
#cursuschecklist li {
    width:auto;
    padding-left:30px;
}
#cursuschecklist li.ok {
    background:url(../html/tick.png) no-repeat top left;
}
#cursuschecklist li.notok {
    background:url(../html/exclamation.png) no-repeat top left;
}

/** Modulegegevens **/
#modulelestabel td{
    width:240px;
}

#modulelestabel td:first-child{
    width:30px;
}

.viewmode {
  font-weight: bold;
}
.viewmode label.label, .viewmode .captions {
  font-weight: normal;
}

.VOOROPLEIDING {
  padding-left:1.3em;
  padding-top:0.9em;
}
.VOOROPLEIDING label {
  width:150px;
  display: inline-block;
}
.heeftvooropleidingblok label {
  cursor:pointer;
}
.heeftvooropleidingblok>label {
  border-bottom:1px dotted #555;
}

.melding p {
  padding:2px 4px 2px 4px;
  display: inline;
}

.att {
  background-color: red;
  color:white;
}
.checked {
    background:url(../html/tick.png) no-repeat top right;
}