<input type="hidden" name="_hdnAction" value="bewaarinternereservering" />
<input type="hidden" name="_hdnProcessedByModule" value="true" />
<textarea style="width:0px;opacity:0;height:0px" rows="2" cols="120" id="_fldCOMPONENTRRULE" name="{$RRULEKOLOM}">{$RRULE}</textarea>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <!-- List group -->
        <div class="list-group" id="fldFrequentie" role="tablist">
            <a class="list-group-item list-group-item-action schema_E" data-toggle="list" href="#tabE" data-schema="E" role="tab">Eenmalig</a>
            <a class="list-group-item list-group-item-action schema_D" data-toggle="list" href="#tabD" data-schema="D" role="tab">Dagelijks</a>
            <a class="list-group-item list-group-item-action schema_W" data-toggle="list" href="#tabW" data-schema="W" role="tab">Wekelijks</a>
            <a class="list-group-item list-group-item-action schema_M" data-toggle="list" href="#tabM" data-schema="M" role="tab">Maandelijks</a>
        </div>
    </div>
    <div class="col-lg-5 col-md-10 col-sm-10 col-xs-12">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" id="tabE" role="tabpanel">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Eenmalig op</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_EENMALIG_START_DATUM">
                            <div class="input-group">
                                <input type="text" id="_fldSCHEMA_START_DATUM_E" name="_hdnSCHEMA_EENMALIG_START_DATUM" class="text date_input" value="" size="11">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Tijd</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_DAGDEEL_E">
                            <div class="input-group aangepastetijd">
                                <span id="_rowSCHEMA_AANGEPASTE_TIJD_E">
                                    <input type="text" placeholder="starttijd" class="datepair start required inputtime" name="_hdnSCHEMA_START_TIJD_E" id="_fldSCHEMA_START_TIJD_E" />
                                    <input type="text" placeholder="eindtijd" class="datepair end required inputtime" name="_hdnSCHEMA_EIND_TIJD_E" id="_fldSCHEMA_EIND_TIJD_E" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabD" role="tabpanel">

                <div class="row">
                    <div class="col-sm-3">
                        <label>Periode, vanaf</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_START_DATUM_D">
                            <span class="input-groupx">
                                <input type="text" id="_fldSCHEMA_START_DATUM_D" name="_hdnSCHEMA_START_DATUM_D" class="text date_input  " value="" size="11">
                                <select class="select2 required" data-minimum-results-for-search="Infinity" data-width='55px' id="_fldSCHEMA_EINDE_D"></select>
                                <span id="_rowSCHEMA_AANTALKEER_D">
                                    <span class="input-groupx">
                                        <input class="number required" style="width:50px" data-rule-min="1" data-rule-max="50" id="_fldSCHEMA_EINDE_AANTALKEER_D" /> keer
                                    </span>
                                </span>
                                <span id="_rowSCHEMA_EINDDATUM_D">
                                    <span class="input-groupx">
                                        <input class="date_input required" id="_fldSCHEMA_EIND_DATUM_D" />
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Dagdeel&nbsp;</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_DAGDEEL_D">
                            <div class="input-group aangepastetijd">
                                <span id="_rowSCHEMA_AANGEPASTE_TIJD_D">
                                    <input type="text" placeholder="starttijd" class="datepair start required inputtime" name="_hdnSCHEMA_START_TIJD_D" id="_fldSCHEMA_START_TIJD_D" />
                                    <input type="text" placeholder="eindtijd" class="datepair end required inputtime" name="_hdnSCHEMA_EIND_TIJD_D" id="_fldSCHEMA_EIND_TIJD_D" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tabW" role="tabpanel">

                <div class="row">
                    <div class="col-sm-3">
                        <label>Periode, vanaf</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_START_DATUM_W">
                            <span class="input-group">
                                <input type="text" id="_fldSCHEMA_START_DATUM_W" name="_hdnSCHEMA_WEEK_START_DATUM" class="text date_input required" value="" size="11">
                                <select class="select2 required" data-minimum-results-for-search="Infinity" data-width='55px' id="_fldSCHEMA_EINDE_W"></select>
                                <span id="_rowSCHEMA_AANTALKEER_W">
                                    <input class="number required" style="width:50px" data-rule-min="1" data-rule-max="50" id="_fldSCHEMA_EINDE_AANTALKEER_W" /> keer
                                </span>
                                <span id="_rowSCHEMA_EINDDATUM_W">
                                    <input class="date_input required" id="_fldSCHEMA_EIND_DATUM_W" />
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Tijd</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div id="_rowSCHEMA_DAGDEEL_W">
                            <div class="input-group aangepastetijd">
                                <span id="_rowSCHEMA_AANGEPASTE_TIJD_W">
                                    <input type="text" placeholder="starttijd" class="datepair start required inputtime" name="_hdnSCHEMA_START_TIJD_W" id="_fldSCHEMA_START_TIJD_W" />
                                    <input type="text" placeholder="eindtijd" class="datepair end required inputtime" name="_hdnSCHEMA_EIND_TIJD_W" id="_fldSCHEMA_EIND_TIJD_W" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Frequentie</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <select class="select2 required" data-minimum-results-for-search="Infinity" id="_fldSCHEMA_PERIODIEK" name="_hdnSCHEMA_PERIODIEK" data-value="">
                            <option value="1">Elke week</option>
                            <option value="2">Om de twee weken</option>
                            <option value="3">Om de drie weken</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Welke dagen</label>
                    </div>
                    <div class="col-sm-9 form-group form-group-sm">
                        <div class="row">
                            <div class="btn-toolbar weekdagselectie" id="_fldWEEKDAGSELECTIE" role="toolbar">
                                <div class="btn-group" role="group">
                                    <button type="button" class="ww btn btn-sm btn-outline btn-default">&nbsp;</button>
                                    <button type="button" data-val="MO" class="ma wday btn btn-sm btn-default">Ma</button>
                                    <button type="button" data-val="TU" class="di wday btn btn-sm btn-default">Di</button>
                                    <button type="button" data-val="WE" class="wo wday btn btn-sm btn-default">Wo</button>
                                    <button type="button" data-val="TH" class="do wday btn btn-sm btn-default">Do</button>
                                    <button type="button" data-val="FR" class="vr wday btn btn-sm btn-default">Vr</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" data-val="SA" class="za weekendday btn btn-sm btn-default">Za</button>
                                    <button type="button" data-val="SU" class="zo weekendday btn btn-sm btn-default">Zo</button>
                                </div>
                                <input type="text" style="width:0px;opacity:0;" class="required" name="_hdnWEEK_SELECTIE_VALIDATE" id="_fldWEEK_SELECTIE_VALIDATE" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabM" role="tabpanel">

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Periode, vanaf</label>
                        </div>
                        <div class="col-sm-9 form-group form-group-sm">
                            <div id="_rowSCHEMA_START_DATUM_M">
                                <span class="input-group">
                                    <input type="text" id="_fldSCHEMA_START_DATUM_M" name="_hdnSCHEMA_START_DATUM_M" class="text date_input required" value="" size="11">
                                    <select class="select2 required" data-minimum-results-for-search="Infinity" data-width='55px' id="_fldSCHEMA_EINDE_M"></select>
                                    <span id="_rowSCHEMA_AANTALKEER_M">
                                        <input class="number required" style="width:50px" data-rule-min="1" data-rule-max="50" id="_fldSCHEMA_EINDE_AANTALKEER_M" /> keer
                                    </span>
                                    <span id="_rowSCHEMA_EINDDATUM_M">
                                        <input class="date_input required" id="_fldSCHEMA_EIND_DATUM_M" />
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Tijd</label>
                        </div>
                        <div class="col-sm-9 form-group form-group-sm">
                            <div id="_rowSCHEMA_DAGDEEL_M">
                                <div class="input-group aangepastetijd">
                                    <span id="_rowSCHEMA_AANGEPASTE_TIJD_M">
                                        <input type="text" placeholder="starttijd" class="datepair start required inputtime" name="_hdnSCHEMA_START_TIJD_M" id="_fldSCHEMA_START_TIJD_M" />
                                        <input type="text" placeholder="eindtijd" class="datepair end required inputtime" name="_hdnSCHEMA_EIND_TIJD_M" id="_fldSCHEMA_EIND_TIJD_M" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Welke maanden</label>
                        </div>
                        <div class="col-sm-9 form-group form-group-sm">
                            <div class="row">
                                <div class="btn-toolbar maandselectie" id="_fldMAANDSELECTIE" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <button type="button" data-val="1" class="jan maand btn btn-sm btn-default">Jan</button>
                                        <button type="button" data-val="2" class="feb maand btn btn-sm btn-default">Feb</button>
                                        <button type="button" data-val="3" class="mrt maand btn btn-sm btn-default">Mrt</button>
                                        <button type="button" data-val="4" class="apr maand btn btn-sm btn-default">Apr</button>
                                        <button type="button" data-val="5" class="mei maand btn btn-sm btn-default">Mei</button>
                                        <button type="button" data-val="6" class="jun maand btn btn-sm btn-default">Jun</button>
                                    </div>
                                    <br/><br/>
                                    <div class="btn-group" role="group">
                                        <button type="button" data-val="7" class="jul maand btn btn-sm btn-default">Jul</button>
                                        <button type="button" data-val="8" class="aug maand btn btn-sm btn-default">Aug</button>
                                        <button type="button" data-val="9" class="sep maand btn btn-sm btn-default">Sep</button>
                                        <button type="button" data-val="10" class="okt maand btn btn-sm btn-default">Okt</button>
                                        <button type="button" data-val="11" class="nov maand btn btn-sm btn-default">Nov</button>
                                        <button type="button" data-val="12" class="dec maand btn btn-sm btn-default">Dec</button>
                                    </div>
                                    <input type="text" style="width:0px;opacity: 0;" class="required" name="_hdnMAAND_SELECTIE_VALIDATE" id="_fldMAAND_SELECTIE_VALIDATE" value="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Op dag</label>
                        </div>
                        <div class="col-sm-9 form-group form-group-sm">
                            <div id="_rowSCHEMA_MAAND_START_DAG" class="">
                                <div class="input-group">
                                    <select class="select2" data-minimum-results-for-search="Infinity" size="4" name="_hdnSCHEMA_MAAND_START_DAG" id="_fldSCHEMA_MAAND_START_DAG"></select>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="preview-datums-container">
        <h4>
            <label>
                <input type="checkbox" id="preview-datums-toggler" name="_hdnPreviewDatumsToggler" class="icheck" />
                Dagen verwijderen uit de reservering?
            </label>
        </h4>
        <div id="preview-datums" style="display:none;" class="preview-datums btn-group"></div>
        {*<div id="previewcalendar" class="previewcalendar"></div>*}
    </div>
</div>

<style>{literal}
    .maandblock {width:120px;}
    #fldFrequentie a {
        width:100px;
        font-size:0.9em;
    }
    .inputtime {
        width:50px;
    }
    .date_input {
        width:85px;
    }
    .preview-datums {
        max-height:130px;
        overflow: auto;
        font-size: 1.0em;
    }
    .preview-datums li span {
        display: none;
    }
    .preview-datums .btn.btn-danger {
        text-decoration: line-through;
    }


    .previewcalendar {
        width: 200px;
        height:200px;
        margin: 0 auto;
        font-size: 10px;
    }
    .fc-header-title h2 {
        font-size: .9em;
        white-space: normal !important;
    }
    .fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
        font-size: 0;
        overflow: hidden;
        height: 2px;
    }
    .fc-view-agendaWeek .fc-event-vert {
        font-size: 0;
        overflow: hidden;
        width: 2px !important;
    }
    .fc-agenda-axis {
        width: 20px !important;
        font-size: .7em;
    }
    .fc-button-content {
        padding: 0;
    }

{/literal}</style>
