
  #flags {
    text-align: center;
    padding:7px 0px 0px 0px;
    width:400px;
      margin-left:auto;
    margin-right:auto;
  }
  #language_text {
    font-size:0.8em;
    text-align: center;
  }
  #loginform {
    padding:10px 0px 0px 0px;
    margin:0px;
  }

  #plrlogin {
    background-image: url(pna_logo.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px;
    width:600px;
    height:320px;
    margin:150px auto;
    text-align:left;
    padding:0px 0px 0px 800px;
  }

  #plrlogo {
    height:50px;
    width:150px;
    font-size:3rem;
  }

  #login_text {
    width:300px;
    height:3em;
    min-height:3em;
  }

  #indexextra {
    position:absolute;
    top:160px;
    float:left;
      margin:0px 0px 0px 0px;
    width:27%;
  }

  #indexextra ul{
    list-style: none;
    left:0px;
    margin:0px;
    padding-left:15px;
  }
  #indexextra li {
    left:0px;
    height:3em;
    min-height:32px;
    margin:0px 0px 2.2em 0px;
    padding:0px 0px 0px 39px;
    background-repeat: no-repeat;
    background-position: 5px left;
  }
  .subline {
    display: block;
    font-size:0.85em;
  }
  .subline a {
    color:white;
  }
