@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

.pblog {
    font-family: 'Bitter', serif;
    margin:0;
    padding:0;
    position: relative;
}
.pblog a {
    text-decoration: none;
}
.pblog a:hover {
    text-decoration: underline;
}

.pblog_list {
    padding:0;
}
.pblog_list li {
    margin:0 1em 2em 0;
    list-style: none;
    width:300px;
    float:left;
}
.pblog_list h1 {
    color:#222;
    font-size: 1.6em;
}
.pblog_list .pblog_body {
    font-size:1.1em;
}
#plrblog_body {
    display: none;
}

.pblog_edit {
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    margin-bottom:1em;
}

.pblog_edit .pblog_title {
    font-weight: bold;
    font-size:1.5em;
    background-color: #fff;
    width:100%;
    border:none;
    outline: none;
    padding:0.1em;
}
.pblog_edit {
    width:75vw;
    font-size:18px;
    line-height: 23px;
    font-family:Georgia,Cambria,"Times New Roman",Times,serif;
}
.pblog_body {
    outline: none;
    padding:0.5em;
    background-color: #fff;
}
blockquote {
    border-left: 2px solid #999;
    padding-left:2em;
    margin-left:0;
    color:#777;
}

.pblog_edit .preview {
    padding:1em;
}