.do-dashboard-gemiddelde {
    height:450px;
    background: #1BB394 url(/branding/maxia/img/illus1a.png) no-repeat right bottom;
    background-size: 35%;
    color:#fff;
    font-size:1.2em;
}

.do-gemiddeld-cijfer {
    font-size: 12em;
    line-height: 100%;
    font-weight: bold;
    color: #137E68;
    margin: 0 auto;
    padding: 0;
}

.fc-header-toolbar .fc-activiteittoevoegen-button {
    background-color: #1BB394 !important;
    border-color: #1BB394;
}

.do-dashboard-historie {
    padding:20px;
    height:450px;
}

.do-deelnemer-historie {
    padding:20px;
    background-color: #dfdfdf;
}
.do-deelnemer-historie .historie-item {
    background-color: #fff;
}

.historie-item {
    margin-bottom: 10px;
    padding: 10px;
    /* background-color: #f3f3f4; */
    border-radius: .35rem;
}
.historie-item a {
    text-decoration: none;
    font-weight: 500;
}
.historie-item:hover {
    background-color: #3862a2;
}
.historie-item:hover a, .historie-item:hover .do-historie-titel {
    color:#fff;
}
.historie-item:hover .do-historie-datum {
    color:rgba(255,255,255,0.8);
}
.historie-item .do-historie-titel {
    color:#333;
    font-weight: 500;
    margin-bottom:3px;
}
.historie-item .do-historie-datum {
    color:#777;
}


.do-overzichten-lijst {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.do-overzichten-lijst .ibox-content {
    height:330px;
    background-size: 80%;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center 20px ;
}
.do-overzichten-lijst .ibox-title {
    height:220px;
}
.do-overzichten-lijst .ibox-title p {
    height:40px;
}

.do-deelnemer-item {
    background-color: #fff3cd;
    margin-bottom:10px;
    padding:10px;
    border-radius: .25rem;
}
.do-deelnemer-item p {
    color:#333;
    font-weight: 500;
}
.do-deelnemer-item h3 {
    margin-top:0px;
    font-size:1.7em;
    font-weight: 700;
}
.do-deelnemer-item h4 {
    color:rgba(40,40,40,1);
    margin-top:0px;
    margin-bottom:0;
}
.do-deelnemer-item h5 {
    color:#777;
    font-weight: 400;
    font-size:1em;
}
.do-deelnemer-notitie p {
    font-size:1.1em;
}

.do-deelnemer-item.do-doelstelling-afgerond {
    background-color: #c0dccc;
}


.table tbody tr td:first-child {
    font-weight: 400;
}
.table-borderless tbody tr td {
    border: none;

}

.do-spinnenweb {
    width: 100%; padding-top: 60px; padding-bottom: 60px;
    background: url(/branding/athos/images/spinnenweb-iph.svg) no-repeat center center;
}
.do-spinnenweb canvas {
    padding-left:10%;
    width:90% !important;
    height:80% !important;
}

/*
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  } */

  .deelnemerspopup span.badge {
    text-align: left;
    padding:5 10px 5 10px;
  }

  .badge {
    background-color: rgba(0,0,0,0.2);
    color:#fff;
  }

  .fc-event-time {
    color:#fff;
    font-weight: 600;
    font-size: 1.2em;
  }
  .fc-timegrid .fc-event-title-container {
    color:#fff;
    font-weight: 600;
    font-size: 1.2em;
  }