  img { behavior:url(../javascript/iepngfix.htc); -ms-interpolation-mode:bicubic /* smoother pictures*/; }

  body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:80%;
    color:#222;
    letter-spacing: 1px;
    margin:0px;
    padding:0px 0px 30px 0px;
    background-color:#fff;
  }
  h2 {
    color:#fff;
  }

  a, a:visited {
    color: #B0F0FF;
  }
	hr.cleaner {
	   clear:both;
	   height:1px;
	   margin: -1px 0 0 0; padding:0;
	   border:none;
	   visibility: hidden;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset{
		border:0px;
		padding:0px;
		margin:0px;
	}
  input.text {
  	display: block;
  	width: 150px;
  	float: left;
  	margin-bottom: 5px;
  }
  label.field {
  	display: block;
  	text-align: left;
  	float: left;
  	width: 115px;
  	padding-right: 20px;
  }
  br {

  }

  #flags {
    text-align: center;
    padding:7px 0px 0px 0px;
  	width:400px;
	  margin-left:auto;
    margin-right:auto;
  }
  #language_text {
    font-size:0.8em;
    text-align: center;
  }
  #loginform {
		padding:10px 0px 0px 0px;
		margin:0px;
  }

  #plrlogin {
    background-image: url(pna_logo.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px;
  	width:600px;
    height:320px;
    margin:150px auto;
    text-align:left;
    padding:0px 0px 0px 300px;
  }

  #plrlogo {
    display:none;
    height:50px;
    width:150px;
  }
  #plrlogo span { display:none; }

  #login_text {
    width:300px;
    height:3em;
    min-height:3em;
  }

  #indexextra {
    position:absolute;
    top:160px;
    float:left;
	  margin:0px 0px 0px 0px;
    width:27%;
  }

  #indexextra ul{
    list-style: none;
    left:0px;
    margin:0px;
    padding-left:15px;
  }
  #indexextra li {
    left:0px;
    height:3em;
    min-height:32px;
    margin:0px 0px 2.2em 0px;
    padding:0px 0px 0px 39px;
    background-repeat: no-repeat;
    background-position: 5px left;
  }
  .subline {
    display: block;
    font-size:0.85em;
  }
  .subline a {
    color:white;
  }

#footer {
  margin-top:0px;
	clear:both;
  color:#B0F0FF;
	text-align : center;
	font-weight: normal;
	font-size:0.9em;
}
#footer a, #footer a:visited {
  color: #E3FAFF;
  text-decoration: none;
	font-size:1em;
}
