/* Branded Login Form */
  body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:80%;
    color:#646464;
    background-color: #FFF;
    letter-spacing: 1px;
    margin:0px; 
    padding:0px 0px 30px 0px;
  }
  #plrlogin fieldset{
      border:0px;
      padding:0px;
      margin:0px;
  }
  #plrlogin input.text {
  	display: block;
  	width: 150px;
  	float: left;
  	margin-bottom: 5px;
  }
  #plrlogin label.field {
  	display: block;
  	text-align: left;
  	float: left;
  	width: 115px;
  	padding-right: 20px;
  }
  #plrlogin {
  	width:440px;
    height:332px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding:130px 0px 0px 140px;
    background: url(blursepwhite2.gif) no-repeat left top; 
  }
  
  #plrlogo {
    background:url(activityportal.png) no-repeat left top;
    height:30px;
    width:250px;
  }
  #plrlogo span { display:none; }
  
  
  #login_text {
    width:28em;
    height:1.5em;
    min-height:1.5em;
  }

#footer {
    color:#646464;
    font-size:0.85em;
    background:url(arplr.png) no-repeat top center;
    text-align:center;
    height:80px;
    padding:50px;
}
#footer a, #footer a:visited {
  color: #646464;
  text-decoration:none;
}
.copyright {
	display:block;
	padding-top:10px;
}
