  /* Branded Login Form */
  body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size:80%;
    color:white;
    letter-spacing: 1px;
    margin:0px;
    padding:0px 0px 0px 0px;
    background:#999 url(http://saascandy.s3.amazonaws.com/SaasCandy-CloudsBackground_mini.jpg) no-repeat center 0px;
  }
  #plrlogin {
    background: url(cogniamplayer.png) no-repeat center 100px;
    background-size: 400px;
  }
  #plrlogin fieldset{
      border:0px;
      padding:0px;
      margin:0px;
  }
  #plrlogin input.text {
  	display: block;
  	width: 150px;
  	float: left;
  	margin-bottom: 5px;
  }
  #plrlogin label.field {
  	display: block;
  	text-align: left;
  	float: left;
  	width: 115px;
  	padding-right: 20px;
  }
  #plrlogin {
  	width:410px;
    height:332px;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding:230px 0px 0px 140px;
  }
  #plrlogin #login_text {
    width:20em;
    height:3em;
    min-height:3em;
  }

  #plrlogo span { display:none; }

  #footer {
    height:200px;
    background: url(PNA_logo_white.png) no-repeat 96% 90%;
    background-size: 100px;
  }

/* Default Polaris CSS overrides */

#topcontent {
	border-top-color: #9B0005;
}
#clienttitle {
    margin-top:-10px;
    margin-left:0px;
	background: url(topimage.gif) no-repeat top left;
	width:140px;
	height:60px;
}
#clienttitle span { display:none; } /* because we have a client logo we don't show the client text */
#applicationtitle {	position:absolute; top:37px; left:80px; color:rgb(155,0,5);}
html>body #applicationtitle { left:120px; }

.apps_app {
    background-color: #dedede;
}

h1 {
	color:rgb(155,0,5);
}
ul#topinfo {
	border-color:#D3796E;
}
ul#topinfo li {
	border-left-color:#D3796E;
}
ul#topinfo, ul#topinfo li.special a {
	color:#D6432F;
}
