/** NHA custom CSS styling

body { font-size:75%; }

tr.fval_STATUS_BE a.clone_but,
tr.fval_STATUS_DB a.clone_but,
tr.fval_STATUS_BV a.clone_but,
tr.fval_STATUS_GV a.clone_but,
tr.fval_STATUS_GB a.clone_but,
tr.fval_STATUS_SA a.clone_but,
tr.fval_STATUS_IB a.clone_but,
tr.fval_STATUS_BB a.clone_but,
tr.fval_STATUS_BL a.clone_but,
tr.fval_STATUS_CV a.clone_but,
tr.fval_STATUS_GP a.clone_but,
tr.fval_STATUS_VE a.clone_but,
tr.fval_STATUS_QP a.clone_but,
tr.fval_STATUS_QI a.clone_but,
tr.fval_STATUS_QB a.clone_but,
tr.fval_STATUS_QG a.clone_but,
tr.fval_STATUS_QV a.clone_but
{ display:none; }

tr.fval_STATUS_GP.fval_FACTUURBOEKINGDATUMTIJDISNULL a.clone_but
{ display:inline !important; }

tr.fval_MATERIAALCOMPLEETJANEE_N td { background-color:#FFDADA !important; }
tr.fval_MATERIAALCOMPLEETJANEE_N:nth-child(even) td { background-color:#FFCFCF !important; }
tr.focusrow.fval_MATERIAALCOMPLEETJANEE_N td { background-color:#687C99 !important; color:#eee;}
tr.focusrow.fval_MATERIAALCOMPLEETJANEE_N:nth-child(odd) td { background-color:#687C99 !important;  color:#eee;}

tr.fval_INSCHRIJVINGENBLOKKERENJANEE_J td { background-color:#D1EBF7 !important; }
tr.fval_INSCHRIJVINGENBLOKKERENJANEE_J:nth-child(even) td { background-color:#E1F3FC !important;}

tr.fval_GEBLOKKEERDJANEE_J td { background-color:#ddd !important; color:#777 !important; }
tr.fval_GEBLOKKEERDJANEE_J:nth-child(even) td { background-color:#d3d3d3 !important;}

tr.fval_MATCOMPL_AFGEDRUKT_J td { color:#999 !important; }

tr.fval_INSCHRIJVINGTOETSENJANEE_J td { background-color:#D1EBF7 !important; }
tr.fval_INSCHRIJVINGTOETSENJANEE_J:nth-child(odd) td { background-color:#E1F3FC !important; color:#333;}
tr.focusrow.fval_INSCHRIJVINGTOETSENJANEE_J td { background-color:#687C99 !important;   color:#eee;}
tr.focusrow.fval_INSCHRIJVINGTOETSENJANEE_J:nth-child(odd) td { background-color:#687C99 !important;    color:#eee;}

tr.fval_TOETSINGRESULTAAT_J td { background-color:#ECF5E3  !important; }
tr.fval_TOETSINGRESULTAAT_J:nth-child(odd) td { background-color:#E0F0D0  !important; }
tr.focusrow.fval_TOETSINGRESULTAAT_J td { background-color:#687C99 !important;  color:#eee;}
tr.focusrow.fval_TOETSINGRESULTAAT_J:nth-child(odd) td { background-color:#687C99 !important;   color:#eee;}

tr.fval_TOETSINGRESULTAAT_N td, tr.fval_PRESTATUS_GEREEDAFGEBROKEN td { background-color:#999 !important; }
tr.fval_TOETSINGRESULTAAT_N:nth-child(odd) td, tr.fval_PRESTATUS_GEREEDAFGEBROKEN:nth-child(odd) td { background-color:#aaa !important;}

tr.focusrow.fval_TOETSINGRESULTAAT_N td, tr.focusrow.fval_PRESTATUS_GEREEDAFGEBROKEN td { background-color:#687C99 !important;  color:#eee;}
tr.focusrow.fval_TOETSINGRESULTAAT_N:nth-child(odd) td, tr.focusrow.fval_PRESTATUS_GEREEDAFGEBROKEN:nth-child(odd) td { background-color:#687C99 !important;   color:#eee;}

tr.fval_WACHTTIJD_AFGEDRUKT_J td { color:#999 !important; }

tr.fval_COUNTDOWN_-3 td,
tr.fval_COUNTDOWN_-2 td,
tr.fval_COUNTDOWN_-1 td,
tr.fval_COUNTDOWN_0 td,
tr.fval_COUNTDOWN_1 td { background-color:#DB3535 !important;  color:#eee;}
tr.fval_COUNTDOWN_2 td { background-color:#DB7735 !important;  color:#eee;}
tr.fval_COUNTDOWN_3 td { background-color:#DBBA35 !important;  color:#eee;}
**/
/* Updownloads*/
tr.fval_SOORT_T input.togglevisible, tr.fval_SOORT_T label {display:none;}

.label {
    color:#fff !important;
}
.fval_AFTEKEUREN .label {
    background-color:#BABB5A;
}
.fval_COHORTWACHTKAMER .label {
    background-color:#ed5565;
}
.fval_GEREEDGOED .label {
    background-color:#BA6E56;
}
.fval_GEREEDDPL .label {
    background-color: #8C7FBA;
}