/** NHA custom CSS styling **/

body { font-size:75%; }

#topcontent {
background-color:#314b7a;
background-image:url(../../images/2_mainmenu6.png);

background-color:#CE2222;
background-image:none;
}
ul#topinfo li {
border-left-color:#41546F;
}

#appslist li {
    background: #304473;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% -20%, 160, from(#374f87), color-stop(100%, #1d2b48));
}

#appslist li:hover { 
    background: #304473;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% -20%, 160, from(#374f87), color-stop(100%, #1d2b48));
}

/************************************************
Styles for the horizontal Navigation menu structure
************************************************/
#navcontainer.horizontal {
    border-top-color:#606B79;
}
#navcontainer.horizontal ul{
    border-bottom-color:#aaa;
    background-color:#ddd;
}

#navcontainer.horizontal ul li{
    background-color:#f9f9f9;
    background-image:url(../../images/2_mainmenu4.png);
    background-position:bottom left;
}

#navcontainer.horizontal ul a {
    border-right-color:#aaa;
    border-left-color:#eee;
    color:#000;
    font-size:1.05em;
    text-shadow:none;
}
#navcontainer.horizontal ul li.activetarget {
    background-color:#506ff6;
    background-image:url(../../images/2_mainmenu4_active.png);
}
#navcontainer.horizontal ul li.activetarget a{
    border-left-color:#506ff6;
    color:#fff;
}

#navcontainer.horizontal ul a:hover {
    color:#222;
}

/* for a mozilla better display with key nav */
#navcontainer.horizontal ul a:focus{
}

#navcontainer.horizontal ul li.headermenu a {
}

#root-menu-div ul a:hover {
    background:#506ff6 url(../../images/2_mainmenu4_active.png) repeat-x bottom left;
    color:#fff;
}

tr.fval_STATUS_BE a.clone_but,
tr.fval_STATUS_DB a.clone_but,
tr.fval_STATUS_BV a.clone_but,
tr.fval_STATUS_GV a.clone_but,
tr.fval_STATUS_GB a.clone_but,
tr.fval_STATUS_SA a.clone_but,
tr.fval_STATUS_IB a.clone_but,
tr.fval_STATUS_BB a.clone_but,
tr.fval_STATUS_BL a.clone_but,
tr.fval_STATUS_CV a.clone_but,
tr.fval_STATUS_GP a.clone_but,
tr.fval_STATUS_VE a.clone_but
{ display:none; }

tr.fval_STATUS_GP.fval_FACTUURBOEKINGDATUMTIJDISNULL a.clone_but
{ display:inline !important; }

tr.fval_MATERIAALCOMPLEETJANEE_N td { background-color:#FFDADA !important; }
tr.fval_MATERIAALCOMPLEETJANEE_N:nth-child(even) td { background-color:#FFCFCF !important; }
tr.focusrow.fval_MATERIAALCOMPLEETJANEE_N td { background-color:#687C99 !important;	color:#eee;}
tr.focusrow.fval_MATERIAALCOMPLEETJANEE_N:nth-child(odd) td { background-color:#687C99 !important;	color:#eee;}

tr.fval_INSCHRIJVINGENBLOKKERENJANEE_J td { background-color:#D1EBF7 !important; }
tr.fval_INSCHRIJVINGENBLOKKERENJANEE_J:nth-child(even) td { background-color:#E1F3FC !important;}

tr.fval_GEBLOKKEERDJANEE_J td { background-color:#ddd !important; color:#777 !important; }
tr.fval_GEBLOKKEERDJANEE_J:nth-child(even) td { background-color:#d3d3d3 !important;}

tr.fval_MATCOMPL_AFGEDRUKT_J td { color:#999 !important; }

tr.fval_INSCHRIJVINGTOETSENJANEE_J td { background-color:#D1EBF7 !important; }
tr.fval_INSCHRIJVINGTOETSENJANEE_J:nth-child(odd) td { background-color:#E1F3FC !important;	color:#333;}
tr.focusrow.fval_INSCHRIJVINGTOETSENJANEE_J td { background-color:#687C99 !important;	color:#eee;}
tr.focusrow.fval_INSCHRIJVINGTOETSENJANEE_J:nth-child(odd) td { background-color:#687C99 !important;	color:#eee;}

tr.fval_TOETSINGRESULTAAT_J td { background-color:#ECF5E3  !important; }
tr.fval_TOETSINGRESULTAAT_J:nth-child(odd) td { background-color:#E0F0D0  !important; }
tr.focusrow.fval_TOETSINGRESULTAAT_J td { background-color:#687C99 !important;	color:#eee;}
tr.focusrow.fval_TOETSINGRESULTAAT_J:nth-child(odd) td { background-color:#687C99 !important;	color:#eee;}

tr.fval_TOETSINGRESULTAAT_N td { background-color:#999 !important; }
tr.fval_TOETSINGRESULTAAT_N:nth-child(odd) td { background-color:#aaa !important;}

tr.focusrow.fval_TOETSINGRESULTAAT_N td { background-color:#687C99 !important;	color:#eee;}
tr.focusrow.fval_TOETSINGRESULTAAT_N:nth-child(odd) td { background-color:#687C99 !important;	color:#eee;}

tr.fval_WACHTTIJD_AFGEDRUKT_J td { color:#999 !important; }