@import url(../css/plrdesigner.css);
@import url(pinkroccade_default.css);

#clienttitle {
	background-image: url(../images/gpr.png);
}

#navcontainer.horizontal li .im {
  display:inline;
}

#navigation ul#modules li.normalmenu a:hover, #navigation ul#modules li.selectedmenu a:hover {
	background-color: #C2DDEF; 
	border-right-color:#333;
	border-bottom-color: #333;
}
#navigation ul#modules li.headermenu {
	background-color:#2C73A7;
}

