@import url(pinkroccade_default.css);

#clienttitle {
	background-image: url(../images/gpr.png);
}

/* Status kleuren */
table.data tbody td.fval_0, table.data tbody td.fval_1, 
table.data tbody td.fval_2, table.data tbody td.fval_3, 
table.data tbody td.fval_4, table.data tbody td.fval_5 { 
  font-weight:bold; 
  color:#fff; text-align:center; padding-right:8px !important; padding-left:8px !important;
}

table td.fval_0 { background-color:#555; }
table td.fval_1 { background-color:#990000; }
table td.fval_2 { background-color:#e8ab00; }
table td.fval_3 { background-color:#006600; }
table td.fval_4 { background-color:#2c73a7; }
table td.fval_5 { background-color:#888; }

table tr.fval_0 td input.hotbutton, 
table tr.fval_5 td input.hotbutton, 
table tr.fval_7 td input.hotbutton { display:none !important; }

table#aandachtsgebieden tr {
  border-bottom:1px solid blue;
  background-color:#fff;
}

div#scheduletextspace {position:absolute;left:58em;width:26em;padding:0px;margin:0px 0px 0px 10px;background-color:#ebfb82;}
div#scheduletextspace h1 {background-color:#ebfb82;color:#9ca620;padding-left:10px;margin:0px;font-size:1em;font-weight:bold;border:0px;}
div#scheduletext {padding:10px;}

html>body div.componentblockhilight, html>body div.componentblock{ margin-bottom: 0em} /* In CL is de bottom marge te groot... vandaar op 0 gezet */

/*****
*
*  LOG VIEW styling
*
*/

.logview {
  width:70em;
/*  min-height:10em;*/
  border-bottom:1px solid silver;
  margin:0.5em 0px 0em 0px;
  padding:0.5em 1em 1em 0em;
}
.logview a{
  text-decoration:none;
  color:#87BFE3;
}
.logcontent {
  margin-left:4.5em;
  min-height:13em;
  height:13em;
}
*>.logcontent {
  height:auto;
}
.logname {
  font-weight:bold;
  font-size:1.3em;
}
.logname span a {
  font-weight:normal;
  font-size:0.9em;
}



.loginfobox {
	float:right;width:18em;padding:0px;margin:0px 0px 0px 10px;
	font-size:0.9em;
	line-height:150%;
}
.loginfobox h1 {background-color:#ebfb82;color:#9ca620;padding-left:5px;margin:0px;font-size:1em;font-weight:bold;border:0px;}
.boxtext {padding:5px;border:1px solid #ebfb82;background-color:white}
.boxtext span {
	font-weight:bold !important;
}
.boxtext input {
	margin-top:10px;
}

.logdate {
  float:left;
	width:3.5em;
	padding:0px 1px 0px 1px;
	background-color:#bbb;
	line-height:120%;
}
.logdate p {
	text-align:center;
	color:white;
	margin:0px;
	}
.logdate span.year {
	font-size:12px;
	display:block;
	}
.logdate span.month {
	font-size:12px;
	font-weight:bold;
	height: 14px;
	text-transform:lowercase;
	display:block;
	}
.logdate span.day {
	text-transform:capitalize;
	font-weight:bold;
	font-size:12px;
	height: 13px;
	display:block;
	}
.logdate span.time {
	background-color:gray;
	font-size:12px;
	display:block;
	}
.logtext {
  padding:0.8em 0px 0.8em 0px;
	width:45em;
}
.logcomments {
	font-size:0.95em;
	color:#aaa;
	width:50em;
}
.logcomments .info {
	color:#aaa;
}
.logcomments em {
	font-style:normal;
	font-weight:bold;
}
.logcomments .comment {
	padding:5px;
	color:#000;
	background-color:#F6F9FD;
}
.logcomments .comment.odd {
	background-color:#E6F1FD;
}
.logview_newentry {
	border:1px solid #BBDCF5;
	background-color:#E8F3FC;
	padding:5px;
}
.logview_newentry textarea{
	background-color: #ffffd3;
}
.logview.afgehandeld {
	background-color:#ededed;
}

/*#quickformview, */
.stretcher, .stretcher_cmnt.hide {
	display:none;
}

@media print {
   a.display, .addcomment {
      display:none !important;
  }

  .loginfobox {
  	float:left;width:80%;padding:0px;margin:0px 0px 20px 10px;
  	font-size:0.9em;
  	line-height:150%;
  }
  .loginfobox input {
    display:none;
  }

}

/*****
*
*  TICKET ACTIE/ARCHIEF styling
*
*/

/* Algemene instellingen */
table.data tbody td.fval_fatal,
table.data tbody td.fval_critical,
table.data tbody td.fval_major,
table.data tbody td.fval_minor,
table.data tbody td.fval_warning,
table.data tbody td.fval_harmless, 
table.data tbody td.fval_unknown 
	{ text-align:center; font-weight:bold; color:#fff; 
		padding-right:8px !important;
		padding-left:8px !important;
	}
	
/* Status kleuren */
table td.fval_fatal 												{ background-color:#000000; }
table td.fval_critical, table td.fval_major { background-color:#990000; }
table td.fval_minor, table td.fval_warning 	{ background-color:#e8ab00; }
table td.fval_harmless 											{ background-color:#006600; }
table td.fval_unknown 											{ background-color:#2c73a7; }

table tr.fval_harmless td.fval_fatal,
table tr.fval_harmless td.fval_critical,
table tr.fval_harmless td.fval_major,
table tr.fval_harmless td.fval_minor,
table tr.fval_harmless td.fval_warning,
table tr.fval_harmless td.fval_unknown,
table tr.fval_harmless td.fval_harmless  
	{ background-color:#006600 !important; }
