#clienttitle {
	background: url(../images/GPR_LOGO_tcm8-4217.gif) no-repeat 70px top;
	height:46px;
}
#clienttitle span { display:none; } /* because we have a client logo we don't show the client text */

#applicationtitle {	position:absolute; top:37px; left:200px;}
html>body #applicationtitle { left:240px; }

/************************************************
Styles for the horizontal Navigation menu structure
************************************************/
#navcontainer.horizontal li .im {
  display:none;
}

#footer {
	display:none;
}

div#statstextspace {position:absolute;left:58em;top:0px;width:36em;padding:0px;margin:0px 0px 0px 10px;}
div#statstextspace h1 {background-color:#ebfb82;color:#9ca620;padding-left:5px;margin:0px;font-size:1em;font-weight:bold;border:0px;}
div#statstext {background-color:#ebfb82;padding:5px;}
