@import url(pinkroccade_default.css);

tr.fval_Y {
  background-color:#F7BAB4 !important;
}
tr.odd.fval_Y {
  background-color:#FFC4BF !important;
}

tr.fval_Aan {
  color:#006600 !important;
}

tr.fval_Uit {
  color:#990000 !important;
}
