#headertitle {
	background: url(logo_woongoed_klein.png) no-repeat 10px -12px;
	height:27px;
}
#clienttitle { display:none; } /* because we have a client logo we don't show the client text */

#applicationtitle {	position:absolute; left:100px;}
html>body #applicationtitle { left:140px; }
