#clienttitle {
    margin:-10px 0 0 -10px;
	background: url(../images/wg2000k.jpg) no-repeat 0px top;
	height:70px;
}
#clienttitle span { display:none; } /* because we have a client logo we don't show the client text */

#applicationtitle {	position:absolute; top:29px; left:100px;}
html>body #applicationtitle { left:140px; }
