body {
  background-color: #fff;
  font-family: 'Carrois Gothic', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  text-shadow:none;
  line-height: 1.3em;
  font-weight: 100;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-weight: 300;
}

em {
  text-transform: none;
  font-weight: bold;
  letter-spacing: 0px;
}

.frame {
  position: relative;
  margin:0 auto;
  text-align: center;
  box-shadow: 0px 0px 20px #555;

  width:100%;
  box-shadow: none;
}

.menubar {
  padding:0;
  list-style: none;
  position: absolute;
  width:400px;
  left:35%;
  margin-top:0.5em;
  border-radius: 18px;
  background-color:rgba(255,255,255,0.25);
}
.menubar li {
  display: inline;
  padding:0;
  margin:0;
}
.menubar li.sep {
  border-right:5px solid rgba(0,0,0,0.1);
  padding:0.85em 0.7em 0.6em 0.7em;
  line-height: 2em;
}
.menubar li a {
  width:5em;
  display: inline-block;
  line-height: 2em;
  font-size:1.3em;
  color:#fff;
  text-shadow:0px 0px 3px rgba(0,0,0,0.9);
  text-decoration: none;
}


.image {
  min-width:960px;
  width:100%;
}

.content {
  position: relative;
  font-size: 1.3em;
  line-height: 1.6em;
}
.textblock {
  margin:0 auto;
  width:800px;
}

.loginbutton, .signupbutton {
  position: absolute;
  z-index: 10;
  top:20px;
  right:60px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Dosis, sans-serif;
  background-color: #2789C2;
  color:#fff;
  border-radius: 10px;
  padding:0.3em 0.5em 0.3em 0.5em;
}
.loginbutton a, .signupbutton a {
  padding:0.3em 0.4em 0.3em 0.4em;
  display: inline-block;
  color:#fff;
  text-decoration: none;
}
.signupbutton {
  background-color: #999;
  right:160px;
}

.plrlogin {
  position: relative;
}

.startnu {
  width:305px;
  display:block;
  margin:0 auto;
}

.plrlogo span {
  display: none;
}
.plrlogo {
  position: absolute;
  background: url(polarislogo5.png) no-repeat top left;
  background-size: 100%;
  margin:0 auto;
  padding:0;
  right:10%;
  top:20%;
  height:200px;
  width:240px;
}
@media (max-width: 1060px) {
  .plrlogo {
    left:660px;
  }

}

.textblock {
    text-align: left;
    padding:1em 10% 1em 10%;
}

.section0 {
  background-color: #fff;
}
.section1 h1 {
  text-align: center;
  font-size: 3em;
  margin:0.5em -3em 0.5em -3em;
}
.section1 h1, .section1 {
  color:#000;
}
.logo, .section1 {
  background-color:#FFF;
}

.section2 {
  background:url(bcksilver.png) repeat-x top left;
  background-size: 100px;

  color:#000;
}
.section2 h1 {
  color:#000;
}

.section_hilights {
  background:url(bckblack.png) repeat-x bottom left;
  background-size: 100px;
  padding-bottom:11em;
  height:900px;
}
.section_hilights h1, .section_hilights h2,
.section_hilights .textblock {
  color:#fff;
}
.section_hilights .textblock {
  width:480px;
}

.section4 {
    clear: both !important;
color:#000;
}

.vb {
  font-size: 1.3em;
  font-family: Dosis, sans-serif;
  color:#fff;
  font-weight: bold;
  text-shadow:0px 0px 5px #000;
  position: absolute;
  width:350px;
  text-align: center;
}
.vb1 {
  top:380px;
  left:10px;
}
.vb2 {
  top:340px;
  left:240px;
}
.vb3 {
  top:480px;
  left:540px;
}
.vb4 {
  top:360px;
  left:750px;
}
.vb5 {
  top:440px;
  left:840px;
}

.loginform {
  background-color: #fff;
  color:#000;
  font-size: 1.3em;
  height:170px;
  width:500px;
  border-radius:10px;
}
.loginform input {
  height:1em;
  font-size:0.9em;
  padding:0.2em;
}
.submitbutton {
  background-color:#00A3EE;
  color:#fff;
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: bold;
  font-size:1em;
  border-radius:5px ;
  border:none;
  margin-top:0.8em;
  padding:0.3em 1em 0.3em 1em;
}

#footer, #footer a {
  color:#000;
  padding-bottom:20px;
}

.img span {
  display: none;
}

.appslist {
  font-size:0.6em;
  clear:both;
  width:600px;
  margin:0 auto;
}
.appslist li {
  border-width: 7px;
  width:110px;
  height:110px;
}
.appname {
  padding:0px !important;
  margin:0px !important;
}

.startnu .button {
  margin:1em 0 1em 0;
  font-family: Dosis;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgba(0,0,0,0.2);
}

.prijslijst {
  width:600px !important;
}
.prijslijst tfoot{
  font-weight: bold;
  background-color: #999;
}
.prijslijst tfoot td{
  color:#fff !important;
}
.prijslijst tfoot .footer td{
  color:#000 !important;
}

.prijslijst td {font-size: 0.9em;}

.punt_links, .punt_rechts {
  padding-top:3em;
  position: relative;
  width:450px;
  clear: both !important;
}
.punt_rechts {
  float:right;
  padding-left:0;
  text-align: right;

}

.punt_links ul.appslist {
  position: absolute;
  left:-160px;
  width:120px;
}
.punt_rechts ul.appslist {
  width:120px;
  position: absolute;
  right:-160px;
}
