.datumlijst ul.cursusblok {
	border:1px solid rgba(0,0,0,0.5);
}

.folder-list li {
	padding-left:8px;
}
.folder-list li.active {
	background-color:#1594D2;
}
.folder-list li.active a, .folder-list li.active i {
	color:#fff;
}

tr.fval_GEPUBLICEERD_N span.edit {
	color:#F06C79;
}
